[data-appletid="todo_list"] {
    .applet-div-chrome-container .gridContainer .grid-container {
        > div .data-grid table.backgrid thead th[data-header-instanceid="todo_list-ACTION"]{
            text-align: center;
            .sort-caret{
                position: absolute;
                margin-left: 3px;
            }
        }
    }
}
