.workspaceManager-applet {
    margin: 0px 45px;
    .btn {
        box-shadow: none;
    }
    .panel-primary {
        background-color: $pure-white;
        box-shadow: none;
        height: 85%; //phantomjs fallback
        height: calc(100% - 110px);
        margin-top: 55px;
        .panel-heading {
            border-bottom: 2px solid $primary-light;
            h2 {
                text-transform: capitalize;
            }
        }
        .panel-heading,
        .panel-footer {
            background-color: $primary-lighter;
            padding: 10px;
        }
        .workspace-table {
            &.faux-table {
                .header {
                    font-weight: normal;
                }
                .btn-icon:not(.default-workspace-btn) {
                    color: $grey-darkest;
                }
                .body {
                    .table-row {
                        border-bottom: 1px solid $grey-light;
                        height: 3.3em;
                        .fa {
                            color: $primary-dark;
                        }
                        &:hover {
                            cursor: move;
                        }
                        &.rearrange-row {
                            border: 2px solid $primary-light;
                            cursor: move;
                        }
                        &.predefined-screen-row {
                            background-color: $primary-lighter;
                        }
                        &.user-defined {
                            background-color: $pure-white;
                        }
                        .form-group {
                            .has-error .form-control,
                            .has-error .form-control:focus {
                                border: solid 1px #843534;
                                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
                                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
                                outline: #843534 auto 5px;
                                outline-offset: -2px;
                            }
                            .has-error,
                            .has-success {
                                input.editor-input-element {
                                    padding-right: 15px;
                                }
                            }
                            .form-control {
                                &::-ms-clear {
                                    display: none;
                                    height: 0;
                                    width: 0;
                                }
                                &:focus {
                                    border: solid 1px #66afe9;
                                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                                }
                            }
                            .editor-input-element {
                                padding: 0;
                                background-color: transparent;
                                border: none;
                                -webkit-box-shadow: none;
                                box-shadow: none;
                                text-overflow: ellipsis;
                            }
                            .editor-title-element {
                                width: calc(100% - 20px);
                            }
                        }
                        .show-associations {
                            &.active {
                                border: solid 2px $primary-light;
                            }
                            .fa-tags {
                                margin-top: 3px;
                            }
                        }
                        .association-manager-popover {
                            box-shadow: 1px 1px 10px 0px $grey-darker;
                            cursor: default;
                            width: 350px;
                            max-width: 350px;
                            .association-manager {
                                &.default-workspace {
                                    margin-top: -12px;
                                }
                                .typeahead-wrapper {
                                    .twitter-typeahead {
                                        width: 100%;
                                        input {
                                            padding-right: 20px;
                                        }
                                    }
                                    .clear-search-problem-btn {
                                        display: none;
                                        position: absolute;
                                        right: 18px;
                                        top: 13px;
                                    }
                                    .tt-dropdown-menu {
                                        .tt-suggestion {
                                            &.tt-cursor {
                                                background-color: $primary-lightest;
                                            }
                                            .problem-result {
                                                color: $pure-black;
                                                padding: 0 10px;
                                                &.disabled {
                                                    color: $grey-darker;
                                                }
                                            }
                                        }
                                    }
                                    .problem-loading-container {
                                        border-radius: 0;
                                        position: absolute;
                                        width: 93%;
                                        z-index: 10;
                                    }
                                }
                                .problem-list-region {
                                    border: 1px solid $grey-light;
                                    height: 130px;
                                    overflow-x: hidden;
                                    ul {
                                        padding: 0;
                                        li {
                                            background-color: $grey-lightest;
                                            display: inline-block;
                                            margin: 0;
                                            width: 100%;
                                            &:hover {
                                                background-color: $grey;
                                            }
                                            div,
                                            button {
                                                display: inline;
                                                padding: 1px 6px;
                                                text-decoration: none;
                                                vertical-align: middle;
                                            }
                                        }
                                    }
                                }
                                .ellipsis-text {
                                    overflow-x: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap !important; //using !important to override inline style applied by twitter-typeahead plugin
                                }
                            }
                            .association-manager-footer {
                                margin-top: 10px;
                                button {
                                    margin: -4px 15px 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .border-right {
        border-right: 1px solid $grey-light;
    }
}

.workspace-preview {

    .gridsterContainer {
        height: 100%;
        overflow-x: auto;
        width: 568px;
        .gridsterPreview {
            height: 100%;
        }
        ul {
            height: 260px !important; //important necessary to overwrite gridster inline styles
            list-style: none;
            li {
                background-color: $primary-lightest;
                box-shadow: 2px 2px 1px rgba(0, 0, 0, .35), 2px 2px 1px rgba(0, 0, 0, .15);
                padding: 0px 5px;
                text-align: center;
                h4 {
                    margin: 0;
                    padding-bottom: 5px;
                }
                h4.applet-title {
                    font-size: 11px;
                    font-weight: bold;
                }
                h5 {
                    font-size: 11px;
                    font-weight: bold;
                }
                p {
                    font-size: 11px;
                    font-weight: normal;
                    text-transform: capitalize;
                }
            }
        }
    }
}

.workspace-selector {
    // BEGIN -- Should be in ADK
    margin: -3px 0;
    .dropdown[class*="dropdown--"] {
        &.open > button.btn.dropdown-toggle {
            &,
            &:hover,
            &:active,
            &:focus {
                background-color: $primary;
                &,
                .context-name {
                    color: $pure-white;
                }
            }
        }
        button.btn.dropdown-toggle {
            padding: 5px 10px;
            border-radius: 0;
            background-color: $pure-white;
            color: $primary-dark;
            &:hover,
            &:active,
            &:focus {
                background-color: $primary;
                &,
                .context-name {
                    color: $pure-white;
                }
            }
        }
        .dropdown-menu {
            li.list-group-item {
                &:first-child {
                    border-radius: 0px;
                }
                &.active,
                &.active:hover,
                &.active:focus {
                    background-image: none;
                    text-shadow: none;
                    background-color: $primary-light;
                    color: $primary-dark;
                    border-color: $pure-white;
                    font-weight: bold;
                }
                a {
                    border-bottom: 1px solid $grey-lighter;
                    color: $grey-darkest;
                    padding: 8px;
                    white-space: nowrap;
                }
            }
        }
    }
    // END -- Should be in ADK
    .btn {
        box-shadow: none;
    }
    .context-name {
        color: $grey-darkest;
    }
    .workspace-name {
        i {
            vertical-align: middle;
        }
    }
    .dropdown--workspace {
        // Provides seperatation/line between workspace dropdown and the options dropdown
        margin-right: 2px;
        > button {
            width: 100%;
        }
    }
    .dropdown-menu {
        width: 100%;
        // Min-width set for both the workspace and options dropdown menus
        min-width: 300px;
        margin: 0;
        .dropdown-body {
            max-height: 240px;
            overflow-y: auto;
        }
        // Dropdown Menu Filter Specific Styling
        .dropdown-header {
            padding: 3px;
            form {
                input {
                    padding-left: 18px;
                    padding-right: 18px;
                    &::-ms-clear {
                        display: none;
                    }
                }
                button {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                }
                i.fa-filter {
                    position: absolute;
                    left: 8px;
                    top: 11px;
                }
            }
        }
    }
}
