.workspaceManager-applet {
    margin: 0px 45px;
    .btn {
        box-shadow: none;
    }
    .panel-primary {
        background-color: $pure-white;
        border-radius: 0px;
        box-shadow: none;
        height: 85%; //phantomjs fallback
        height: calc(100% - 110px);
        margin-top: 55px;
        .panel-heading {
            border-bottom: 2px solid $primary-light;
        }
        .panel-heading, .panel-footer {
            background-color: $primary-lighter;
            padding: 10px;
        }
        .backgrid-filter {
            .fa-filter {
                left: 10px;
                position: absolute;
                top: 9px;
                z-index: 1;
            }
            input[type='search'].workspace-filter-input {
                padding: 5px 25px;
                width: 90%; //phantomjs fallback
                width: 30%;
            }
            .clear {
                display: none;
                left: auto;
                position: relative;
                right: 21px;
                top: 6px;
            }
        }
        .workspace-table {
            &.faux-table {
                .header {
                    font-weight: normal;
                }
                .btn-icon:not(.default-workspace-btn) {
                    color: $grey-darkest;
                }
                .body {
                    .table-row {
                        border-bottom: 1px solid $grey-light;
                        height: 3.3em;
                        .table-cell,
                        .table-cell > button {
                            height: 100%;
                        }
                        .fa {
                            color: $primary-dark;
                        }
                        &:hover {
                            cursor: move;
                        }
                        &.rearrange-row {
                            border: 2px solid $primary-light;
                            cursor: move;
                        }
                        &.predefined-screen-row {
                            background-color: $primary-lighter;
                        }
                        &.user-defined{
                            background-color: $pure-white;
                        }
                        .form-group {
                            margin-bottom: 0;
                            .has-error .form-control,
                            .has-error .form-control:focus {
                                border: solid 1px #843534;
                                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
                                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
                                outline: #843534 auto 5px;
                                outline-offset: -2px;
                            }
                            .form-control {
                                &::-ms-clear {
                                    display: none;
                                    height: 0;
                                    width: 0;
                                }
                                &:focus {
                                    border: solid 1px #66afe9;
                                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                                }
                            }
                            .editor-input-element {
                                background-color: transparent;
                                border: none;
                                -webkit-box-shadow: none;
                                box-shadow: none;
                                font-size: 11px;
                                text-overflow: ellipsis;
                            }
                            .editor-title-element {
                                width: calc(100% - 20px);
                            }
                        }
                        .show-associations {
                            &.active {
                                border: solid 2px $primary-light;
                            }
                            .fa-tags {
                                margin-top: 3px;
                            }
                        }
                        .association-manager-popover {
                            box-shadow: 1px 1px 10px 0px $grey-darker;
                            cursor: default;
                            height: 220px;
                            width: 350px;
                            max-width: 350px;
                            .association-manager {
                                &.default-workspace {
                                    margin-top: -12px;
                                }
                                .typeahead-wrapper {
                                    .twitter-typeahead {
                                        width: 100%;
                                        input {
                                            font-size: 12px;
                                            height: 30px;
                                            padding-right: 20px;
                                        }
                                    }
                                    .clear-search-problem-btn {
                                        display: none;
                                        position: absolute;
                                        right: 18px;
                                        top: 13px;
                                    }
                                    .tt-dropdown-menu {
                                        background-color: $pure-white;
                                        border-radius: 4px;
                                        box-shadow: 1px 1px 10px 0px $grey-darker;
                                        display: none;
                                        max-height: 135px;
                                        overflow-x: hidden;
                                        overflow-y: auto;
                                        padding: 5px;
                                        width: 100%;
                                        .tt-suggestion {
                                            &.tt-cursor {
                                                background-color: $primary-lightest;
                                            }
                                            .problem-result {
                                                color: $pure-black;
                                                padding: 0 10px;
                                                &.disabled {
                                                    color: $grey-darker;
                                                }
                                            }
                                        }
                                    }
                                    .problem-loading-container {
                                        border-radius: 0;
                                        position: absolute;
                                        width: 93%;
                                        z-index: 10;
                                    }
                                }
                                .problem-list-region {
                                    border: 1px solid $grey-light;
                                    height: 130px;
                                    overflow-x: hidden;
                                    ul {
                                        padding: 0;
                                        li {
                                            background-color: $grey-lightest;
                                            display: inline-block;
                                            margin: 0;
                                            width: 100%;
                                            &:hover {
                                                background-color: $grey;
                                            }
                                            div,
                                            button {
                                                display: inline;
                                                padding: 1px 6px;
                                                text-decoration: none;
                                                vertical-align: middle;
                                            }
                                        }
                                    }
                                }
                                .ellipsis-text {
                                    overflow-x: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap !important; //using !important to override inline style applied by twitter-typeahead plugin
                                }
                            }
                            .association-manager-footer {
                                height: 45px;
                                margin-top: 10px;
                                button {
                                    margin: -4px 15px 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .border-right {
        border-right: 1px solid $grey-light;
    }
}

.workspace-preview {
    height: 300px;
    width: 800px;
    .gridsterContainer {
        height: 100%;
        overflow-x: auto;
        width: 568px;
        .gridsterPreview {
            height: 100%;
        }
        ul {
            list-style: none;
            li {
                background-color: $primary-lightest;
                box-shadow: 2px 2px 1px rgba(0, 0, 0, .35), 2px 2px 1px rgba(0, 0, 0, .15);
                padding: 0px 5px;
                text-align: center;
                h4 {
                    margin: 0;
                    padding-bottom: 5px;
                }
                h4.applet-title {
                    font-size: 11px;
                    font-weight: bold;
                }
                h5 {
                    font-size: 11px;
                    font-weight: bold;
                }
                p {
                    font-size: 11px;
                    font-weight: normal;
                    text-transform: capitalize;
                }
            }
        }
    }
}

.context-navigation-bar {
    .workspace-manager-btn {
        border-radius: 20px;
        padding: 4px 7px;
        &.workspace-editor-trigger-button {
            padding: 4px 8px;
        }
        .fa-caret-down {
            padding: 2px 5px 0 0;
        }
    }
}

.workspace-selector {
    flex: 3 0 35%;
    max-width: 325px;
    .btn-primary {
        &.dropdown-toggle {
            border: none;
            width: 100%;
            min-width: 150px;
        }
    }
    .workspace-editor-button-region {
        margin-left: -3px;
    }
    .dropdown-menu {
        width: 100%;
        .dropdown-header {
            overflow: hidden;
            padding: 3px;
            form {
                .input-sm::-ms-clear {
                    display: none;
                }
                i.fa-filter {
                    left: 10px;
                    position: absolute;
                    top: 12px;
                }
                input {
                    padding: 5px 18px;
                }
                button {
                    position: absolute;
                    right: 7px;
                    top: 7px;
                }
            }
        }
        .dropdown-body {
            max-height: 263px;
            overflow-y: auto;
            .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
                background-image: none;
                text-shadow: none;
                background-color: $primary-light;
                color: $primary-dark;
                border-color: $pure-white;
                font-weight: bold;
            }
            li {
                a {
                    border-bottom: 1px solid $grey-lighter;
                    color: $grey-darkest;
                    padding: 8px;
                    white-space: nowrap;
                }
            }
        }
        .dropdown-footer {
            button {
                text-align: left;
            }
        }
    }
}
