// resets or only for this file?
body {
    overflow: auto;
}
hr {
    padding: 5px;
    margin: 0 15px;
}

// styles for this view
.patient-info-bar {
    border-left: none;
    min-height: 710px;
    width: 160px;
    background: white;
    .patient-demographic {
        background: $primary;
        color: $pure-white;
        height: 260px;
        margin-bottom: 45px;
        width: 100%;
        &:after {
            content: "";
            border-top: 39px solid $primary;
            border-left: 79px solid transparent;
            border-right: 79px solid transparent;
            position: relative;
            z-index: 0;
            top: 5px;
            width: 0px;
            height: 0;
        }
        .profile-img {
            background: $primary-dark;
            display: inline-block;
            height: 18px;
            margin-bottom: 106px;
            position: relative;
            width: 100%;
            &:after {
                content: "";
                border-top: 22px solid $primary-dark;
                border-left: 50px solid transparent;
                border-right: 50px solid transparent;
                position: absolute;
                top: 18px;
                left: 0;
                width: 100%;
                height: 0;
            }
            img {
                border: 6px solid $pure-white;
                border-radius: 50%;
                left: 18px;
                position: absolute;
                top: 18px;
                z-index: 1;
            }
        }
        .patient-info {
            min-height: 164px;
            padding: 20px;
            z-index: 1;
            position: relative;
            .small {
                color: $pure-white;
                margin: 5px 0 10px 0;
                display: block;
            }
            .more-patient-info {
                background-color: $primary-dark;
                border-radius: 50%;
                color: $pure-white;
                margin: 10px 0 0 50px;
                position: relative;
                padding: 0 5px;
                &.active::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    box-sizing: border-box;
                    border: 5px solid $pure-white;
                    border-color: transparent transparent $pure-white $pure-white;
                    transform-origin: 0 0;
                    transform: rotate(45deg);
                    box-shadow: -2px 2px 2px 0 $grey-dark;
                    z-index: 9999;

                    top: -100px;
                    left: 101px;
                }
                &:active, &:focus {
                    background-color: $primary-lightest;
                    color: $primary-dark;
                }
            }
        }
    }
    .section-content {
        padding: 5px 15px 5px 15px;
        p strong {
            color: $primary;
        }
        .info {
        	margin: 10px 0 0 4px;
        }
    }
    ul.postings {
        list-style-type: none;
        padding-left: 0;
        li {
            margin: 4px 0px;
            > button {
                background-color: $primary-lightest;
                border: 0;
                border-radius: 20px;
                width: 100%;
                text-align: left;
                position: relative;
                text-transform: capitalize;
                color: $grey;
                &.active::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    box-sizing: border-box;
                    border: 5px solid $pure-white;
                    border-color: transparent transparent $pure-white $pure-white;
                    transform-origin: 0 0;
                    transform: rotate(45deg);
                    box-shadow: -2px 2px 2px 0 $grey-dark;
                    z-index: 9999;   

                    top: 2px;
                    left: 156px;
                }
                &.active {
                    background-color: $primary;
                    color: $pure-white;
                }
                &.inactive {
                    color: $grey;
                }
                i {
                    margin-top: 2px;
                    float: right;
                    &.inactive {
                        color: $grey;
                    }
                    &.warning {
                        color: $tertiary;
                    }
                    &.flagged {
                        color: $red;
                    }
                }
            }
        }
    }
    p {
        margin: 0 0 0 0;
    }
    hr {
    	padding-bottom: 2px;
    }
    h2 {
        margin: 0;
    }
}
.more {
	height: 1px;
	background: $grey-light;
	margin: 15px;
	.more-provider-info {
	    background-color: $primary-lightest;
	    border-radius: 50%;
	    color: $primary;
	    margin: -16px 0 0 52px;
        position: relative;
        padding: 0 5px;
        &.active::before { // con be cleaned up more
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            box-sizing: border-box;
            border: 5px solid $pure-white;
            border-color: transparent transparent $pure-white $pure-white;
            transform-origin: 0 0;
            transform: rotate(45deg);
            box-shadow: -2px 2px 2px 0 $grey-dark;
            z-index: 9999;
            
            top: -100px;
            left: 103px;
        }
	    &:active, &:focus {
	        background-color: $primary;
	        color: $pure-white;
	    }
	}
}


// popovers
.more-patient-info-popover, 
.crisis-popover, 
.warning-popover, 
.allergies-popover, 
.directives-popover, 
.flags-popover,
.more-provider-info-popover {
    background-color: $pure-white;
    box-shadow: 0 0 6px $grey;
    border-radius: 0;
    display: block;
    min-width: 670px;
    max-width: 670px;
    position:absolute;
    top: 240px;
    left: 170px;
    h3 {
        padding: 10px 15px;
        margin: 0;
        color: $primary;
        background-color: $primary-lightest;
        border-bottom: 1px solid $grey-light;
    }
    .content {
        padding: 0 15px 15px 15px;
        h4 {
            margin: 20px 0 0 0;
        	padding: 0;        
        }
        .row {
            margin: 0;
            padding: 0;
            hr {
                margin: 5px 0 0 0;
            }
            .data-content p {
                clear: both;
                margin: 0;
                strong, span {
                    width: 45%;
                    float: left;
                }
                > span {
                    width: 55%;
                }
            }
        }
        // this new style should overwrite all these globally?
        .label.applet-badges.label-abnormal {
            background-color: $tertiary;
            text-align: left;
            border-radius: 0;
            border: 1px solid $tertiary-dark;
            padding: 5px;
        }
    }
}
.more-patient-info-popover {
    top: 50px;
}
.more-provider-info-popover {
    top: inherit;
    bottom: 20px;
    left: 170px;
    .scrolling-content {
        height: 180px;
    }
    h3 {
        padding: 0;
        background: none;
        border: none;
    }
}
// postings popovers scrolling content
.crisis-popover .content, .allergies-popover .content, .directives-popover .content, .flags-popover .content {
    height: 275px;
    overflow: auto;
    // clean up
    .data-content p strong {
        text-align: right;
        padding-right: 15px;
    }
}
.directives-popover {
    .content {
        height: 240px;
    }
}