<table class="table">
	<tbody>
		<tr>
			<th>Service</th>
			<td>{{ taskModel.SERVICE }}</td>
		</tr>
		<tr>
			<th>Task</th>
			<td>{{ taskModel.TASKNAME }}</td>
		</tr>
		<tr>
			<th>Created By</th>
			<td>{{ taskModel.CREATEDBYNAME }}</td>
		</tr>
		<tr>
			<th>Due date</th>
			<td>{{ taskModel.dueDateTime }} <strong>{{ taskModel.dueText }}</strong></td>
		</tr>
	</tbody>
</table>
<br>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">Instructions</h4>
	</div>
	<div class="panel-body">
		<p>
			{{ taskModel.DESCRIPTION }}
		</p>
	</div>
</div>