//[data-appletid="patient-sync-status"] {}
#patientSyncStatusRegion {
    .loading-muted {
        color: rgba(255, 255, 255, 0.5);
    }
}
#syncStatusModal {
    margin: -15px;
    .fa-exclamation-circle,
    .sync-failed-text {
        color: $red-dark;
    }
    .source-list-panel {
        #syncSourceSites {
            list-style-type: none;
            padding-left: 0;
            li {
                cursor: pointer;
                padding: 5px;
                line-height: 1;
                .fa-check-circle {
                    color: green;
                }
                button {
                    padding-left: 5px;
                }
                p {
                    margin-bottom: 4px;
                }
                .source-sync-details {
                    padding-left: 20px;
                }
            }
            li:hover,
            li.selected {
                color: $primary;
                background-color: $primary-lighter;
            }
        }
    }
    .sync-site-detail {
        padding: 0;
        border-left: 1px solid $grey-lighter;
        .row {
            margin: 0;
        }
        #forceSiteSyncStatus p {
            margin: 5px;
            padding: 5px
        }
        table {
            width: 100%;
            font-size: 12px;
            thead {
                border-top: 2px solid $grey-lighter;
                border-bottom: 2px solid $grey-lighter;
                th {
                    cursor: pointer;
                }
            }
            th,
            td {
                width: 25%;
                padding-left: 15px;
            }
        }
        .sync-site-detail-header .force-source-sync {
            float: right;
            margin: 13px 10px 13px 0;
        }
    }
}