<div class="control form-group editActionAlertMessage-control alertMessage" aria-live="assertive">
    <div class="alert alert-warning alert-user">
        <div class="alert-content">
            <p><strong><i class="fa fa-exclamation-triangle"></i> Retained User Permissions Info</strong></p>
            <p><strong>The following users will retain the listed permissions based on the combination of Permission Sets and Additional Individual Permissions that were chosen to be removed.</strong></p>
            {{#each users}}
            <p><strong>{{formattedName}} {{retainedPermissionsCountText}} :</strong> {{retainedPermissions}}</p>
            {{/each}}
            <p><strong>Do you want to proceed?</strong></p>
            <button type="button" id="cancelActionReturnButton" class="btn btn-default" title="Cancel action and return to user search">
                <span aria-hidden="true">No</span>
            </button>
            <button type="button" id="confirmActionButton" class="btn btn-default left-margin-xs">
                <span aria-hidden="true">Yes</span>
            </button>
        </div>
    </div>
</div>