<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>eHMP Bootstrap UI Library - Details View</title>
    <link rel="stylesheet" href="../../../_assets/css/vendor.css" />
    <link rel="stylesheet" href="../../../_assets/css/adk.css" />
    <link rel="stylesheet" href="../../app/css/applets.css">
    <link rel="stylesheet" href="../../css/main-styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700" />
    <script src="../../js/jquery-1.11.2.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../_assets/libs/bower/highcharts/highcharts.js"></script>
    <!--
        Notes:
        This design is built around the parameters that:
         - The minimum height of the application is 800px, and we do not need to make it responsive below that height
         - The minimun width of the application is 1280px, and everything in the global nav and workspace nav can fit in that width.
            The nav elements have a fixed height and are not built to stack if either one is not wide enough to fit their contents. If that 
            behavior is desired, the design of the right tray bar will have to change. Currently, the tray is designed to have a fixed position, 
            meaning it will not reposition if the navs above it stack and change height.

        It is preferred that <aside> be used for the left and right side bars. If that cannot be done, <div role="region"> would work as well.
     -->
</head>

<body class="library patient-info-redesign">
    <div id="topRegion">
        <nav aria-label="Global navigation Bar" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <i class="fa fa-user" aria-hidden="true"></i><i class="fa fa-search" aria-hidden="true"></i> Patient Selection
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user-md"></i> My Workspace
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-bell"></i> My Notifications
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#" aria-expanded="false">
                            <i class="fa fa-user"></i> USER, PANORAMA <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu right-padding-sm">
                            <li class="color-grey-darkest">PANORAMA</li>
                            <li>Clinician</li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-power-off"></i> Sign Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="divider-left">
                        <div>
                            <a class="help-icon-link" href="#">
                                <i class="fa fa-question-circle fa-lg color-primary"><span class="sr-only">Help</span></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="centerRegion">
        <aside aria-label="Patient Information Bar" class="info-bar">
            <h2>Patient Eight</h2>
            <button class="btn btn-sm">Tab Order Check</button>
        </aside>
        <div id="workspaceRegion">
            <nav aria-label="Workspace Navigation Bar">
                <ul class="all-padding-no all-margin-no">
                    <li>Workspace Nav: </li>
                    <li class="active">
                        <a href="#">Overview</a>
                    </li>
                    <li>
                        <a href="#" class="">Coversheet</a>
                    </li>
                    <li>
                        <a href="#" class="">Meds Review</a>
                    </li>
                </ul>
            </nav>
            <div class="applets-container">
                <aside aria-label="Tray Sidebar" class="tray-bar">
                    <button class="btn btn-sm all-padding-no">TOC</button>
                </aside>
                <main>
                    <br>
                   <div class="big">
                       <h2>This is wide content that causes the Main region to scroll <span class="pull-right">The End</span><h2>
                   </div>
                    <button class="big-content-btn">Hide the large content, remove the scroll</button>
                    <br>
                    <button class="info-btn">Hide the Patient Info Bar</button>
                    <br>
                    <button class="tray-btn">Hide the Tray Bar</button>
                    <div style="
                        position: absolute;
                        top: 800px;
                        left: 50%;">
                        -------- min-height: 800px --------
                    </div>
                </main>
            </div>
        </div>
    </div>
    <footer>
        <p><strong>eHMP</strong> version <span id="appVersion">unknown.0</span></p>
    </footer>


    <script>
        $(document).ready(function(){
            var hideBigContent = $('.big-content-btn');
            var hideInfoBtn = $('.info-btn');
            var hideTrayBtn = $('.tray-btn');

            var bigContent = $('.big');
            var infoBar = $('.info-bar');
            var trayBar = $('.tray-bar');

            hideInfoBtn.click(function(){
                infoBar.toggleClass('hide');
            })

            hideTrayBtn.click(function(){
                trayBar.toggleClass('hide');
            })

            hideBigContent.click(function(){
                bigContent.toggleClass('hide');
            })
        });
    </script>

</body>

</html>
