<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>eHMP Bootstrap UI Library - Tray</title>
    <link rel="stylesheet" href="../../../_assets/css/vendor.css" />
    <link rel="stylesheet" href="../../../_assets/css/adk.css" />
    <link rel="stylesheet" href="../../css/main-styles.css" />
    <script src="../../js/jquery-1.11.2.min.js"></script>
</head>

<body class="library">
    <!-- Begin Navigation -->
    <div id="navigation" class="navbar-fixed-top"></div>
    <!-- End Navigation -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="../../index.html">eHMP UI Bootstrap Library</a></li>
            <li><a href="../../views.html">Views</a></li>
            <li class="active">F810 - Integrate Note Objects and Comments into Unformatted Progress Notes (PSI11)</li>
        </ol>
        <h1>F810 - Integrate Note Objects and Comments into Unformatted Progress Notes (PSI11)</h1>
        <div class="description">
            <p><strong><i class="fa fa-leanpub"></i> Description:</strong> This is the 508 compliant static HTML/CSS mock up of the Tray view.</p>
            <p><strong><i class="fa fa-file-text-o"></i> Documents:</strong> Please also view below for full details on implementation:</p>
            <ul>
                <li><a href="http://teg6bq.axshare.com/#p=f810-notes_objects_2_0">Wireframe</a></li>
                <!-- <li>Use Scenario Case Documentation (To Come) <small>[PDF,]</small></li>
                    <li>508 Test Case Documentation (To Come) <small>[PDF,]</small></li> -->
                <li><a href="../../img/us13675.png">Screenshot</a> <small>[PNG, 45KB]</small></li>
            </ul>
        </div>
        <hr />
    </div>
    <div class="container-fluid">
        <div class="well well-sm bottom-margin-xs">
            <div class="row">
                <div class="col-xs-10 right-border-grey-light">
                    <p class="bottom-margin-no top-margin-no color-grey-darker">03/01/2016 | 09:00</p>
                    <p class="bottom-margin-no top-margin-no">Diabetes<br />Lorem ipsum dolor sit amet, consectetur adipiscing elit, doqq&hellip;</p>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-default btn-xs bottom-margin-xs" title="Press enter to view note object details">View</button>
                    <button type="button" class="btn btn-default btn-xs" title="Press enter to add note object">Add</button>
                </div>
            </div>
        </div>
        <div class="well well-sm bottom-margin-xs">
            <div class="row">
                <div class="col-xs-10 right-border-grey-light">
                    <p class="bottom-margin-no top-margin-no color-grey-darker">02/29/2016 | 08:00</p>
                    <p class="bottom-margin-no top-margin-no">Loremems Lorem ipsum dolor sit amet, consectetur adipiscing elit, doqq&hellip;</p>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-default btn-xs bottom-margin-xs" title="Press enter to view note object details">View</button>
                    <button type="button" class="btn btn-default btn-xs" title="Press enter to add note object">Add</button>
                </div>
            </div>
        </div>
        <div class="well well-sm bottom-margin-xs">
            <div class="row">
                <div class="col-xs-10 right-border-grey-light">
                    <p class="bottom-margin-no top-margin-no color-grey-darker">01/31/2015 | 07:00</p>
                    <p class="bottom-margin-no top-margin-no">- One
                        <br> - Two
                        <br> - Three
                        <br> - Four
                        <br> - Five
                        <br> - Six
                        <br> - Seven
                        <br> - Eight
                        <br> - Nine
                        <br> - Ten
                        <br> - Eleven
                        <br> - …
                    </p>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-default btn-xs bottom-margin-xs" title="Press enter to view note object details">View</button>
                    <button type="button" class="btn btn-default btn-xs" title="Press enter to add note object">Add</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    $("#navigation").load("../../library-modules/navigation.html");
    </script>
    <script src="../../js/bootstrap.min.js"></script>
</body>

</html>
