<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>eHMP Bootstrap UI Library - Patient Information Bar</title>
    <link rel="stylesheet" href="../../../_assets/css/vendor.css" />
    <link rel="stylesheet" href="../../../_assets/css/adk.css" />
    <!-- we should not be loading root level styles here 
         these root level shouldn't be different than what is being used in the application -->
    <!-- <link rel="stylesheet" href="../../css/main-styles.css" /> -->
    <script src="../../js/jquery-1.11.2.min.js"></script>
    <script src="../../../_assets/libs/bower/bootstrap/bootstrap.min.js"></script>
</head>

<body class="library">
    <div class="row flex-display">
        <aside class="patient-info-bar" style="flex: none;">
            <section class="patient-demographic"></section>
            <section></section>
            <hr aria-hidden="true" />
            <section></section>
        </aside>
        <div class="content-region-resize-width flex-display" style="flex: 1; display: flex; flex-direction: column;">
            <section id="navigation-region" class="additional-content-region-height-calculation">
                <div class="">
                    <div class="context-navigation-bar left"></div>
                    <div class="context-navigation-bar right"></div>
                </div>
            </section>
            <div class="flex-display" style="display: flex; flex: 1; background: red;">
                <section id="content-region" class="content-region-resize-height" style="flex: 1;"></section>
                <aside class="patient-writeback-tray-container" style="flex: none; width: 60px; background: green;"></aside>
            </div>
        </div>
    </div>
</body>

</html>
