<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eHMP Bootstrap UI Library - Patient Information Bar</title>
    <link rel="stylesheet" href="../../../_assets/css/vendor.css" />
    <link rel="stylesheet" href="../../../_assets/css/adk.css" />
    <script src="../../js/jquery-1.11.2.min.js"></script>
    <script src="../../../_assets/libs/bower/bootstrap/bootstrap.min.js"></script>
</head>
<body class="library">
<!--     
    <div id="navigation" class="navbar-fixed-top"></div>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="../../index.html">eHMP UI Bootstrap Library</a></li>
            <li><a href="../../views.html">Views</a></li>
            <li class="active">Patient Information Bar MarkUp</li>
        </ol>
        <h1>Patient Information Bar MarkUp</h1>
        <div class="description">
            <p><strong><i class="fa fa-leanpub"></i> Description:</strong> This is the 508 compliant static HTML/CSS mock up of the Patient Information Bar.</p>
            <p><strong><i class="fa fa-file-text-o"></i> Documents:</strong> Please also view below for full details on implementation:</p>
            <ul>
                <li><a href="http://h352jh.axshare.com/#p=patient_chart">Wireframe</a></li>
                <li>Workflow Diagram <small>[PDF,]</small></li>
                <li>Use Scenario Case Documentation <small>[PDF,]</small></li>
                <li><a href="../../docs/508-test-cases/508-test-case-application-2.0.xls">508 Test Case Documentation</a> <small>[PDF, 57KB]</small></li>
            </ul>
        </div>
        <hr />
    </div> -->

    <aside class="patient-info-bar">
        <section class="patient-demographic">
            <div class="profile-img">
                <img src="../../img/photo.jpg" width="120" height="120" alt="Patient, Eight">
            </div>
            <div class="patient-info">
                <h2>
                    <span class="sr-only">Patient's Name:</span>Patient, Eight<br />
                    <span class="sr-only">Type of care:</span><span class="small">Inpatient</span>
                </h2>
                <p><strong aria-hidden="true">DOB:</strong> <span class="sr-only">Patient's date of birth</span>04/07/1935 (80<span aria-hidden="true">y</span><span class="sr-only">years old</span>)</p>
                <p><strong aria-hidden="true">SSN:</strong> <span class="sr-only">Social Security Number</span>XXX-XX-0008</p>
                <p><strong>Gender:</strong> Male</p>
                <button type="button" class="btn btn-default btn-xs more-info" title="Press enter to view more demographic information">
                    <i class="fa fa-chevron-right font-size-12"></i>
                </button>
            </div>
        </section>
        <section>
            <div class="section-content">
                <h2>Postings</h2>
                <ul class="postings">
                    <li>
                        <button type="button" class="btn btn-default btn-xs crisis" title="Press enter to view this patient's crisis notes" data-popover="crisis">Crisis <i class="fa fa-chevron-right warning"></i></button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-default btn-xs warning inactive disabled" disabled title="This patient does not have warning notes" data-popover="warnings">Warnings <i class="fa fa-chevron-right inactive"></i></button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-default btn-xs allergies" title="Press enter to view this patient's allergies notes" data-popover="allergies">Allergies <i class="fa fa-chevron-right warning"></i></button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-default btn-xs directives" title="Press enter to view this patient's directives notes" data-popover="directives">Directives <i class="fa fa-chevron-right warning"></i></button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-default btn-xs flags" title="Press enter to view this patient's flags notes" data-popover="flags">Flags <i class="fa fa-chevron-right flagged"></i></button>
                    </li>
                </ul>
            </div>
        </section>
        <hr aria-hidden="true" />
        <section>
            <div class="section-content">
                <h2>Provider Info</h2>
                <div class="info">
                    <p><strong>Primary Care:</strong></p>
                    <p>Red</p>
                    <p>Unassigned/Assigned</p>
                    <p>(555) 555-5551</p>
                </div>
                <div class="info">
                    <p><strong>Inpatient Attending:</strong></p>
                    <p>Provider, Thirty</p>
                </div>
                <div class="info">
                    <p><strong>Provider:</strong></p>
                    <p>Provider, Twenty</p>
                </div>
            </div>
            <div class="more">
                <button type="button" class="btn btn-default btn-xs more-info" title="Press enter to view more provider information">
                    <i class="fa fa-chevron-right font-size-12"></i>
                </button>
            </div>
        </section>
    </aside>
<!--     <script>
        $("#navigation").load("../../navigation.html");
    </script> -->
</body>
</html>