<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>eHMP Bootstrap UI Library - Tray</title>
    <link rel="stylesheet" href="../../../_assets/css/vendor.css" />
    <link rel="stylesheet" href="../../../_assets/css/adk.css" />
    <link rel="stylesheet" href="../../css/main-styles.css" />
    <script src="../../js/jquery-1.11.2.min.js"></script>
</head>

<body class="library">
    <!-- Begin Navigation -->
    <div id="navigation" class="navbar-fixed-top"></div>
    <!-- End Navigation -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="../../index.html">eHMP UI Bootstrap Library</a></li>
            <li><a href="../../views.html">Views</a></li>
            <li class="active">F8613 - 2.0 - Multi-Tasking UI "Tray" for Write-Back (PSI10)</li>
        </ol>
        <h1>F8613 - 2.0 - Multi-Tasking UI  "Tray" for Write-Back (PSI10)</h1>
        <div class="description">
            <p><strong><i class="fa fa-leanpub"></i> Description:</strong> This is the 508 compliant static HTML/CSS mock up of the Tray view.</p>
            <p><strong><i class="fa fa-file-text-o"></i> Documents:</strong> Please also view below for full details on implementation:</p>
            <ul>
                <li><a href="../../img/10-PV-v3.jpg">Screen shot</a></li>
            </ul>
        </div>
        <hr />
    </div>
    <div class="container sidebar">
        <div>
            <ul class="list-inline tray-menu">
                <li>
                    <button type="button" class="btn btn-primary" title="Press enter to activate notes tray" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                        <div class="icon icon-icon_notes"></div> Notes
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary" title="Press enter to activate observations tray" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                        <div class="icon icon-icon_observations"></div> Observations
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary" title="Press enter to activate tasks tray" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        <div class="icon icon-icon_tasks"></div> Tasks
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary" title="Press enter to activate encounters tray" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                        <div class="icon icon-icon_encounters"></div> Encounter
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <script>
    $("#navigation").load("../../library-modules/navigation.html");
    </script>
    <script src="../../js/bootstrap.min.js"></script>
</body>
</html>