<div class="row">
	<div class="col-xs-3">
		<p><strong>Requested by</strong><br />
		{{#if consultOrder.executionUserName}}{{consultOrder.executionUserName}} on {{formatDate consultOrder.executionDateTime "MM/DD/YYYY"}}{{else}}N/A{{/if}}</p>
	</div>
	<div class="col-xs-3">
		<p><strong>Facility requested</strong><br />
		{{#if consultOrder.facility.name}}{{consultOrder.facility.name}}{{else}}N/A{{/if}}</p>
	</div>
	<div class="col-xs-3">
		<p><strong>Earliest date</strong><br />
		{{#if consultOrder.earliestDate}}{{consultOrder.earliestDate}}{{else}}N/A{{/if}}</p>
	</div>
	<div class="col-xs-3">
		<p><strong>Latest date</strong><br />
		{{#if consultOrder.latestDate}}{{consultOrder.latestDate}}{{else}}N/A{{/if}}</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<p>Condition related to: {{#if consultOrderCondition}}{{consultOrderCondition}}{{else}}N/A{{/if}}</p>
	</div>
</div>
<div class="row" id="currentAppointmentRegion"></div>
<div class="row" id="associatedNotesRegion"></div>
<div class="row" id="requestRegion"></div>
<div class="row" id="prerequisitesRegion"></div>