<div class="col-xs-12">
    <div class="col-xs-2 left-padding-no">
        <h5 class="all-margin-no all-padding-no">{{highlightText templateHeadersText.prerequisites}}</h5>
    </div>
    <div class="col-xs-10 all-padding-no text-right">{{consultOrder.totalMet}} of {{consultOrder.totalCount}} met</div>
    <hr aria-hidden="true" />
    <table class="table ehmp-table-default table-bordered">
        <caption class="sr-only">This table represents data for consult questions, responses and if the prerequisite was met</caption>
        <thead>
            <tr class="bold-font">
                <th scope="col" class="percent-width-45">Questions</th>
                <th scope="col" class="percent-width-50">Response</th>
                <th scope="col" class="percent-width-5">Met</th>
            </tr>
        </thead>
        <tbody>
            {{#if consultOrder.enablePrerequisiteQuestions}}
                {{#each consultOrder.prerequisiteQuestions}}
                <tr>
                    <td class="percent-width-45">{{highlightText label}}</td>
                    <td class="percent-width-50">{{highlightText value}}</td>
                    <td class="percent-width-5">{{#if met}}<i class="fa fa-check fa-lg color-secondary left-padding-xs"></i>{{/if}}</td>
                </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="3">N/A</td>
                </tr>
            {{/if}}
        </tbody>
    </table>
    <table class="table ehmp-table-default table-bordered top-margin-lg">
        <caption class="sr-only">This table represents data for orders/results, status and if the order/result was met</caption>
        <thead>
            <tr class="bold-font">
                <th scope="col" class="percent-width-45">Orders/Results</th>
                <th scope="col" class="percent-width-50">Status</th>
                <th scope="col" class="percent-width-5">Met</th>
            </tr>
        </thead>
        <tbody>
            {{#if consultOrder.enablePrerequisiteOrders}}
                {{#each consultOrder.prerequisiteOrders}}
                <tr>
                    <td class="percent-width-45">{{highlightText label}}</td>
                    <td class="percent-width-50">{{highlightText value}}</td>
                    <td class="percent-width-5">{{#if met}}<i class="fa fa-check fa-lg color-secondary left-padding-xs"></i>{{/if}}</td>
                </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="3">N/A</td>
                </tr>
            {{/if}}
        </tbody>
    </table>
    <h5 class="bottom-border-grey-light top-margin-lg">{{highlightText templateHeadersText.prerequisitesExternalData}}</h5>
    <p>{{#if consultOrder.orderResultComment}}{{highlightText consultOrder.orderResultComment}}{{else}}N/A{{/if}}</p>
    <h5 class="bottom-border-grey-light top-margin-lg">{{highlightText templateHeadersText.prerequisitesOverridden}}</h5>
    <p>{{#if consultOrder.overrideReason}}{{highlightText consultOrder.overrideReason}}{{else}}N/A{{/if}}</p>
</div>