[data-appletid="encounters"] {
    .enc-gist-list{
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    [role=tab] {
        .right-side {
            padding-right: 15px;
        }
        .btn-accordion:focus {
            background-color: $primary-lightest;
        }
    }
    [role=tabpanel] {
        background-color: $grey-lightest;
        padding: 6px 20px 6px 6px;
        [gistviewtype] {
            box-shadow: 0 -0px 3px 0 rgba(0, 0, 0, .4);
        }
    }
}
.modal-body.encounter-form-modal {
    .procedure-section-container .drilldown-select-region,
    .visit-type-container .drilldown-select-region {
        width: 44%;
    }
    .procedure-section-container .drilldown-checklist-region,
    .visit-type-container .drilldown-checklist-region {
        width: 56%;
    }
    .additional-comment-button, .cancel-edit-comment-button {
        background-color: $pure-white;
    }
    .drilldownChecklist-control {
        .drilldown-checklist-region {
            .read-only-well {
                height: calc((11 * 15px) + 12px);
            }
        }
    }
}
.visit-loading {
    left: 23px;
    position: absolute;
    top: 30px;
}
#selectableTableAdmissions, #selectableTableAppointments {
    .table-cell {
        padding: 2px 6px;
    }
}

form.form-container .form-group {
    .add-other-diagnosis-popover {
        &.searchbar-control {
            margin-bottom: 0;
        }
        &.treepicker-control {
            margin-bottom: 0;
            label {
                display:none;
            }
        }
    }
}
.add-other-diagnosis-popover, .add-other-procedure-popover {
    .popover .popover-content {
        padding:0;
        overflow:hidden;
    }
}
.encounters-diagnosis-container .tree-region {
    height: 178px;
    min-height: 170px;
    margin-bottom: 0;
    padding: 0 10px;
}
.ncb-comment-collapse-container {
    border-top: 1px solid $grey;
}
.ncb-comment-container-region {
    background-color: transparent;
}