<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
	version="2.5">
   <listener>
        <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
    </listener>
     <filter>
        <filter-name>log4jServletFilter</filter-name>
        <filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
    </filter>
    <filter>
        <filter-name>requestIdServletFilter</filter-name>
        <filter-class>com.cognitive.cds.utils.log.filter.CDSDashboardRequestIdFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>requestIdServletFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
      
    <filter-mapping>
        <filter-name>log4jServletFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher><!-- Servlet 3.0 w/ disabled auto-initialization only; not supported in 2.5 -->
    </filter-mapping>

  <!-- Servlets -->
  <servlet>
    <servlet-name>metricsDashboardServlet</servlet-name>
    <servlet-class>com.cognitivemedicine.metricsdashboard.server.MetricsDashboardServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>metricsDashboardServlet</servlet-name>
    <url-pattern>/md_sandbox/metricsDashboardService</url-pattern>
  </servlet-mapping>
  
	<context-param>
        <param-name>log4jContextName</param-name>
        <param-value>cdsdashboard</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>log4j2.xml</param-value>
    </context-param>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Md_sandbox.html</welcome-file>
  </welcome-file-list>

</web-app>
