apply plugin: 'osgi'
apply plugin: 'java'

sourceCompatibility = '1.6'
[compileJava, compileTestJava]*.options*.encoding = 'UTF-8'

repositories {
	mavenCentral()
}

dependencies {
	compile 'org.slf4j:slf4j-api:1.7.1'
	testCompile 'junit:junit:4.10'
}

jar {
	manifest { 
		from project.baseManifest

		version = project.version
		name = '${projectName}'

		instruction 'Import-Package', '*'
		instruction 'Export-Package', '*'
		instruction 'Private-Package', '*'
	}
}
