#patientDemographic-action {
	.light-grey-background {
		background: #DEDEDE;
		padding: 20px;
	}
	
	/* TODO 
	*	Instead of background color maybe use font color.
	*/
	.non-functional-fields {
		color: #A60098;
	}
}