// adk theme - based on a custom bootstrap theme
// disabled btn and fieldset elements
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: auto;
    cursor: not-allowed;
    filter: alpha(opacity=50);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .5;
    background-color: $grey-light;
    color: $grey-darkest;
}

// base btn styles
.btn {
    background-image: none;
    background: none;
    border: none;
    border-radius: 2px;
    text-shadow: none;
    color: $pure-white;
    font-size: 12px;
    padding: 6px 12px;
    line-height: 1.42857;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    font-weight: 600;
    &:focus,
    &.active:focus,
    &:active,
    &:active:focus {
        outline: 1px dotted;
    }
    // sizing
    &.btn-lg {
        padding: 10px 16px;
        font-size: 14px;
        line-height: 1.33333;
        border-radius: 2px;
    }
    &.btn-sm {
        padding: 5px 10px;
        font-size: 11px;
        line-height: 1.5;
        border-radius: 2px;
    }
    &.btn-xs {
        padding: 0 10px;
        font-size: 13px;
        line-height: 1.8;
        border-radius: 20px;
        text-transform: capitalize;
        font-weight: 400;
    }
    // default styling
    &.btn-default {
        border: none;
        background: $primary-light;
        color: $primary;
        text-transform: uppercase;
        &:hover,
        &:focus,
        &:active,
        &.active,
        &:active:focus {
            background: darken($primary-light, 10%);
            border: none;
            color: $primary-dark;
        }
        &[disabled],
        &[disabled]:hover,
        &[disabled]:focus,
        &[disabled]:active  {
            background-color: $primary-light-alt;
            color: $primary;
        }
    }
    // color variations
    &.btn-primary,
    &.btn-success,
    &.btn-info,
    &.btn-warning,
    &.btn-danger,
    &.btn-link {
        &[disabled],
        &[disabled]:hover,
        &[disabled]:focus,
        &[disabled]:active {
            background-color: $grey-light;
        }
    }
    &.btn-primary {
        background-color: $primary;
        text-transform: uppercase;
        &:hover,
        &:focus,
        &:active {
            background-color: $primary-dark;
        }
    }
    &.btn-success {
        background-color: $secondary;
        text-transform: uppercase;
        &:hover,
        &:focus,
        &:active {
            background-color: $secondary-dark;
        }
    }
    &.btn-info {
        background-color: $grey-darker;
        text-transform: uppercase;
        &:hover,
        &:focus,
        &:active {
            background-color: $grey-darkest;
        }
    }
    &.btn-warning {
        background-color: $tertiary;
        text-transform: uppercase;
        color: $grey-darkest;
        &:hover,
        &:focus,
        &:active {
            background-color: $tertiary-dark;
        }
    }
    &.btn-danger {
        background-color: $red;
        text-transform: uppercase;
        &:hover,
        &:focus,
        &:active {
            background-color: $red-dark;
        }
    }
    &.btn-link {
        color: $primary;
        box-shadow: none;
    }
    // icons
    &.btn-icon {
        color: $primary;
        background: none;
        font-size: 11px;
        padding: 4px;
        box-shadow: none;
        &:hover {
            color: $primary-dark;
        }
        &[disabled],
        &[disabled]:hover,
        &[disabled]:focus,
        &[disabled]:active {
            background: none;
        }
    }
    // applet toolbar, could be moved out into that component?
    &.btn-toolbar {
        float: left;
        width: 24px;
        height: 24px;
        margin: 0px;
        padding: 0;
        &:hover,
        &:focus,
        &:active {
            background-color: $pure-white;
            border: 2px solid $secondary;
            color: $secondary;
        }
    }
}
