body[data-full-screen="true"] {
    #content-region {
        .contentPadding,
        .contentPadding > div,
        .contentPadding > div > div:first-child,
        [data-instanceid],
        .gridContainer,
        .grid-container,
        .gridContainer > div,
        .grid-container > div,
        .panel-body,
        .data-grid {
            height: 100%;
        }
        .applet-div-chrome-container {
            .gridContainer {
                div.panel-body {
                    overflow-x: hidden;
                    overflow-y: hidden;
                    &.grid-applet-panel {
                        display: flex;
                        flex-direction: column;
                        .grid-container {
                            height: auto;
                            min-height: 200px; //phantomjs flex fallback
                            min-height: calc(2vh - 2vh); //phantomjs flex fallback recovery (this equals to zero, but phantomjs doesn't know about vh, so it will fall back to the previous measure)
                            position: relative;
                            flex-grow: 1;
                            flex-shrink: 1;
                            & > div {
                                position: absolute;
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        [data-instanceid] {
            min-height: 230px; //phantomjs flex fallback
            min-height: calc(2vh - 2vh); //phantomjs flex fallback recovery (this equals to zero, but phantomjs doesn't know about vh, so it will fall back to the previous measure)
            padding-bottom: 10px;
            > .panel {
                height: 100%;
                margin: 0;
            }
        }
    }
    #center-region > div {
        height: 100%;
        /* phantomJS fallback */
        height: calc(100% - 15px);
    }
    div.sidebar-tray div.panel-body {
        overflow: visible;
    }
}


/*  ------------------------------------------------------------------------ */


/*  --  Rows in the grid                                                  -- */


/*  ------------------------------------------------------------------------ */

$defaultRowHeight: 13px;
$defaultLineHeight: 13px;

/* would prefer EM or REM, but messes up 23px tile height */

$defaultRowPadding: 5px 0;
$defaultChartHeight: 23px;

/* with negative margins; so we can have the mid-height vertical separator */

$rowBorderBottom: #f0f0f0;
$rowBorderTop: #e5e5e5;
$rowBackgroundColor: #fff;
$rowEmptyRowColor: gray;

/* should be global, not nested? */
.backgrid {
    background-color: #FFF;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    td {
        border-bottom: none;
    }
}

.cpe-search-term-match {
    background-color: rgba(255, 255, 0, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 0, .6);
}

div.sectionHeader {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    line-height: 18px;
    color: #000;
    border-bottom: 1px solid #ccc;
    margin: 10px 40px;
}

div.dataValue {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    font-size: 13px;
    color: #333;
    text-align: left;
}

.contentPadding .col-md-4 {
    padding-left: 8px;
    padding-right: 8px;
}

.appts-filter-bar .btn {
    height: 22px;
}

#ali-span {
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}



.backgrid tbody tr.empty {
    color: $grey-darker;
    font-style: normal;
}

#med-review-applet-main {
    max-height: 69vh;
    overflow-y: scroll;
}

.search-applet-main {
    #searchResultsArea {
        max-height: 600px;
        overflow-y: scroll;
        margin-top: 60px;
        height: 60vh;
    }
}

@media screen and ( max-height: 730px) {
    #med-review-applet-main {
        max-height: 55vh;
    }
}

@media screen and ( max-height: 585px) {
    .search-applet-main #searchResultsArea {
        height: 40vh;
    }
}

@media screen and ( max-height: 520px) {
    #med-review-applet-main {
        max-height: 45vh;
    }
}


/*--------- This file removes responsiveness below 1024px -------*/

#content-region-wrapper {
    display: block;
}

#center-region {
    display: block;
    min-width: 984px;
}

.documents-list .data-grid {
    min-width: 50%;
}

[data-appletid="medication_review"] #medNavButtons {
    min-width: 975px;
}


/* ---- PATIENT SEARCH ------*/
/*
[data-appletid="patient_search"] .patient-search-output .pillsAndHeader {
    min-width: 700px;
    float: left;
}

[data-appletid="patient_search"] .patient-search-output #patient-search-confirmation {
    min-width: 284px;
    float: left;
}

[data-appletid="patient_search"] .patient-search-output .pillsAndHeader #patient-search-pills .nav-pills li {
    margin-left: 5px;
}

[data-appletid="patient_search"] #patient-search-input #input-view-region .form-inline .form-control {
    float: left;
    margin-right: 8px;
    margin-top: 2px;
}

[data-appletid="patient_search"] #patient-search-input {
    float: left;
    width: 80%;
}

@media (max-width: 991px) {
    [data-appletid="patient_search"] #patient-search-main .searchResults {
        float: left;
    }
}
*/
@media (max-width: 1024px) {
    .col-md-4 {
        width: 331px;
        display: block;
        float: left;
    }
    .logonSection .col-md-4,
    .patient-search-results .col-md-4 {
        width: 33%;
        display: block;
        float: left;
    }
}

@media (min-width: 768px) {
    .logonSection .col-sm-pull-4 {
        right: 33.33333333%;
        margin-left: 16.66666667%;
    }
}

// Jeff Kopra and TT: Commenting out becuase it is causing the flow of workflow form cols to not align properly
// @media (min-width: 1px) {
//     .col-md-12 {
//     width: 100%;
//     }
//     .col-md-2 {
//     width: 16.66666667%;
//     float: left;
//     }
//     .col-md-6 {
//     width: 50%;
//     float: left;
//     }
// }
.backgrid-filter.form-search {
    height: auto;
    width: 100%;
    margin-bottom: 2px !important;
}

.backgrid-filter {
    &.form-search {
        margin: 0;
    }
    input[type="search"] {
        z-index: 0;
        position: inherit;
        width: 100%;
        height: 30px;
        padding: 4px 20px 4px 10px;
        box-sizing: border-box;
        &:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }
        &.pixel-height-20 {
            box-sizing: content-box;
            &.defined {
                padding: 2px 20px;
                width: 100%;
                box-sizing: border-box;
                height: 25px;
            }
            &:-ms-input-placeholder {
                color: #999999;
            }
            +.clear-input {
                top: -1px;
                right: 32px;
                &.default {
                    top: -2px;
                    right: 5px;
                }
            }
        }
    }
    .clear-input {
        display: none;
        position: absolute;
        top: 3px;
        right: 10px;
    }
    .search {
        top: 14px;
    }
    .clear {
        top: 14px;
        left: 228px;
    }
}

.panel-body {
    [id^="grid-filter-"] {
        background-color: $pure-white;
    }
    .grid-filter {
        padding: 6px;
        margin-bottom: 0px;
        overflow-x: auto;
        background-color: $primary-lightest;
        .backgrid-filter {
            .filter-add {
                height: 22px;
                padding-top: 3px;
            }
            .fa.fa-filter {
                left: 6px;
                position: absolute;
                top: 6px;
                z-index: 1;
            }
            .block-display {
                .filter-container {
                    position: relative;
                    .fa.fa-pencil {
                        left: 16px;
                        position: absolute;
                        top: 6px;
                    }
                    .filter-title-input {
                        padding: 0 10px 0 17px;
                        height: 27px;
                    }
                }
            }
            .input-group {
                // .form-control is being overwritten by backgrid styles (so we need to add styles over it)
                &.not-udws,
                &.input-group-sm {
                    max-width: 284px;
                }
                .form-control {
                    width: calc(100% - 41px);
                    height: 25px;
                    padding: 0 48px 0 20px;
                    border-radius: 4px;
                    &:focus {
                        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
                        border-color: #66afe9;
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
                        outline: 0;
                    }
                }
            }
            .filter-container {
                .udaf {
                    overflow-y: auto;
                    max-height: 70px;
                }
                .btn-label {
                    line-height: 1;
                    padding: 3px 6px;
                    text-transform: capitalize;
                }
                .remove-all {
                    background-color: white;
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
                    color: $red;
                    font-size: 11px !important; //Added by TT until we clean up this whole file//
                    &:hover {
                        background-color: $red-lightest;
                        color: $red-dark;
                    }
                }
            }
        }
    }
}

b {
    font-family: 'Source Sans Pro', sans-serif;
}

.grid-applet-panel {
    padding: 0;
    background-color: white;
}

.grid-applet-container-1 {
    height: 5px;
    position: relative;
    top: -5px;
    background: none;
    z-index: 9999;
}
.grid-applet-container-2 {                                     
    position: absolute;
    height: 5px;
    width: 100%;
    top: 17px;     
    background: none;
    z-index: 9999;
}
.grid-footer {
    padding: 0px;
}

.grid-container {
    h5 {
        padding: 5px 10px;
    }
}

.backgrid {
    th {
        text-align: left;
    }
    td {
        white-space: normal;
    }
}

.backgrid.table {
    tr.empty td {
        display: block;
        line-height: 20px;
        min-height: 40px;
        padding: 10px;
        text-align: left;
        border: none;
    }
}

.grid-applet-panel .header-bar {
    background: $pure-white;
    color: $primary;
}
.backgrid {
    thead {
        background: $pure-white;
        th {
            background: none;
            color: $grey-darkest;
            &.sortable {
                a {
                    color: $grey-darkest;
                    font-weight: bold;
                    .sort-caret {
                        border: none;
                        font-family: FontAwesome;
                        vertical-align: baseline;
                        &::before {
                            color: $primary;
                            font-size: 10px;
                        }
                    }
                }
                &.ascending {
                    .sort-caret::before {
                        content: "\f0d8";
                    }
                }
                &.descending {
                    .sort-caret::before {
                        content: "\f0d7";
                    }
                }
            }
        }
    }
    tbody {
        td.group-by-header a{
            color: $grey-darkest;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
}


/*--- Data Grid Styling ---*/
.data-grid {
    height: 63vh;
    table tr, .table-hover tr {
        &:nth-child(2n) {
            background: none;
        }
        &:hover, &:focus {
            background: $primary-lightest;
        }
        &.group-by-header, &.group-by-header:hover {
            background: $primary-lightest;
        }
    }

    //toolbar shift
    tbody {
        td.toolbar-cell {
            overflow: visible;
        }
        > tr:first-child {
            padding-top: 0;
            &.toolbar-active > td {
                padding-top: 27px !important;
            }
        }
    }
}

.gridster .data-grid {
    height: 100%;
}
.table-responsive {
    .data-grid {
        height: auto;
    }
}

/*--- PDF Link Styling ---*/
.add-pdf-container {
    position: fixed;
    right:5px;
    top:8px;
    a {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 10pt;
        padding: 3px 7px;
        background: $grey-light;
        border-radius: 4px;
        text-decoration: none;
    }
}

.sign-list-wrapper-container {
    margin-top:-15px;
}