/*--- Applet Graph Style ---*/
.time-chart-container-header {
    background-color: white;
}
.time_range_title {
    margin: 10px;
}
#time-line-main {
    margin-bottom: 15px;
}
/*--- Misc ---*/
#center-region {
    background: $secondary-light; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom, $pure-white  10%, $secondary-light 25%, $secondary-light 100%); /* Standard syntax */
}
#event-nav {
    padding: 0px 12px 0px 0px;
}
.toggle {
    margin: 5px 5px 0 0;
}
input.form-control.alert-danger::-webkit-input-placeholder {
    color: #000;
}
input.form-control.alert-danger:-ms-input-placeholder {
    color: #000;
}
#patient-search-input #input-view-region .input-group.hasFocus {
    border-radius: 20px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.record-search #center-region {
    overflow-y: hidden;
}
.empty-view-region {
    border-top: 1px solid $grey-lighter;
}
/*--For Documents View --*/
.documents-list {
    #content-region > div,
    #content-region-wrapper,
    #content-region,
    #content-region .contentPadding,
    #content-region .contentPadding > div,
    #content-region #center,
    #content-region #center > div,
    #content-region .gridContainer,
    #content-region .grid-container,
    #content-region .grid-container > div,
    #content-region .data-grid,
    #content-region .docApp,
    #content-region .panel-body  {
        height: 100%;
        overflow-y: hidden;
    }
}
.my-notifications-full {
    #center-region {
        background-color: $pure-white;
    }
}
.overview #content-region .panel-body {
    height: 100%;
    overflow-x: hidden;
}
.documents-list #center-region #content-region {
    overflow: hidden;
}
.documents-list .data-grid {
    height: 69vh;
    overflow-y: scroll;
    margin-bottom: 5px;
}
.documents-list #doc-detail-wrapper {
    height: 69vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.cover-sheet #content-region .panel {
    margin-bottom: 15px;
}
/*---Timeline Scrolling ---*/
.news-feed #center-region #content-region {
    overflow: hidden;
}
.overview #content-region .panel {
    margin-bottom: 15px;
}


/*--- gridster ---*/
.ready .gridster {
    .gs-w:not(.preview-holder), .resize-preview-holder {
        -webkit-transition: opacity .3s,left .3s,top .3s,width .3s,height 0s;
    }
}
.gridster {
    [data-appletid] {
        height: 100%;
    }
    .panel-primary {
        height: inherit;
    }
    .grid-applet-panel {
        height: 100%;
        display: flex;
        flex-direction: column;
        .grid-container {
            flex-grow: 1;
            flex-shrink: 1;
            position: relative;
            min-height: 200px;
            min-height: calc(2vh - 2vh);
            & > div {
                position: absolute;
                height: 100%;
                width: 100%;
            }
        }
    }
    span.center-block.text-center.panel-title {
        cursor: move;
        .panel-title-textbox {
            text-align: center;
            height: 23px;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .text-align-center{
        text-align: center;
    }
}
.editable-title {
    /*-- applet regular display i.e. not in settings mode --*/
    .panel-heading {
        .panel-title-label {
            padding: 2px 4px 2px 4px;
            cursor: pointer;
        }
        .panel-title-label:hover {
            border: 1px solid #B9D0D5;
            padding: 1px 3px 1px 3px;
        }
    }
}
.panel-primary {
    height: 100%;
    overflow: hidden;
}
.cover-sheet-gridster #content-region .panel-body {
    height: 100%;
    overflow-y: scroll;
}
.cover-sheet-gridster #center-region {
    overflow-x: scroll !important;
    overflow-y: hidden;
    width: auto;
}
.cover-sheet-gridster .gridster {
    width: 3000px !important;
}
.gridster [data-appletid] {
    height: 100%;
}
.gridster .app-size,
.app-size-2 {
    height: 100%
}
.gridster span.center-block.text-center.panel-title {
    cursor: move;
}
.freeze-applets span.center-block.text-center.panel-title {
    cursor: default !important;
}
.freeze-applets .grid-footer span {
    cursor: default !important;
}
.freeze-applets .gs-resize-handle {
    display: none !important;
}
.gridster .gridContainer {
    height: 100%;
}
.gridster .gridContainer > div:first-child {
    height: 100%;
}
.gridster .panel-primary {
    height: 110%;
}
.switchboard-container {
    height: 100%;
    background-color: white;
}
/*--- gridster ---*/
.gridster {
    [data-appletid] {
        height: 100%;
    }
    .panel-primary {
        height: 100%;
    }
    span.center-block.text-center.panel-title {
        cursor: move;
    }
}
/*--- Panel for choosing applet size ---*/
.optionsPanelStyle {
    color: red;
    background-color: white;
}
/*--- Bootstrap ---*/
.table {
    cursor: default;
    margin-bottom: 0px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 2px 8px;
    border-top: none;
}

.gist-popover {
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
    min-width: 326px;
    background-color: white;
    background-clip: border-box;
    border-radius: 2px;
    border: 5px solid $grey-lighter;
    padding: 0px;
    margin-top: 0px!important;
    z-index: 10;
    .popover-title-container {
        display: table;
        background-color: #dde3e8;
        color: rgb(49, 103, 118);
        font-size: 14px;
        font-weight: bold;
        border-radius: 1px;
        border-bottom: 1px solid #ebebeb;
        .popover-title {
            display: table-cell;
            padding-left: 0px;
            font-weight: bold;
            border-radius: 0;
            background-color: #dde3e8;
            border-bottom: none;
        }
        .popover-close-button {
            display: table-cell;
            background-color: #dde3e8;
            padding-top: 4px;
        }
    }
    .popover-content {
        padding: 0;
        th {
            color: rgb(49, 103, 118);
            font-weight: bold;
        }
    }
}

// sub-header for filtered applets
[class$="-full"] {
    div.sub-header {
        display: none;
    }
}
.applet-div-chrome-container {
    div.sub-header {
        padding: 0 5px;
        background: $grey-lightest;
        border-bottom: 1px solid $grey-lighter;
        min-height: 18px;
        .btn.btn-sm.btn-icon {
            float: right;
            padding: 0;
            background: none;
        }
    }
}
[data-appletid="vista_health_summaries"], [data-appletid="allergy_grid"], [data-appletid="vitals"], [data-appletid="military_hist"] {
    .sub-header {
        display:none;
    }
}