.provider-centric-header {
      background-color: $pure-white;
}
#navigation-region {
    /*min-height: 43px;*/
    padding: 0 15px;
    background: $pure-white;
    .applet-nav {
        margin-right: 15px;
    }
    #navigationPanel {
        background-color: transparent;
        border: none;
        box-shadow: none;
        .panel-heading {
            padding: 0px 0px 0px 6px;
        }
        #navigation-date {
            background: $primary;
            #globalDatePicker-compact {
                display: inline;
                position: absolute;
                margin: 0;
                padding: 6px 0 0 0;
                width: 680px;
                height: 100%;
                z-index: 1;
                .globalDatePickerButton {
                    border-radius: 3px 0px 0px 3px;
                    box-shadow: none;
                }
            }
            .globalDatePicker-popupRegion {
                position: absolute;
                height: 100%;
                z-index: 2;
                padding: 7px 0 0px 0;
                background: transparent;
                border: none;
                margin: 0;
                #globalDate-region {
                    overflow: hidden;
                    margin-top: -1px;
                    .global-grid-filter-daterange > .container-fluid {
                        margin-left: -13px;
                        margin-right: -13px;
                        &.scroll-no-padding {
                            padding: 0 5px 8px 5px;
                            margin-bottom: -7px;
                            overflow: hidden;
                            border-top: 1px solid #bfbfbf;
                        }
                        .timeline-summary-scrollable {
                            width: 100%;
                            margin-bottom: 0px;
                        }
                        #timeline-summary .panel {
                            margin-bottom: 0px;
                        }
                    }
                    .col-md-12 {
                        &.center-block {
                            padding: 0;
                        }
                    }
                }

                //Code to make the expanded global date filter vertically responsive
                #globalDate-region {
                    height: 70vh;
                    .global-grid-filter-daterange,
                    .global-grid-filter-daterange > .container-fluid,
                    .center-block,
                    .timeline-summary-scrollable,
                    .timeline-summary-scrollable > div,
                    .appletDiv_ChromeContainer .panel-body,
                    .appletDiv_ChromeContainer .grid-container,
                    .appletDiv_ChromeContainer .grid-container > div,
                    .appletDiv_ChromeContainer .data-grid{
                        height: 100%;
                    }
                    .global-grid-filter-daterange > .container-fluid .container-fluid {
                        height: calc(100% - 43px);
                        & > div:nth-of-type(2) {
                            height: calc(100% - 150px);
                        }
                    }
                    .appletDiv_ChromeContainer .panel-body {
                        overflow-y: hidden;
                        .data-grid {
                            overflow: auto;
                        }
                    }
                }




                .highcharts-legend-item text {
                    color: #fff !important;
                    fill: #fff !important;
                    font-weight: normal !important;
                }
                .panel-body {
                    height: 305px;
                    overflow: hidden;
                    overflow-y: scroll;
                }
                .panel-heading {
                    min-width: inherit;
                }
                #custom-range-apply-global {
                    height: 25px;
                }
                #cancel-global {
                    height: 25px;
                }
                .inputHelperText {
                    padding: 0;
                    width: 16px;
                    display: inline-block;
                    font-size: 13px;
                    color: #bdc0bf;
                    text-align: center;
                    vertical-align: middle;
                }
                .input-group-addon {
                    padding: 0px 6px
                }
                .tooltip {
                    position: fixed;
                }
                .tooltip-inner {
                    background-color: white;
                    color: black;
                    font-size: 11px;
                    font-weight: bold;
                    margin: 0 5px;
                }
                .tooltip-arrow {
                    border-color: transparent;
                    border-style: solid;
                    border-top-color: red;
                }
            }

            #navigation-dateButton {
                margin-left: 5px;
            }
            #navigation-dateButton:hover,
            #navigation-dateButton:active,
            #navigation-dateButton:focus,
            #navigation-dateButton.active {
                color: $pure-white;
            }
            .global-grid-filter-daterange {
                background: $primary;
                border-radius: 3px;
                margin-bottom: 7px;
                .active-range {
                    background-color: $pure-white;
                    color: $primary;
                }
                .daterange:not(.active-range):hover,
                .daterange:not(.active-range):focus {
                    background-color: $primary-light;
                    color: $grey-darkest;
                }
            }
        }
        #navigation-navbar {
            margin: 6px 0 6px 0;
            padding-right: 10px;
            position: relative;
            z-index: 1;
            .WorkspaceSelectContainer {
                .btn-primary {
                    &.dropdown-toggle {
                        width: 280px;
                        border: none;
                    }
                    &#plus-button {
                        border-radius: 0 3px 3px 0;
                        padding: 4px 12px;
                        .fa-plus-square {
                            font-size: 15px;
                        }
                    }
                }
                .workspace-editor-button-region {
                    margin-left: -3px;
                }
                .dropdown-menu {
                    border-radius: 3px;
                    max-height: 20em;
                    overflow-y: auto;
                    text-align: center;
                    width: 280px;
                    form {
                        input {
                            border-radius: 10px;
                            line-height: 1.5em;
                            width: 220px;
                        }
                    }
                    .active a, li a:hover, li a:focus {
                        background-color: $primary-lighter;
                        color: black;
                        text-decoration: none;
                    }
                    li {
                        list-style: none;
                        a {
                            text-shadow: none;
                            display: block;
                            padding: 3px 20px;
                            clear: both;
                            font-weight: 400;
                            line-height: 1.42857143;
                            color: #333;
                            white-space: nowrap;
                            &:focus {
                                background: none;
                            }
                            &:hover {
                                background-image: none;
                                background-color: $primary-lighter;
                            }
                        }
                    }
                    .divider {
                        margin: 1px 0;
                    }
                }
            }
            #suggestPanel {
                .dropdown-menu {
                    li {
                        cursor: pointer;
                        border-bottom: 1px solid #f2f2f2;
                        padding: 3px;
                        a {
                            color: $primary-light;
                            background: none;
                            text-decoration: none;
                            &:hover {
                            color: $primary;
                            }
                        }
                        &:hover {
                            color: $primary;
                        }
                    }
                }
                #search-text-group {
                    .input-group-btn {
                        width: auto;
                    }
                    .form-control {
                        padding: 4px 12px;
                    }
                }
                #suggestListDiv {
                    border-left: 1px solid #B7B9BA;
                    box-shadow: none;
                    margin-top: 5px;
                    max-height: 300px;
                    overflow: auto;
                    width: 650px;
                    #suggestSpinner {
                        display: none;
                        padding: 0 10px;
                    }
                    #suggestList {
                        list-style: none;
                        padding: 3px 7px;
                        text-align: left;
                        li:hover, li:active, li:focus {
                            background-color: #f5f5f5;
                            #SuggestItem0 {
                                &:hover {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
                .suggest-label {
                    font-size: 90%;
                    margin-top: 2px;
                }
            }
        }
        #nav-workspaceSelect {
            vertical-align: top;
        }
        #text-search-input {
            display: inline-block;
            #search-text-group {
                z-index: 1;
                margin-left: 5px;
                #searchtext {
                    border: 1px solid $primary;
                    font-size: 13px;
                    height: 29px;
                }
            }
        }
    }
}
