#patientDemographic-region {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $primary-light;
    .fa-caret-down,
    .fa-caret-right {
        color: $secondary;
        font-size: 16px;
        padding: 0;
    }
    .panel {
        border: none;
        box-shadow: none;
        &.bg-info {
            > .panel-heading {
                border: 0;
                padding: 0;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -webkit-align-items: stretch;
                align-items: stretch;
                [id*='patientDemographic-']:not(.sidebar) {
                    h4 {
                        margin: 0 0 3px 0px;
                        text-transform: uppercase;
                        font-size: 10px;
                        font-weight: 700;
                        color: $primary;
                        padding: 0;
                    }
                    h5 {
                        text-transform: capitalize;
                        margin-bottom: 15px;
                    }
                }
                .tray-container {
                    display: -webkit-flex;
                    display: flex;
                    border-right: none;
                    .tray-list {
                        cursor: default;
                        display: -webkit-flex;
                        display: flex;
                        > .sidebar {
                            border-right: 1px solid #ccc;
                            display: -webkit-flex;
                            display: flex;
                            background-color: $pure-white;
                            &:last-child {
                                border-right: none;
                            }
                            &:hover {
                                background-color: transparent;
                            }
                            > .btn {
                                background: none;
                                text-transform: uppercase;
                                border: 0;
                                color: $primary;
                                font-weight: bold;
                                padding: 3px 10px
                            }
                        }
                    }
                }
                .panel-padding {
                    padding: 3px 10px;
                    min-height: 58px;
                }
                & > div {
                    -webkit-flex-grow: 0;
                    flex-grow: 0;
                    background-color: $pure-white;
                    border-right: 1px solid #ccc;
                    cursor: pointer;
                    &:hover {
                        background-color: transparent;
                    }
                    &#patientDemographic-patientInfo {
                        -webkit-flex-grow: 1.5;
                        flex-grow: 1.5;
                        form {
                            height: 100%;
                            .media {
                                color: $grey-darkest;
                                cursor: pointer;
                                display: -webkit-flex;
                                display: flex;
                                font-size: 11px;
                                height: 100%;
                                padding: 3px 0px 3px 3px;
                                &.warning {
                                    background-color: #990000;
                                    color: $pure-white;
                                    h4 {
                                        color: $pure-white;
                                    }
                                }
                                .media-body {
                                    -webkit-flex-grow: 1;
                                    flex-grow: 1;
                                    width: auto;
                                    .media-heading {
                                        font-size: 13px;
                                        font-weight: 500;
                                        line-height: 16px;
                                        overflow: hidden;
                                        text-transform: none;
                                    }
                                    .patient-data {
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }
                        .demographics-container {
                            [class*="col-"] {
                                padding-right: 5px;
                                padding-left: 5px
                            }
                            .row {
                                margin-right: -5px;
                                margin-left: -5px;
                            }
                            .demographic-group {
                                border: 1px solid $primary-lighter;
                                margin: 10px 0px;
                                text-transform: capitalize;
                                .demographic-group-header {
                                    background: $primary-lightest;
                                    border-bottom: 2px solid $primary-lighter;
                                    color: $primary;
                                    font-weight: 700;
                                    padding: 5px;
                                }
                                .demographic-group-content {
                                    padding: 5px;
                                    .demographic-group-scroll {
                                        max-height: 88px;
                                        overflow-y: auto;
                                    }
                                    .demographic-subgroup-icon {
                                        color: $primary;
                                    }
                                    .demographic-group-diff {
                                        border: 1px solid $primary-lighter;
                                        border-sizing: border-box;
                                        margin: 10px 5px 10px 5px;
                                        padding: 0px;
                                        &:hover {
                                            background-color: $primary-lighter;
                                            cursor: pointer;
                                        }
                                    }
                                    .demographic-group-divider {
                                        border-top: 1px solid $primary-lighter;
                                        margin: 5px 0px 5px 0px;
                                    }
                                    .demographic-group-diff-text {
                                        color: $primary;
                                        font-weight: 600;
                                    }
                                }
                            }
                            .popover {
                                max-width: 700px;
                                padding: 0;
                                text-transform: capitalize;
                            }
                            .popover-content {
                                padding: 0;
                                th {
                                    color: #333;
                                }
                            }
                        }
                        .dropdown-menu.patient-info-dropdown {
                            background-color: #fff;
                            cursor: default;
                            font-size: 11px;
                            font-weight: 400;
                            margin-left: 5px;
                            padding: 5px;
                            width: 700px;
                        }
                        .header-patient-image {
                            img {
                                width: 52px;
                                height: 52px;
                            }
                            #header-patient-image {
                                text-align: center;
                                width: 52px;
                                height: 52px;
                                background: $grey;
                                .fa-spinner {
                                    font-size: 15px;
                                    color: $pure-white;
                                    position: relative;
                                    top: 35%;                                                                       
                                }
                            }
                        }
                    }
                    &#patientDemographic-cwad {
                        white-space: nowrap;
                        [data-current-cwad="C"] {
                            .cwad-detail {
                                .container-fluid {
                                    .row:last-child {
                                        background-color: #FFC234;
                                        border-radius: 3px;
                                        padding: 5px;
                                    }
                                }
                            }
                        }
                        .label {
                            border-radius: 5px;
                            display: inline-block;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 600;
                            padding: 6px 8px;
                        }
                        .label[data-cwadidentifier="disabled"] {
                            background-color: $primary-lighter;
                            color: $grey-dark;
                            cursor: default;
                        }
                        #cwad-details {
                            white-space: normal;
                            margin: 19px 0 0 -10px;
                            position: absolute;
                            width: 520px;
                            z-index: 2;
                            .textDetails {
                                text-transform: capitalize;
                            }
                            [class*="col-xs-"] {
                                padding: 0px 5px;
                            }
                            button.close {
                                margin-top: -10px;
                            }
                            #cwad-detail-list {
                                max-height: 350px;
                                overflow-y: scroll;
                            }
                            .content {
                                font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
                                font-size: 11px;
                            }
                        }
                    }
                    &#patientDemographic-visitInfo {
                        -webkit-flex-grow: 1;
                        flex-grow: 1;
                        i.fa-map-marker {
                            color: $secondary;
                            display: block;
                            float: right;
                            font-size: 16px;
                            padding: 0;
                        }
                        .visit-info {
                            white-space: nowrap;
                        }
                    }
                    &#patientDemographic-providerInfo {
                        -webkit-flex-grow: 1.5;
                        flex-grow: 1.5;
                        .providerInfo-container {
                            #patientDemographic-providerInfoSummary {
                                .provider-info-initial-data {
                                    display: table;
                                    width: 100%;
                                    > div {
                                        display: table-row;
                                        > div {
                                            border-top: 1px solid #f2f2f2;
                                            display: table-cell;
                                            padding: 5px;
                                            &:last-child {
                                                padding-right: 0;
                                            }
                                            &:first-child {
                                                padding-left: 0;
                                            }
                                            &#primaryCarePhone {
                                                white-space: nowrap;
                                            }
                                        }
                                        &:first-child {
                                            > div {
                                                border-top: none;
                                                padding-top: 0;
                                            }
                                        }
                                        &:last-child {
                                            > div {
                                                padding-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .fa-caret-down,
                        .fa-caret-right {
                            bottom: 5px;
                            display: block;
                            position: absolute;
                            right: 10px;
                        }
                        .patient-info-dropdown {
                            font-size: 11px;
                            td {
                                border-top: none;
                            }
                            tr.selectable {
                                border-left: 1px solid $secondary;
                                &:hover,
                                &.toolbarActive {
                                    background-color: $primary-lightest;
                                    outline: none;
                                }
                                &.toolbarActive {
                                    border: 1px solid $secondary;
                                    td {
                                        box-shadow: none;
                                    }
                                }
                            }
                        }
                        .popover {
                            max-width: 700px;
                            width: 700px;
                            h1 {
                                font-size: 1.5em;
                                margin-top: 0.5em;
                                text-transform: capitalize;
                            }
                        }
                    }
                    &#patientDemographic-notes {
                        -webkit-align-items: stretch;
                        align-items: stretch;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-flex: none;
                        flex: none;
                    }
                    &#patientDemographic-tasks {
                        -webkit-align-items: stretch;
                        align-items: stretch;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-flex: none;
                        flex: none;
                    }
                    .patient-header-button {
                        background: none;
                        text-transform: uppercase;
                        color: $primary;
                        font-weight: bold;
                        padding: 0;
                    }
                }
            }
            margin-bottom: 0;
        }
    }
    // where do these belong?
    #smokingStatusModal {
        .radio {
            padding-left: 20px;
        }
        .error-container {
            font-size: 1.25em;
            padding: 0;
            color: $red-dark;
        }
    }
    .other-site-heading {
        color: $grey-darkest;
        padding: 5px 5px 5px 5px;
        font-weight: 700;
        border-bottom: 1px solid $grey-darkest;
    }
    .patient-address-table {
        width: 400px;
    }
    .contact-table {
        width: 600px;
    }
    .heightSmall {
        nav {
            margin-bottom: 0;
            min-height: 24px;
            border: none;
            box-shadow: none;
            background: $grey-light;
            border-radius: 0;
        }
        a {
            padding: 4px 10px;
        }
        .navbar-brand {
            height: auto;
        }
    }
    #WebLocator,
    #WebListener {
        display: none;
    }
    // end - do these belong here?
}

//TODO REMOVE CSS
#sidebar-wrapper {
    right: 0;
    width: 186px;
    margin-top: 0px;
    overflow-y: scroll;
    height: 80vh;
    z-index: 10000;
    .sidebar-nav {
        width: auto;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 13px;
        button {
            color: #000;
            background: none;
            border: none;
            text-decoration: none;
            line-height: 18px;
        }
        .toggle {
            padding: 10px;
            line-height: 10px;
            color: #666;
            background: none;
            font-size: 20px;
            border: 0;
            margin: 0;
            i {
                cursor: pointer;
            }
        }
        .panel-close {
            background: none;
            text-align: right;
            padding: 0;
            width: 100%;
            display: block;
            border-bottom: 1px solid #90A4AE;
            border-radius: 0;
            box-shadow: none;
        }
        li {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;
            background: #FFF;
            text-align: center;
            padding: 0px;
            border-radius: 1px;
            box-shadow: 0px 1px 5px #999;
            span {
                font-size: 70px;
                padding: 25px 0;
                color: $primary-light;
            }
            .applet-add-button {
                width: 100%;
            }
        }
        .panel-title {
            padding: 2px;
            background-color: $primary-lightest;
            border-bottom: 2px solid $primary-lighter;
        }
        li.applet-add-button {
            cursor: pointer;
            line-height: 18px;
        }
        li.applet-add-button:hover {
            background-color: #ECEFF1;
        }
    }
}
.patient-demographics-ssn {
    margin-right: 50px;
}
