html {
    overflow: hidden;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
}
body {
    color: $grey-darkest;
    font-size: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    overflow: hidden;
    background-color: $primary-lighter;
    #center-region {
        overflow-y: hidden;
        padding: 0;
        margin: 0;
    }
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 15px;
  padding-left: 15px;
}

/*--- Label colors ---*/
.label {
    color: #FFFFFF;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 11px;
    font-weight: 600;
    white-space: normal;
    display: inline-flex;
}

.label-default {
    background-color: $grey-darker;
}
.label-danger {
    background-color: $red-dark;
    color: $pure-white;
}
.label-success {
    background-color: #339900;
}
.label-info {
    background-color: #666666;
}
.label-error {
    background-color: #CC0000;
}
.label-warning {
    background-color: $tertiary-darker;
    color: $pure-black;
}
.activeStatus {
    background-color: #01cccc;
}
.expiredStatus {
    background-color: #999999;
}
.discontinuedStatus {
    background-color: #ffa6a3;
}
/*--- General Global Styles ---*/
.no-side-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.col-layout-sm {
    padding-right: 5px;
    padding-bottom: 1px;
    width: 22%;
    display: inline-block;
}
.col-layout-md {
    padding-right: 5px;
    padding-bottom: 1px;
    width: 30%;
    display: inline-block;
}
.col-layout-lg {
    padding-right: 5px;
    padding-bottom: 1px;
    width: 40%;
    display: inline-block;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}
.expanded-row {
    background: #f5f5f5;
    white-space: normal;
}
.row-layout {
    p {
        clear: both;
        width: 100%;
        margin: 0;
    }
}
.selectable {
    cursor: pointer;
    cursor: hand;
}
.selectable:hover{
background: none;
}
.paddingRight {
    padding-right: 20px;
}
.tl_reset {
    margin: 3px 3px 0 0;
}


/*--- Applet Styling ---*/
.panel-title {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: $primary-dark;
    line-height: 23px;
}
.panel-group {
    .panel {
        border-radius: 0;
    }
}
.panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.panel-primary>.panel-heading, .panel-info>.panel-heading {
    color: $primary-dark;
    background: $pure-white;
    background-image: none;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    filter: none;
}
.panel-default>.panel-heading {
    background-image: none;
    background-color: $primary-lightest;
    }
.panel-footer {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: auto;
    background: white;
}
.panel-primary {
    background: none;
    border: none;
    box-shadow: 0px 1px 4px 1px $grey;
    border-radius: 2px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-image: none;
    color: $primary;
    text-shadow: none;
    background-color: $primary-lighter;
    border-color: $pure-white;
}
.nav-tabs {
    border: none;
}
td.handlebars-cell, td.sortable {
    word-wrap: break-word;
}
//
// Team Comet CSS Reset - DO NOT EDIT
// --------------------------------------------------

hr {
    clear: both;
    margin: 10px 0;
    border-color: $grey-light;
}
h1 {
    font-size: 20px;
    color: $primary;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
    margin-bottom: 25px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 12px;
}
h3, h4, h5, h6 {
    color: $grey-darkest;
    font-weight: bold;
    padding: 10px 0px;
}
.small {
    font-size: 11px;
}
// outlines to a elements
a {
    color: $primary;
    &:hover, &:focus, &:active, &.active { 
        box-shadow: none;
    }
    &:focus, &:active, &.active, &.active:focus {
        outline: 1px dotted;
    }
    &:hover, &.active:hover {
        color: $primary-dark;
    }
}
// text colors
.text-primary {
    color: $secondary;
}
.text-success {
    color: $secondary;
}
.text-info {
   color: $primary-light;
}
.text-warning {
    color: $tertiary;
}
.text-danger {
    color: $red;
}
.text-muted {
    color: $grey;
}
:focus {
    outline: 1px dotted;
}