// please do not alter this file without reaching out to curtis scott on team comet
// loading global variables
@import "variables";
// setting up value variables
$no: 0 !important;
$xs: 5px !important;
$sm: 10px !important;
$md: 15px !important;
$lg: 20px !important;
$xl: 25px !important;
// creates class definitions for percent-width-1 - percent-width-100 to set percentage based widths
$class-percent-width: percent-width !default;
@for $i from 1 through 20 {
    .#{$class-percent-width}-#{$i * 5} {
        width: #{$i * 5}#{"%"} !important;
        max-width: #{$i * 5}#{"%"} !important;
        min-width: #{$i * 5}#{"%"} !important;
    }
}
$class-pixel-height: pixel-height !default;
@for $i from 0 through 100 {
    .#{$class-pixel-height}-#{$i} {
        height: #{$i}#{"px"} !important;
        max-height: #{$i}#{"px"} !important;
        min-height: #{$i}#{"px"} !important;
    }
}
// creates class definitions for pixel-width-0 - pixel-width-100 to set pixel based widths | anything over 100px should use % above
$class-pixel-width: pixel-width !default;
@for $i from 0 through 100 {
    .#{$class-pixel-width}-#{$i} {
        width: #{$i}#{"px"} !important;
        max-width: #{$i}#{"px"} !important;
        min-width: #{$i}#{"px"} !important;
    }
}
// each loops for the padding and margin helper classes
// to see what css gets generated from these each loops, visit http://codepen.io/anon/pen/LppWXR?editors=010 and click 'View Compiled'
// setting up containers of content for creatign the class definitions in the each loops below
$listVariable: $no $xs $sm $md $lg $xl;
$listName: no xs sm md lg xl;
$listProperty: margin padding;
$listDirection: top left right bottom;
// the below each loop creates css class definitions
// e.g : .all-margin(or padding)-10px !important; (var value from above) | adding all-margin-xs class will add margin: 5px
// classes it creates:
// .all-margin-no, .all-margin-xs, .all-margin-sm, .all-margin-md, .all-margin-lg, .all-margin-xl
// .all-padding-no, .all-padding-xs, .all-padding-sm, .all-padding-md, .all-padding-lg, .all-padding-xl
@each $property in $listProperty {
    @each $item in $listName {
        .all-#{$property}-#{$item} {
            $thisItem: index($listName, $item);
            $varItem: nth($listVariable, $thisItem);
            #{$property}: $varItem;
        }
    }
}
// the below each loop creates css class definitions
// e.g : .(direction)-margin(or padding)-10px !important; (var value from above) | adding top-margin-xs class will add margin-top: 5px
// classes it creates like the below ones for both margin (shown below) and padding:
// .left-margin-no, .left-margin-xs, .left-margin-sm, .left-margin-md, .left-margin-lg, .left-margin-xl
// .top-margin-no, .top-margin-xs, .top-margin-sm, .top-margin-md, .top-margin-lg, .top-margin-xl
// .right-margin-no, .right-margin-xs, .right-margin-sm, .right-margin-md, .right-margin-lg, .right-margin-xl
// .bottom-margin-no, .bottom-margin-xs, .bottom-margin-sm, .bottom-margin-md, .bottom-margin-lg, .bottom-margin-xl
@each $direction in $listDirection {
    @each $property in $listProperty {
        @each $item in $listName {
            .#{$direction}-#{$property}-#{$item} {
                $thisItem: index($listName, $item);
                $varItem: nth($listVariable, $thisItem);
                #{$property}-#{$direction}: $varItem;
            }
        }
    }
}
// margin / padding misc
.center-margin {
    margin: 0 auto !important;
}
// creates flex-width classes e.g. .flex-width-1 has flex: 1; flex 1 - 10
$class-flex: flex-width !default;
@for $i from 0 through 10 {
    .#{$class-flex}-#{$i} {
        flex: #{$i} !important;
    }
    .#{$class-flex}-#{$i}_5 {
        flex: #{$i+.5} !important;
    }
}
// the below each loop creates css class definitions
// e.g : .color-primary and .background-color for all colors in our variables 
$colorListVariables: $primary $primary-dark $primary-light $primary-lighter $primary-lightest $secondary $secondary-dark $tertiary $tertiary-dark $pure-black $pure-white $grey $grey-dark $grey-darker $grey-darkest $grey-light $grey-lighter $red $red-dark $red-lightest;
$colorlistName: primary primary-dark primary-light primary-lighter primary-lightest secondary secondary-dark tertiary tertiary-dark pure-black pure-white grey grey-dark grey-darker grey-darkest grey-light grey-lighter red red-dark red-lightest;
$colorlistProperty: color background-color;
@each $property in $colorlistProperty {
    @each $item in $colorlistName {
        .#{$property}-#{"" + $item} {
            $thisItem: index($colorlistName, $item);
            $varItem: nth($colorListVariables, $thisItem);
            #{$property}: $varItem !important;
        }
    }
}
// border
.all-border-no {
    border: none !important;
}
.bottom-border-grey-light {
    border-bottom: 1px solid $grey-light !important;
}
// display
.inline-block-display {
    display: inline-block !important;
}
.inline-display {
    display: inline !important;
}
.block-display {
    display: block !important;
}
.flex-display {
    display: flex !important;
}
.display-no {
    display: none !important;
}
// faux-table (flex) cell layout
.valign-middle,
.valign-bottom {
    display: flex !important;
}
.pre-wrap {
    white-space: pre-wrap !important;
}
.nowrap {
    overflow: hidden !important;
    white-space: nowrap !important;
}
.valign-top {
    vertical-align: top !important;
    justify-content: flex-start !important;
}
.valign-bottom {
    vertical-align: bottom !important;
    justify-content: flex-end !important;
}
// font related helper classes
.bold-font {
    font-weight: bold !important;
}
.font-size-12 {
    font-size: 12px !important;
}
.font-size-14 {
    font-size: 14px !important;
}
.font-size-16 {
    font-size: 16px !important;
}
.font-size-18 {
    font-size: 18px !important;
}
// misc
.high-chart-placeholder {
    border: 1px solid #DDDDDD;
    background-image: url(data:image/gif;base64,R0lGODlhIANYArMAAO3t7fPz8/z8/OHh4fn5+ejo6N7e3tTU1OXl5evr69PT09ra2tfX19DQ0MzMzP///yH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMwMTQgNzkuMTU2Nzk3LCAyMDE0LzA4LzIwLTA5OjUzOjAyICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNCAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDozQ0IxNkZDRUYxQTYxMUU0ODVGOEY1OEM2NDJBQzY0NiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDozQ0IxNkZDRkYxQTYxMUU0ODVGOEY1OEM2NDJBQzY0NiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkMxQjg0NjA5RjFBMzExRTQ4NUY4RjU4QzY0MkFDNjQ2IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkMxQjg0NjBBRjFBMzExRTQ4NUY4RjU4QzY0MkFDNjQ2Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAAAAAAAsAAAAACADWAIABP/QvSfprPhqy3PfXgiOXyma5KmmLOqubwvPch3fNG7n/O7rwF7wJywSj8OkUYlcOptQpvSZnEap2KvWys12t94wePwti83kszrNRrvXb3J8Dq+37fS7Ps/H+/d/fYCDgoWBhymIhoSKjYyPi5GOkpCTlpWYlJp4m5mXnaCfop6koaWjpqmoq1Gqp6+usayysLO2tbi0ura3u7m9wL/CvsTBxcPGqMfLycjOzM/N0NPS1bDU0dnY29bc2t3g3+I44d7m5ejj6efq7exu7+vy7vPx9Pf2+dL6+PX+/QD5Cfw3MA3BgwERFlyosGHChyUYQnQosSLFixMzprKoESPHjx7/Q3Yc2UUkSJImU6JcebJlS5UvWcKcKbPmtpg4aea0qbMnz0o+dwoNSvTnUKNLjiotuhSp06Y4oTKd+pSq1KoyrWrFerXrVq/PwIr9SpZr2bGE0Ko9y9as27V32sKdK7fuW7sR8eq9y5du371A/AoGTPivYamFBx9OzHjxU8WQG0d2PHlaZcmYKWe+/GuzZ82gOYs2Njr059KoT3tJbbo169eq47qODXu27dqFcNPefZs3at29gwMfvtu3ceHHid9Wzjy5c+R9m0OXTv05SOvYp2evbpS79+3gtUP8Lp68+fDM0Ksvv/78OPfw28tnf21+fPr38/uxzx9/f/1p/Seg/38EArjRgAYiqGCBPCyYIIMQPsiHhA5WGKGDFF6oYYYcFmFhhxt+aB+IJIoY4okclIiiiSrqxuKLK8bIYYsw0ijjZjbmWOOOVfGo441AevfjkD4WSRKRQRqJJGJJNrmkkrQ96SSUU5Yn5ZVUYolMllxWqeVHX3YZppcEjWmmmGgCReaaZ7IZZZptxgnnGXK6aWedDM15p554ksbnn3sGWlGfggJKqCGGJlroovkcqqijjNL56KSRVpqepZRCqmlSmXaK6acHgurppqKqSeqpoyqJaqmratpqqqzCSoGstMZqKzy1vnrro7r2mquCv+4qrK82EGtssOYdOyyyaDK77P+zykLrbLSqTmuttLteSy22LW7rrbZvcguuuOS+MO635WJ47rrp3onuu+xGFu+87cIHb730CpnvvvjeyO+9AMsVcL8DD1fwvwj/lfDBBPvG8MML6wRxwxRTGHHFF4s28cYZe8QxxiDH13HIIwv28ckll5kyySxXtzLKLZ8F88wvl0NzzDi7mHPNO0d48888EwN0z0NfR3TQSD+WdNFLK9P00VAP9jTTUVNE9dVTK4J11VyPlXXXX7+z9dhhw0E22GgvVXbaa1vW9ttshwX32XQ7MffdccdSd954h7r3332rEDjfhC8EeOGDR3L44olj0DjikIv9OOORmz355ZWDgTn/5X9zvnnbnmceuhmfi156FaenbnoLo6vOtOuwr56X7LG3ToLtuGdd++6y507776D4LjzSvA8PvPHIl5w88LAX73zky0e/sPTMV0/H89QDnD328W5v/eXcfy8+F96Xf6754wcePvrRsr/+tO6nLz85879fP+v2x9+q/vn/2v/9Y+MfAKcmwAKm6n8GbFkCF8grBDqQZA9kYMUkSEE+VXCA34ugBie4wQt+yYMdnFMIMTgzEJIwYyZMIZRGqEJotfCFNYLhCSvHwhpyS4Y4/FAOZwgvG+6wWz4M4q1+KMQOFfGIrCIiD8+HRCUmqIlQtJQTo5ifKS4RbFTMoqCsyEX0/3Txir7S4heTJcYyemmMZnQZGNMIPzaukWhofCOq3BhH5tSRjsm5oxwPuMc+jk6PgDxNIP04KTwSUoGGHORvEsnICzVSkYJ8pCTxA8lDnmmSlaxMJjGZmE1aUoSfDCXdPElKgXFSlKAsJSqHpcpWfsWVq9TRKWGpFlrOUma3jCWXcmlLyvTylxLjpTBNM0xgRqeYyDyMMZeZkmQykyvPjKbVnEnNu1RTmt25pjaVpstu0myb2BwUOMdpk3CScyDnTCdLzOnN/7DznfJQJzzHI8960rOd+OSYPedpDn7u02b/zKd8AupPdxT0oH4SqEIPRtCGGtShCJXbQiGKHYpOVP9GEc3oLDR6UZ1x9KOfAGlHwyXSkh7Coiatz0hX2j6UurQzLH3pa1JKU07I9KanwGlNIbHTnkoqpkANY1B1iiOiDnU6Pj0qXYya1Dk0lak/fapS2QLVqQpHqlgVQlat6pWqbpV8Xg2rHMT6VQ9xlaymPKta41TWtU4FrW71JVzbegO6znUG4CTABAwwgQFs4AATCAAJBOuCBkwAAHudgGIJy9cbIPYBhnUBYff5S8U+VrGKrUBmN4BZ1iW2s52FgV4xewLQyrOyCVCAYgdQgAT4NbSjfcBjBfCABSQgsJ29rAII+4ABOOC3DkiAax9AWN5+NrCqJe4ERmtc23YWAYf/jWsorunX1K62AKC9QGw769zsYna3q31tARowXO+CNgDJNe8EuutdwFb2mtbta2sHIAAGOKABDQiAAxRw3wCgt78L4G9wa/vbBaCXAQv4LWEHIF7yDoAA9nVAAer729v6VsIBwK8DGCCA/wYXwvdVAAD+qwACFGAB5N0sLVEL3N/OFwELIK4D9IvdBRRAAdgtAIL5emIANKDDM3YAYsHb1xYLdwAwfsCJBxBjGitAAALY7YwFkF8FVNcBA2AAccmLYyXbuAGx1SZ1HxDf3s63u1LWK2sdEFvnJiDGCDCAb9E7ASL39rUTcC0BBmAAAyyAvQVo8Y3rrN/RVni9CWhx/wMKgGdw/rLMrHUtk2UbZDXfOMcIvu2bT0xmIbsXvGrGM5mZjN0sT5rGHI4yAD6N3itnecupva2OGS1dp9U6E2ROb6QfbF8F5JfNZv7vAQLgZgP/lgENUEByE7zg6uZ5zRsOboRva4DfDoDOD9ithxMA4v0mQNgBoPVtgXlN93o3zjKmrXrXze52u/vdKr7mLx8bWeg+gMISxuy4R/tY9xZ3ubh9gHvHXYFxL7az/5ZtdDGLXcw+drQEv7UmwnnZ0EqcMPtM+F15unG73q7jIJdByD0+O5KP3OQX58nIV/7xlKPccCw3ecxnHm+X01wgL1/5zWOec5sfaec+R2fQgf+Oc6J3vOdlNfrQNYL0oys9q093+tKbHhCqQ33qUa961ptq9btufa5dxzo+wv7Ur4v9JmbvKdnRmnayrv3s3Xi7T9sO9/fQnaZyD+vdvZr3ugtt734HBuDxPnid9r2mhQ/8MA7PVMYrXhaJL6njJR/5m1b+8baevEw1j/laXP6jnAf95106+s5PvPQHDb3lTY96rbWe9QGCvepN9Xp+zj6jtye97Gtv0937XmO8/70agm974lPW+MLXXPJzvwfmpx755oT+8ZcvfSQ4n6LVD+f1qT9W7m+/JN7PvlbFH/5ikZ+Z5z/n9wm6/vJPIf3uh0H73zn/f8J/mfWP/w/yH33//fM/B//nf/J3f2ImgAaoFAEYTQmYTgR4gJrVgCsGgdQkgQe4gA7IWRToShnoTBaIfxsYfx/YSh3oaCEoTCXofiN4gSpIgCdISin4XisYgxbRgrz0gvJGg9SHg5lkgxWog5zkg8vHgxEog+IHhIokhBxohJKkhL+HhP7nhBpIhFIIc1MIfVCITEwISFeIglnISF0oe1vogl+IRmOYSGFYg2WIeWk4RmfofW24SWtIR284S3OYg1V4h40Sh35Xh5Ckh1zEh5gEiMLnh2kkiFpIiHCHiE5kiI/EiLuniGLkiHUkiV6Ih1YIiVNHiayHiT+kiWzIiVAEipkoii/kiXhE/4pNZIqPp4pdhIpBx4qF6IoqJItFBIt7SIsXh4spZIuLqIs15IsSx4uRCIwVRIwsJIxnh4xEZIzSpYxU5IxYx4wUBI04RI2haInY2E/SGEHWOHTbuFbdWIrfaEDjyI3lqFTheETnWEDp6HLtOIvZSHzv6EPzmIvxeI9ug4+oV48gtI4IxI/H6I9DJZD6A5DNSJDvg5BBZZDTqJDm45Drw5AdJJFuBZEsRZELhJEaZJHlo5Fc5ZHkqI8i+Xcj+Xkg6UAciT0niY4pOVEtmT0rWZAvuTszuVAxmT83OZAluZN6U5PIk5Pu45O1A5QRKZTtZJQ/iZSnQ5QxpZTexJQd6XOUuSOVS0mVogSV3GOVuIOVHcWV26OVm+OVxSOWLsmTJgmWlkSW0oOWf8SWiaOWNGmWchk8bulHcClQdck5d5mUc1l4efmWfylHe9k8fVmYihOYnYOYd6OYgsmYo+SYbwOZYDSYTymZZGOZoIOZJESZwxMBADs=);
    background-position: center center;
    min-height: 20px;
    display: block;
}
.scrolling-content {
    overflow-y: scroll !important;
}
.full-height {
    height: 100% !important;
}
// overflows
.visible-overflow {
    overflow: visible !important;
}
.hidden-overflow {
    overflow: hidden !important;
}
.auto-overflow {
    overflow: auto !important;
}
.hidden {
    display: none !important;
}
.word-wrap-break-word {
    word-wrap: break-word !important;
}