$sdk_color: #777;
$adk_color: #6d8996;
$rdk_color: #598966;
$vxapi_color: #37779e;
$sdk_background_color: #eee;
$adk_background_color: #bcced6;
$rdk_background_color: #b8d1bf;
$vxapi_background_color: #a5c4d6;
$toc_color: #006599;
$toc_border_color: #ddd;
$toc_stripe_color: grey;
$options_color: #1b809e;
$methods_color: #c7254e;