.workspace-editor-container {
    .panel-heading {
        background-color: $pure-white;
        border-bottom: 3px solid $primary-light;
        border-radius: 0px;
        padding: 10px 0px;
        h2 {
            font-weight: bold;
            font-size: 14px;
            margin: 0;
            padding-top: 5px;
        }
    }
    .panel-footer {
        background-color: $pure-white;
    }
    .grid-filter {
        background-color: $grey-lighter;
        max-height: 52px;
        padding: 10px 10px 5px 10px;
        .fa-filter { 
            position: absolute;
            top: 8px;
            left: 24px;
        }
        .input-sm {
            padding-left: 20px;
            padding-right: 20px;
            &::-ms-clear {
                display: none;
            }
        }
        .editor-clear-filter {
            color: #767676;
            font-size: 12px;
            top: 1px;
            position: absolute;
            right: 18px;
            display: none;
        }
    }
    .applet-carousel {
        background-color: #4A4D52;
        text-align: center;
        padding-top: 10px;
        min-height: 65px;
        max-height: 100px;
        .applet-items-container {
            .applet-thumbnail {
                background-color: $pure-white;
                border: 1px solid $grey-lighter;
                border-radius: 4px;
                color: $grey-darker;
                padding: 3px;
                margin: 0 2px;
                min-width: 84px;
                max-width: 90px;
                &:hover,
                &:focus {
                    border: 1px solid $pure-white;
                    color: $pure-white;
                    background: $primary;
                    cursor: pointer;
                }
            }
            .empty-applets-message {
                align-self: center;
            }
        }
    }
    .applet-gridster {
        background-color: #4A4D52;
        min-height: 430px;
        padding: 10px 20px 20px 20px;
        h4 {
            color: white;
            margin: 0;
            text-align: center;
            padding: 0px 0px 5px 0px;
        }
    }
    .boundary-indicator {
        height: 360px;
        position: fixed;
        text-align: center;
        .wireframe {
            border: solid 1px #0CF;
            border-radius: 4px;
            height: 100%;
            width: 100%;
        }
        h5 {
            color: white;
            margin: 0;
            padding-top: 5px;
        }
    }
    .gridster {
        float: left;
        height: 399px;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
        ul {
            list-style: none;
        }
        li.gs-w {
            background-color: $pure-white;
            border-radius: 4px;
            padding: 10px;
            text-align: center;
            z-index: inherit;
            &:first-child > .view-switchboard {
                left: 112%;
            }
        }
        .edit-applet {
            float: right;
        }
        .view-switchboard {
            background-color: $pure-white;
            border: 1px solid $grey-lighter;
            border-radius: 4px;
            left: calc(50% + 20px);
            min-height: 172px;
            padding-top: 10px;
            position: relative;
            transform: translate(-20em, -6.5em);
            top: 60px;
            width: 400px;
            z-index: 100;
            .applet-exit-options-button {
                float: right;
                margin: -117px 10px 0px 0px;
            }
        }
        .options-list {
            height: 70%;
            .options-panel {
                li {
                    padding-bottom: 0px;
                }
            }
        }
    }
}

ul.options-panel {
    list-style: none;    
    li {
        padding: 5px;
    }
    .options-box {
        border: 16px solid $grey-lighter;
        max-width: 100px;
        width: 100%;
        &:focus {
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 10px;
        }
        &:hover,
        &:active {
            background-color: $primary;
            cursor: pointer;
        }
        &.gist {
            border-color: $grey-lighter;
            &:hover,
            &:active {
                background-color: $primary;
                border: 16px solid $primary-light;
            }
        }
        &.summary {
            border: 7px solid $primary;
            box-shadow: inset 0px 0 0 7px $primary-light;
            height: 41px;
            &:hover,
            &:active {
                border: 7px solid $primary-light;
                box-shadow: inset 0px 0 0 7px $primary;
            }
            &:focus {
                box-shadow: inset 0px 0 0 7px $primary-light, 0 1px 1px rgba(0,0,0,0.075),0 0 10px;
            }
        }
        &.expanded {
            border-color: $primary;
            &:hover,
            &:active {
                border-color: $grey-light;
            }
        }
        &.remove-applet-option {
            border: 1px dashed $primary;
            height: 40px;
            margin-bottom: 5px;
            max-width: 50px;
            .fa-trash-o {
                transform: inherit;
            }
            &:hover,
            &:active {
                background-color: transparent;
                border: 1px solid $primary-dark;
                color: $primary-dark;
            }
        }
    }
    .applet-exit-options-button {
        float: right;
        margin-top: -50px;
    }
}
