<div class="container-fluid all-padding-no">
    <fieldset class="global-date-picker-controls">
        <legend class="sr-only">Global Date Range Filter</legend>
        <div class="pull-left btn-group btn-group-xs right-margin-xl">
            <button id="allRangeGlobal" type="button" class="gdt-btn daterange btn btn-default btn-sm" aria-label="All years">All</button>
            <button id="2yrRangeGlobal" type="button" class="gdt-btn daterange btn btn-default btn-sm" aria-label="Last 2 years">2yr</button>
            <button id="1yrRangeGlobal" type="button" class="gdt-btn daterange btn btn-default btn-sm" aria-label="Last year">1yr</button>
            <button id="3moRangeGlobal" type="button" class="gdt-btn daterange btn btn-default btn-sm" aria-label="Last 3 months">3m</button>
            <button id="1moRangeGlobal" type="button" class="gdt-btn daterange btn btn-default btn-sm" aria-label="Last month">1m</button>
            <button id="7dRangeGlobal" type="button" class="gdt-btn daterange btn btn-default btn-sm" aria-label="Last 7 days">7d</button>
            <button id="72hrRangeGlobal" type="button" class="gdt-btn daterange btn btn-default btn-sm" aria-label="Last 72 hours">72hr</button>
            <button id="24hrRangeGlobal" type="button" class="gdt-btn daterange btn btn-default btn-sm" aria-label="Last 24 hours">24hr</button>
        </div>
        <div class="form-inline pull-left">
            <label for="filterFromDateGlobal">From</label>
            <div class="input-group date right-margin-sm" id="customDateFromGlobal">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control input-sm gdt-input left-padding-xs right-padding-xs" id="filterFromDateGlobal" name="filterFromDateGlobal" size="11" aria-describedby="filterDateGlobalFormat" />
            </div>
            <label for="filterToDateGlobal">To</label>
            <div class="input-group date" id="customDateToGlobal">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control input-sm gdt-input left-padding-xs right-padding-xs" id="filterToDateGlobal" name="filterToDateGlobal" size="11" title="Cannot be prior to today's date" aria-describedby="filterDateGlobalFormat" />
            </div>
            <div id="filterDateGlobalFormat" class="sr-only" aria-hidden="true">Use format: MM/DD/YYYY</div>
        </div>
        <div class="pull-right text-right help-button-container"></div>
    </fieldset>
    <div class="global-date-picker-graph-results">
        <div class="row">
            <div class="col-xs-12 center-block">
                <div id="trendHistoryChart" aria-hidden="true"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 center-block">
                <div id="timelineSummary" class="timelineSummary-scrollable" accesskey="k"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 center-block">
                <div id="gdfFooter" class="modal-footer all-padding-xs">
                    <div>
                        <div class="pull-right">
                            <button id="cancelGlobal" name="cancelGlobal" type="button" class="gdt-btn btn btn-default btn-sm left-margin-md">Cancel</button>
                            <button id="customRangeApplyGlobal" name="customRangeApplyGlobal" type="button" class="gdt-btn btn btn-primary btn-sm left-margin-sm" disabled>Apply Dates Globally</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
