.problem-clear-text {
    .btn-icon {
        position: relative;
        right: 30px;
        top: 34px;
    }
}
.problemTerm {
    input::-ms-clear {
        display: none;
    }
}
.adk-form {
    .select-problem-container {
        margin: -8px 0px 0px -15px;
        width: 110%;
    }
    .keep-problem-container {
        margin: -15px 0px 0px -15px;
        width: 110%;
        .keep-problem-btn {
            top: -52px;
            position: relative;
        }
    }
}
.immediacyRadioValue {
    .radio-inline+.radio-inline {
        margin-left: 8px;
    }
}

[data-appletid="problems"] {
    .problems-full & {
        .panel-body {
            overflow-y: auto;
        }
    }
}