<fieldset class="all-margin-sm btn-date-range">
    <legend class="sr-only">Date Range Filter</legend>
    <div class="btn-group btn-group-xs">
        <button id="all-range-{{appletId}}" type="button" class="btn btn-sm btn-default" aria-label="All years">All</button>
        <button id="2yr-range-{{appletId}}" type="button" class="btn btn-sm btn-default" aria-label="Last 2 years">2yr</button>
        <button id="1yr-range-{{appletId}}" type="button" class="btn btn-sm btn-default" aria-label="Last year">1yr</button>
        <button id="3mo-range-{{appletId}}" type="button" class="btn btn-sm btn-default" aria-label="Last 3 months">3m</button>
        <button id="1mo-range-{{appletId}}" type="button" class="btn btn-sm btn-default" aria-label="Last month">1m</button>
        <button id="7d-range-{{appletId}}" type="button" class="btn btn-sm btn-default" aria-label="Last 7 days">7d</button>
        <button id="72hr-range-{{appletId}}" type="button" class="btn btn-sm btn-default" aria-label="Last 72 hours">72hr</button>
        <button id="24hr-range-{{appletId}}" type="button" class="btn btn-sm btn-default" aria-label="Last 24 hours">24hr</button>
    </div>
    <div class="form-group">
        <label for="filter-from-date-{{appletId}}" class="font-size-12">From</label>
        <div id="custom-date-range1-{{appletId}}" class="input-group date">
            <span class="input-group-addon" aria-hidden="true" for="filter-from-date-{{appletId}}">
                <i class="fa fa-calendar"></i>
            </span>
            <input type="text" placeholder="MM/DD/YYYY" class="form-control input-sm" id="filter-from-date-{{appletId}}" name="filter-from-date-{{appletId}}" aria-describedby="customDateRange{{appletId}}" />
        </div>
    </div>
    <div class="form-group">
        <label for="filter-to-date-{{appletId}}" class="font-size-12">To</label>
        <div id="custom-date-range2-{{appletId}}" class="input-group date">
            <span class="input-group-addon" aria-hidden="true" for="filter-to-date-{{appletId}}">
                <i class="fa fa-calendar"></i>
            </span>
            <input type="text" placeholder="MM/DD/YYYY" class="form-control input-sm" id="filter-to-date-{{appletId}}" name="filter-to-date-{{appletId}}" aria-describedby="customDateRange{{appletId}}" />
        </div>
    </div>
    <div id="customDateRange{{appletId}}" class="sr-only" aria-hidden="true">Use format: MM/DD/YYYY</div>
    <button id="custom-range-apply-{{appletId}}" name="custom-range-apply-{{appletId}}" type="submit" class="btn btn-sm btn-primary left-margin-sm" disabled>Apply</button>
</fieldset>