<h3>Faux Table</h3>
<div class="description">
    <p><strong><i class="fa fa-leanpub"></i> Description:</strong> A faux table is a table that looks/formatted like a table, but allows enhanced functionality that a table does not allow. Instead of table tags, the faux table uses an unordered list along with CSS styling.</p>
    <p><strong><i class="fa fa-wheelchair"></i> 508 Guidelines</strong> When using a screen reader on a faux table, the screen reader will read it row by row. Keyboard accessibility within the faux table will depend on the design.</p>
</div>
<h2 class="text-center">Only Tabular Date - Default Layout</h2>
<div class="faux-table-container">
    <div class="faux-table">
        <div class="header table-row">
            <div class="table-cell">
                <div>Facility</div>
            </div>
            <div class="table-cell">
                <div>Name</div>
            </div>
            <div class="table-cell">
                <div>Analog Pager</div>
            </div>
            <div class="table-cell">
                <div>Digital Pager</div>
            </div>
            <div class="table-cell">
                <div>Office Phone</div>
            </div>
        </div>
        <div class="body">
            <!-- // helper classes set the scrollable height area e.g. scrolling-content and pixel-height-1*100 -->
            <div class="table-row">
                <div class="table-cell">
                    <span>TST1</span>
                </div>
                <div class="table-cell">
                    <span>John Doe</span>
                </div>
                <div class="table-cell">
                    <span>(123) 456-7890</span>
                </div>
                <div class="table-cell">
                    <span>(123) 456-7890</span>
                </div>
                <div class="table-cell">
                    <span>(123) 456-7890</span>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <span>TST1</span>
                </div>
                <div class="table-cell">
                    <span>John Doe</span>
                </div>
                <div class="table-cell">
                    <span>(123) 456-7890</span>
                </div>
                <div class="table-cell">
                    <span>(123) 456-7890</span>
                </div>
                <div class="table-cell">
                    <span>(123) 456-7890</span>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<h2 class="text-center">Entire row linking / single entire cell linking / content within cell linking</h2>
<div class="faux-table-container">
    <div class="faux-table">
        <div class="header table-row">
            <div class="table-cell">
                <div>Table Content</div>
            </div>
            <div class="table-cell flex-width-2">
                <div>Faux Table Header 2</div>
            </div>
            <div class="table-cell">
                <div>Faux Table Header 3</div>
            </div>
            <div class="table-cell">
                <div>Faux Table Header 4</div>
            </div>
        </div>
        <div class="body">
            <div class="table-row">
                <div class="table-cell">
                    <span>Table Content</span>
                </div>
                <div class="table-cell flex-width-2">
                    <span>Exampe of long content with link inside, <a href="#">text link</a> - Lorem ipsum dolor sit amet, consectetur adipisicing edivt. Soluta amet, commodi placeat voluptatibus, quos sapiente natus sequi quidem animi, doloribus reiciendis assumenda? Ipsum aspernatur praesentium vero totam placeat voluptatibus molestiae? </span>
                </div>
                <div class="table-cell">
                    <a href="">An example of an ahref text link within the faux table cell</a>
                </div>
                <div class="table-cell">
                    <span>Table Content</span>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <span>Table Content</span>
                </div>
                <div class="table-cell flex-width-2">
                    <span>Table Content</span>
                </div>
                <div class="table-cell">
                    <span>Table Content</span>
                </div>
                <div class="table-cell">
                    <span>Table Content</span>
                </div>
            </div>
            <a href="" class="table-row">
                <div class="table-cell">
                    <span>Entire row</span>
                </div>
                <div class="table-cell flex-width-2">
                    <span>Entire row links</span>
                </div>
                <div class="table-cell">
                    <span>Entire row links</span>
                </div>
                <div class="table-cell">
                    <span>Entire row links</span>
                </div>
            </a>
        </div>
    </div>
</div>
<hr />
<!-- <h2 class="text-center">Enter Store Allergies </h2>
<div class="faux-table">
    <div class="sr-only">This table represents symptoms categorized by date and time.</div>
    <div class="header table-row">
        <div class="table-cell">
            <div>Symptoms</div>
        </div>
        <div class="table-cell">
            <div>Date</div>
        </div>
        <div class="table-cell">
            <div>Time</div>
        </div>
        <div class="table-cell">
            <div></div>
        </div>
    </div>
    <div class="body">
        <div class="table-row">
            <div class="table-cell">
                <span>Itchy Watery Eyes</span>
            </div>
            <div class="table-cell">
                <div>
                    <div class="control form-group">
                        <label for="date1" class="sr-only">Calendar</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" title="Please enter in a date in the following format, MM/DD/YYYY" placeholder="MM/DD/YYYY" id="date1" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-cell">
                <div>
                    <div class="control form-group">
                        <label for="time1" class="sr-only">Time Picker</label>
                        <div class="input-group bootstrap-timepicker">
                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                            <input type="text" class="form-control timepicker" title="Please enter in a time in the following format, HH:MM." placeholder="HH:MM" id="time1" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-cell">
                <span>
                        <button type="button" class="btn btn-icon" title="Press enter to remove symptom">
                            <i class="fa fa-times-circle"></i>
                        </button>
                    </span>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell">
                <span>Symptom Name</span>
            </div>
            <div class="table-cell">
                <div>
                    <div class="control form-group">
                        <label for="date2" class="sr-only">Calendar</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" title="Please enter in a date in the following format, MM/DD/YYYY" placeholder="MM/DD/YYYY" id="date2" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-cell">
                <div>
                    <div class="control form-group">
                        <label for="time2" class="sr-only">Time Picker</label>
                        <div class="input-group bootstrap-timepicker">
                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                            <input type="text" class="form-control timepicker" title="Please enter in a time in the following format, HH:MM." placeholder="HH:MM" id="time2" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-cell">
                <span>
                        <button type="button" class="btn btn-icon" title="Press enter to remove symptom">
                            <i class="fa fa-times-circle"></i>
                        </button>
                    </span>
            </div>
        </div>
    </div>
</div>
<hr /> -->
<h2 class="text-center">Encounter Visit Management</h2>
<div class="faux-table-container">
    <div class="faux-table">
        <div class="sr-only">This faux table represents data on hospital admissions categorized by date, details, and location.</div>
        <div class="header table-row">
            <div class="table-cell">
                <div>Date</div>
            </div>
            <div class="table-cell">
                <div>Details</div>
            </div>
            <div class="table-cell">
                <div>Location</div>
            </div>
        </div>
        <div class="body">
            <a href="#" class="table-row">
                <div class="table-cell">
                    <span>05/09/2015 - 12:00</span>
                </div>
                <div class="table-cell">
                    <span>Lorem ipsum dolor sit amet</span>
                </div>
                <div class="table-cell">
                    <span>Primary Care</span>
                </div>
            </a>
            <a href="#" class="table-row">
                <div class="table-cell">
                    <span>05/05/2015 - 16:00</span>
                </div>
                <div class="table-cell">
                    <span>Lorem ipsum dolor sit amet</span>
                </div>
                <div class="table-cell">
                    <span>General Medicine</span>
                </div>
            </a>
            <a href="#" class="table-row">
                <div class="table-cell">
                    <span>04/22/2015 - 08:00</span>
                </div>
                <div class="table-cell">
                    <span>Lorem ipsum dolor sit amet</span>
                </div>
                <div class="table-cell">
                    <span>Primary Care</span>
                </div>
            </a>
            <a href="#" class="table-row">
                <div class="table-cell">
                    <span>03/08/2015 - 09:00</span>
                </div>
                <div class="table-cell">
                    <span>Lorem ipsum dolor sit amet</span>
                </div>
                <div class="table-cell">
                    <span>Primary Care</span>
                </div>
            </a>
        </div>
    </div>
</div>
<hr />
<!-- <h2 class="text-center">Workspace Manager</h2>
<div class="faux-table-container workspace-manager-container">
    <div class="toolbar">
        <div class="col-xs-9">
            <h2>Workspace Manager</h2>
        </div>
        <div class="col-xs-3">
            <button type="button" class="btn" title="This button adds a new workspace.">
                <span class="sr-only">Press enter to add a new workspace.</span>
                <i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn" title="This buttons displays a filter text box.">
                <span class="sr-only">Press enter to open the filter text box. To close the filter text box, press enter again.</span>
                <i class="fa fa-filter"></i>
            </button>
        </div>
    </div>
    <form action="#" method="post" class="form-container">
        <div class="faux-table visible-overflow all-margin-no">
            <div class="header table-row">
                <div class="pixel-width-32 table-cell">
                    <span class="sr-only">Default Selector.</span>
                </div>
                <div class="table-cell">
                    <div>Title</div>
                </div>
                <div class="table-cell pixel-width-32">
                    <span class="sr-only">Association Conditions Manager.</span>
                </div>
                <div class="table-cell">
                    <div>Description</div>
                </div>
                <div class="table-cell">
                    <div>Author</div>
                </div>
                <div class="table-cell">
                    <span class="sr-only">Duplicate Workspace.</span>
                </div>
                <div class="table-cell pixel-width-32">
                    <span class="sr-only">Rearrange Workspace.</span>
                </div>
                <div class="table-cell pixel-width-32">
                    <span class="sr-only">Delete Workspace.</span>
                </div>
                <div class="table-cell pixel-width-32">
                    <span class="sr-only">Preview.</span>
                </div>
                <div class="table-cell">
                    <span class="sr-only">Launch or Customize.</span>
                </div>
            </div>
            <div class="body">
                <div class="table-row locked">
                    <div class="pixel-width-32 table-cell">
                        <button type="button" class="btn btn-icon" title="This button sets the default workspace.">
                            <span class="sr-only">Press enter to set this workspace as the default.</span>
                            <i class="fa fa-star"></i>
                        </button>
                    </div>
                    <div class="bold-font table-cell">
                        <span>
                            <i class="fa fa-lock"></i>&nbsp;Overview
                        </span>
                    </div>
                    <div class="pixel-width-32 table-cell">
                        <a href="#" id="no-association-conditions" class="btn btn-icon close-popover" data-toggle="popover" data-placement="bottom">
                            <span class="sr-only">Press enter to open the association conditions menu, then press tab to enter the menu.</span>
                            <i class="fa fa-share-alt"></i>&nbsp;0
                        </a>
                    </div>
                    <div class="table-cell">
                        <span class="sr-only">A premade workspace does not have a description.</span>
                    </div>
                    <div class="table-cell">
                        <span>Panorama User</span>
                    </div>
                    <div class="pixel-width-32 table-cell">
                        <button type="button" class="btn btn-icon" title="This button duplicates the workspace.">
                            <span class="sr-only">Press enter to duplicate the workspace.</span>
                            <i class="fa fa-files-o"></i>
                        </button>
                    </div>
                    <div class="pixel-width-32 table-cell">
                        <button type="button" class="btn btn-icon" title="This button rearranges the workspace.">
                            <span class="sr-only">Hold enter and press the up or down arrow key to rearrange the workspace.</span>
                            <i class="fa fa-arrows-v"></i>
                        </button>
                    </div>
                    <div class="pixel-width-32 table-cell">
                        <button type="button" class="btn btn-icon" title="This button opens a dialog to delete the workspace." disabled>
                            <span class="sr-only">This is a premade workspace and cannot be deleted.</span>
                            <i class="fa fa-lock"></i>
                        </button>
                    </div>
                    <div class="table-cell">
                        <a href="#" title="This button is used to preview the workspace.">Preview
                            <span class="sr-only">Press enter to preview the workspace at this time.</span>
                        </a>
                    </div>
                    <div class="table-cell">
                        <a href="#" title="This button launches the workspace.">Launch
                            <span class="sr-only">Press enter to launch the workspace.</span>
                        </a>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell pixel-width-32">
                        <button type="button" class="btn btn-icon" title="This button sets the default workspace.">
                            <span class="sr-only">Press enter to set this workspace as the default.</span>
                            <i class="fa fa-star-o"></i>
                        </button>
                    </div>
                    <div class="table-cell">
                        <div>
                            <div class="form-group">
                                <label for="overviewTitleCopy" class="sr-only">Workspace title. Type to</label>
                                <input id="overviewTitleCopy" type="text" name="overviewTitleCopy" class="form-control" value="Overview Copy" maxlength="30" title="This input field is used to change the title of the workspace.">
                                <span class="sr-only">Begin typing to change the title of this workspace</span>
                            </div>
                            <button type="submit" class="sr-only" disabled="disabled">Submit</button>
                        </div>
                    </div>
                    <div class="table-cell pixel-width-32">
                        <a href="#" id="association-conditions" class="btn btn-icon close-popover" data-toggle="popover" data-placement="bottom">
                            <span class="sr-only">Press enter to open the association conditions menu, then press tab to enter the menu.</span>
                            <i class="fa fa-share-alt"></i>&nbsp;3
                        </a>
                    </div>
                    <div class="table-cell">
                        <div>
                            <div class="form-group">
                                <label for="overviewDescriptionCopy" class="sr-only">Workspace description. Type to</label>
                                <input id="overviewDescriptionCopy" type="text" name="overviewDescriptionCopy" class="form-control" value="Description of the overview copy workspace" maxlength="140" title="This input field is used to change the description of the workspace.">
                                <span class="sr-only">Begin typing to change the description of the workspace.</span>
                            </div>
                            <button type="submit" class="sr-only" disabled="disabled">Submit</button>
                        </div>
                    </div>
                    <div class="table-cell">
                        <span>Panorama User</span>
                    </div>
                    <div class="table-cell pixel-width-32">
                        <button type="button" class="btn btn-icon" title="This button duplicates the workspace.">
                            <span class="sr-only">Press enter to duplicate the workspace.</span>
                            <i class="fa fa-files-o"></i>
                        </button>
                    </div>
                    <div class="table-cell pixel-width-32">
                        <button type="button" class="btn btn-icon" title="This button rearranges the workspace.">
                            <span class="sr-only">Hold enter and press the up or down arrow key to rearrange the workspace.</span>
                            <i class="fa fa-arrows-v"></i>
                        </button>
                    </div>
                    <div class="table-cell pixel-width-32">
                        <button type="button" class="btn btn-icon" title="This button opens a dialog to delete the workspace.">
                            <span class="sr-only">Press enter to open the dialog to delete the workspace.</span>
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                    <div class="table-cell">
                        <a href="#" class="locked" title="This button to preview the workspace is disabled.">Preview
                            <span class="sr-only">Unable to preview the workspace at this time.</span>
                        </a>
                    </div>
                    <div class="table-cell">
                        <a href="#" title="This button launches the workspace.">Customize
                            <span class="sr-only">Press enter to customize the workspace.</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<hr /> -->
<!-- <h2 class="text-center">Patient Care</h2>
<div class="faux-table-container">
    <div class="faux-table">
        <div class="header table-row">
            <div class="table-cell">
                <div>Facility</div>
            </div>
            <div class="table-cell">
                <div>Name</div>
            </div>
            <div class="table-cell">
                <div>Analog Pager</div>
            </div>
            <div class="table-cell">
                <div>Digital Pager</div>
            </div>
            <div class="table-cell">
                <div>Office Phone</div>
            </div>
        </div>
        <div class="body">
            <div class="table-row">
                <div class="table-cell">
                    <span>TST1</span>
                </div>
                <div class="table-cell">
                    <span>John Doe</span>
                </div>
                <div class="table-cell">
                    <span>(123) 456-7890</span>
                </div>
                <div class="table-cell">
                    <span>(123) 456-7890</span>
                </div>
                <div class="table-cell">
                    <span>(123) 456-7890</span>
                </div>
            </div>
        </div>
    </div>
</div>
<hr /> -->
<div role="tabpanel" class="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#faux-table-simple-data-markup" aria-controls="faux-table-simple-data-markup" role="tab" data-toggle="tab">Faux Table- Only Tabular Data</a></li>
        <li><a href="#faux-table-entire-row" aria-controls="faux-table-entire-row" role="tab" data-toggle="tab">Faux Table with Entire Row Link</a></li>
        <li><a href="#faux-table-encounters" aria-controls="faux-table-encounters" role="tab" data-toggle="tab">Encounter Visit Management</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="faux-table-simple-data-markup">
            <pre>
&lt;h2 class="text-center"&gt;Only Tabular Data - Default Layout&lt;/h2&gt;
    &lt;div class="faux-table-container"&gt;
        &lt;div class="faux-table"&gt;
            &lt;div class="header"&gt;
                &lt;div class="table-row"&gt;
                    &lt;div&gt;
                        &lt;div&gt;Facility&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;div&gt;Name&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;div&gt;Analog Pager&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;div&gt;Digital Pager&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;div&gt;Office Phone&lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="body"&gt;
                &lt;div class="table-row"&gt;
                    &lt;div&gt;
                        &lt;span&gt;TST1&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;span&gt;John Doe&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;span&gt;(123) 456-7890&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;span&gt;(123) 456-7890&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;span&gt;(123) 456-7890&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="table-row"&gt;
                    &lt;div&gt;
                        &lt;span&gt;TST1&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;span&gt;John Doe&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;span&gt;(123) 456-7890&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;span&gt;(123) 456-7890&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;span&gt;(123) 456-7890&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
            </pre>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="faux-table-entire-row">
            <pre>
&lt;h2 class="text-center"&gt;Entire row linking / single entire cell linking / content within cell linking&lt;/h2&gt;
&lt;div class="faux-table-container"&gt;
    &lt;div class="faux-table"&gt;
        &lt;div class="header table-row"&gt;
            &lt;div class="table-cell"&gt;
                &lt;div&gt;Table Content&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="table-cell flex-width-2"&gt;
                &lt;div&gt;Faux Table Header 2&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="table-cell"&gt;
                &lt;div&gt;Faux Table Header 3&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="table-cell"&gt;
                &lt;div&gt;Faux Table Header 4&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="body"&gt;
            &lt;div class="table-row"&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Table Content&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell flex-width-2"&gt;
                    &lt;span&gt;Exampe of long content with link inside, &lt;a href="#"&gt;text link&lt;/a&gt; - Lorem ipsum dolor sit amet, consectetur adipisicing edivt. Soluta amet, commodi placeat voluptatibus, quos sapiente natus sequi quidem animi, doloribus reiciendis assumenda? Ipsum aspernatur praesentium vero totam placeat voluptatibus molestiae? &lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;a href=""&gt;An example of an ahref text link within the faux table cell&lt;/a&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Table Content&lt;/span&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="table-row"&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Table Content&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell flex-width-2"&gt;
                    &lt;span&gt;Table Content&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Table Content&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Table Content&lt;/span&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;a href="" class="table-row"&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Entire row&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell flex-width-2"&gt;
                    &lt;span&gt;Entire row links&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Entire row links&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Entire row links&lt;/span&gt;
                &lt;/div&gt;
            &lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </pre>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="faux-table-encounters">
            <pre>
&lt;h2 class="text-center"&gt;Encounter Visit Management&lt;/h2&gt;
&lt;div class="faux-table-container"&gt;
    &lt;div class="faux-table"&gt;
        &lt;div class="sr-only"&gt;This faux table represents data on hospital admissions categorized by date, details, and location.&lt;/div&gt;
        &lt;div class="header table-row"&gt;
            &lt;div class="table-cell"&gt;
                &lt;div&gt;Date&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="table-cell"&gt;
                &lt;div&gt;Details&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="table-cell"&gt;
                &lt;div&gt;Location&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="body"&gt;
            &lt;a href="#" class="table-row"&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;05/09/2015 - 12:00&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Lorem ipsum dolor sit amet&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Primary Care&lt;/span&gt;
                &lt;/div&gt;
            &lt;/a&gt;
            &lt;a href="#" class="table-row"&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;05/05/2015 - 16:00&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Lorem ipsum dolor sit amet&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;General Medicine&lt;/span&gt;
                &lt;/div&gt;
            &lt;/a&gt;
            &lt;a href="#" class="table-row"&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;04/22/2015 - 08:00&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Lorem ipsum dolor sit amet&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Primary Care&lt;/span&gt;
                &lt;/div&gt;
            &lt;/a&gt;
            &lt;a href="#" class="table-row"&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;03/08/2015 - 09:00&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Lorem ipsum dolor sit amet&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="table-cell"&gt;
                    &lt;span&gt;Primary Care&lt;/span&gt;
                &lt;/div&gt;
            &lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                    </pre>
        </div>
    </div>
</div>
