<div class="medicationReviewDetail">
	<div class="panel-collapse panel panel-success light-grey-background">
	    <div class="panel-body">
	        <div class="col-sm-2 orderHx-list pull-left">
	            <h2 class="orderHx">
	                <span class="order-history-header">Order Hx</span>
	            </h2>
	        	<div class="order-history-panel pull-left" role="list"></div>
 				<h5 class="infoButton">
                	<span class="info-button-header"><p>Links</p></span>
            	</h5>
            	<div class="info-button-panel pull-left" role="list"></div>
            	<h5 class="infoButton">
                	<span class="info-button-header"><p>Patient Education</p></span>
            	</h5>
            	<div class="info-button-patient-panel pull-left" role="list"></div>
	        </div>

	        <div class="order-detail-panel col-sm-10 pull-left"></div>
	    </div>
	</div>
</div>