<div class="col-xs-2 top-padding-lg right-padding-no">
	<div class="row">
        <div class="col-xs-12 bottom-padding-sm left-padding-md">
            <p class="color-grey-darker"><strong>Order History</strong></p>
            <div class="order-history-panel"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 bottom-padding-sm left-padding-md">
            <p class="color-grey-darker"><strong>Links</strong></p>
            <div class="info-button-panel"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 bottom-padding-sm left-padding-md">
            <p class="color-grey-darker"><strong>Patient Education</strong></p>
           	<div class="info-button-patient-panel"></div>
        </div>
    </div>
</div>
<div class="order-detail-panel col-xs-10 all-padding-no" tabindex="0" data-detail="content"></div>
