<p>
	<a href={{infoButtonPatientUrl1}} target="_blank"  title="External link. Press enter to access {{infoButtonPatientSiteName1}} and leave the application."><i class="fa fa-external-link right-padding-xs"></i>{{infoButtonPatientSiteName1}}</a>
</p>
<p>
	<a href={{infoButtonPatientUrl2}} target="_blank" title="External link. Press enter to access {{infoButtonPatientSiteName2}} and leave the application."><i class="fa fa-external-link right-padding-xs"></i>{{infoButtonPatientSiteName2}}</a>
</p>
<p>
	<a href={{infoButtonPatientUrl3}} target="_blank" title="External link. Press enter to access {{infoButtonPatientSiteName3}} and leave the application."><i class="fa fa-external-link right-padding-xs"></i>{{infoButtonPatientSiteName3}}</a>
</p>
