<p>
	<a href={{openInfoButtonUrl1}} target="_blank" title="External link. Press enter to access {{openInfoButtonSiteName1}} and leave the application."><i class="fa fa-external-link right-padding-xs"></i>{{openInfoButtonSiteName1}}</a>
</p>
<p>
	<a href={{openInfoButtonUrl2}} target="_blank" title="External link. Press enter to access {{openInfoButtonSiteName2}} and leave the application."><i class="fa fa-external-link right-padding-xs"></i>{{openInfoButtonSiteName2}}</a>
</p>
<p>
	<a href={{openInfoButtonUrl3}} target="_blank"  title="External link. Press enter to access {{openInfoButtonSiteName3}} and leave the application."><i class="fa fa-external-link right-padding-xs"></i>{{openInfoButtonSiteName3}}</a>
</p>
<p>
	<a href={{openInfoButtonUrl4}} target="_blank"  title="External link. Press enter to access {{openInfoButtonSiteName4}} and leave the application."><i class="fa fa-external-link right-padding-xs"></i>{{openInfoButtonSiteName4}}</a>
</p>
