<div gistviewtype="events" role="presentation" class="faux-table">
	<div class="header table-row" role="row">
        <div class="flex-width-1" role="presentation">
            <div aria-sort="none" role="gridcell" class="table-cell flex-width-2">
                <a href="#" data-header-instanceid="name-header"
                     role="button"
                     class="{{#if gistHeaders.name.sortable}}selectable{{/if}}"
                     sortable="{{gistHeaders.name.sortable}}"
                     sortType="{{gistHeaders.name.sortType}}"
                     sortDirection="none"
                     sortKey="{{gistHeaders.name.key}}"
                     tooltip-data-key="{{gistHeaders.name.hoverTip}}">
                    {{gistHeaders.name.title}}
                    <i sortArrow="headerDirectionalIndicator" class="sort-caret fa color-primary"></i>
                    <span class="sr-only toolbar-508">{{gistHeaders.name.hoverTip}}</span>
                    <span class="sr-only sort-span">Press enter to sort</span>
                </a>
            </div>
            {{#if gistHeaders.acuityName.title}}
            <div aria-sort="none" role="gridcell" class="table-cell">
                <a href="#" data-header-instanceid="comment-header"
                     role="button"
                     class="{{#if gistHeaders.acuityName.sortable}}selectable{{/if}} text-center"
                     sortable="{{gistHeaders.acuityName.sortable}}"
                     sortType="{{gistHeaders.acuityName.sortType}}"
                     sortDirection="none"
                     sortKey="{{gistHeaders.acuityName.key}}"
                     tooltip-data-key="{{gistHeaders.acuityName.hoverTip}}">
                    {{gistHeaders.acuityName.title}}
                    <i sortArrow="headerDirectionalIndicator" class="sort-caret fa color-primary"></i>
                    <span class="sr-only toolbar-508">{{gistHeaders.acuityName.hoverTip}}</span>
                    <span class="sr-only sort-span">Press enter to sort</span>
                </a>
            </div>
            {{/if}}
        </div>
        <div class="flex-width-1" role="presentation">
            <div aria-sort="none" role="gridcell" class="table-cell">
                <a href="#" data-header-instanceid="count-header2"
                     role="button"
                     class="{{#if gistHeaders.age.sortable}}selectable{{/if}}"
                     sortable="{{gistHeaders.age.sortable}}"
                     sortType="{{gistHeaders.age.sortType}}"
                     sortDirection="none"
                     sortShowReverse="true"
                     sortKey="{{gistHeaders.age.key}}"
                     tooltip-data-key="{{gistHeaders.age.hoverTip}}">
                    {{gistHeaders.age.title}}
                    <i sortArrow="headerDirectionalIndicator" class="sort-caret fa color-primary"></i>
                    <span class="sr-only toolbar-508">{{gistHeaders.age.hoverTip}}</span>
                    <span class="sr-only sort-span">Press enter to sort</span>
                </a>
            </div>
            <div aria-sort="none" role="gridcell" class="table-cell flex-width-3_5">
                <a href="#" data-header-instanceid="count-header1"
                     role="button"
                     class="{{#if gistHeaders.itemsInGraphCount.sortable}}selectable{{/if}}"
                     sortable="{{gistHeaders.itemsInGraphCount.sortable}}"
                     sortType="{{gistHeaders.itemsInGraphCount.sortType}}"
                     sortDirection="none"
                     sortKey="{{gistHeaders.itemsInGraphCount.key}}"
                     tooltip-data-key="{{gistHeaders.itemsInGraphCount.hoverTip}}">
                    {{gistHeaders.itemsInGraphCount.title}}
                    <i sortArrow="headerDirectionalIndicator" class="sort-caret fa color-primary"></i>
                    <span class="sr-only toolbar-508">{{gistHeaders.itemsInGraphCount.hoverTip}}</span>
                    <span class="sr-only sort-span">Press enter to sort</span>
                </a>
            </div>
            <div role="gridcell" data-header-instanceid="graph-header">
                {{gistHeaders.graph.title}}
                <span class="sr-only">This is a graph and is not sortable</span>
            </div>
        </div>
	</div>
	<div class="gist-item-list body auto-overflow-y" role="rowgroup"></div>
</div>
