<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9">
            <h4 class="modal-title" id="mainModalLabel">Add Order</h4>
        </div>
        <div class="col-xs-3 text-right top-margin-sm">
            <button type="button" class="close btn btn-icon btn-xs left-margin-sm" data-dismiss="modal" id="smClose" title="Press enter to close.">
                <i class="fa fa-times fa-lg"></i>
            </button>
        </div>
    </div>
</div>
<!-- <div id="error-container"/> -->
<div class="container-fluid" role="form">
	<div class="form-group">
		<div id="error-container"></div>
		<div id="visit-region" class="row sub-banner"></div>
		<div id="order-type-region" class="row sub-banner"></div>
		<div id="order-form-region" class="row sub-banner"></div>
	</div>
</div>
