[data-appletid="stackedGraph"] {
	.picklist .dropdown-menu {
		min-width:300px;
		padding:10px;
		//the !important tags are needed to override the styles applied inline by the twitter typeahead library
		span.twitter-typeahead {
			display: block !important;
			width: 100%;
			.tt-dropdown-menu {
				color: $grey-darker;
				display: none;
				min-width: 278px;
				padding: 5px 3px;
				margin: 2px 0 0;
				font-size: 12px;
				background-color: $pure-white;
				border: 1px solid $grey-dark;
				border-radius: 4px;
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
				background-clip: padding-box;
				max-height: 150px;
				overflow-y: auto;
				width: 100%;
				top: 32px !important;
				cursor: pointer;
			}
			.user-input {
				font-style: italic;
				margin-bottom: 0;
				color: $grey-darkest;
			}
			.tt-suggestion {
				color: $grey-darkest;
				strong {
					color: $primary;
					text-transform: capitalize;
				}
				&.tt-cursor {
					color: $pure-black;
					background-color: $primary-lightest;
				}
			}
		}
	}
	.grid-applet-panel {
		.container-fluid, .container-fluid > .row {
			height: 100%;
		}
		.collection-container {
			height: calc(100% - 80px);
			overflow-x: hidden;
			overflow-y: auto;
			padding-top: 27px;
			[role=row] {
				.selectable {
					border: 1px solid $grey-dark;
					border-bottom: none;
					border-right: none;
					min-height: 100px;
					word-break: break-word;
					word-wrap: break-word;
					.render-to {
						min-height: 100px;
					}
					&.no-left-border {
						border-left: none;
					}
					&.right-border {
						border-right: 1px solid $grey-dark;
					}
				}
				div:not(.selectable) + .selectable {
					word-wrap: break-word;
				}
				&:last-of-type {
					border-bottom: 1px solid $grey-dark;
				}
				.row-graph-data {
					height: 25px;
					div:last-child {
						word-break: break-word;
						word-wrap: break-word;
					}
				}
				&.dragging-row{
			        background-color: $primary-light;
			        border: 0;
			        padding: 2px;
			        .table-row{
			            background-color: $primary-light;
			        }
			    }
			    &.toolbar-active {
			    	background-color: $primary-lightest;
			    }
			}
			.no-graph {
				padding: 80px 0px;
				border-style: double;
				border-color: $grey;
				box-shadow: inset 0 0 10px $grey-darker;
				background-color: $grey-light;
				height: 100%;
				text-align: center;
			}
			.placeholder-tile-sort {
				height: 50px;
				padding: 6px;
				margin: 3px;
				border: 4px solid rgb(97, 157, 215);
				border-radius: 3px;
			}
		}
		.pointer-container {
			position: relative;
			.stacked-graph-pointer {
				font-size: 12px;
				font-weight: bold;
				color: $pure-black;
				display: block;
				width: 74px;
				height: 25px;
				position: absolute;
				background: url("../../app/applets/stackedGraph/assets/img/stackedGraphPointer-74X25.png") transparent no-repeat 0 0;
				left: -76px;
				text-align: center;
				padding: 5px 0;
				visibility: hidden;
				z-index: 999;
				&.bottom {
					top: 10px;
				}
				&.top {
					top: 0;
				}
			}
		}
	}
}