<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title" aria-hidden="false">{{title}}</h2>
		</div>
		<div class="modal-body">
            <p aria-hidden="false">Sender: {{notificationSender}}</p>
            <p aria-hidden="false" >Subject: {{notificationSubject}}</p>
            <p aria-hidden="false" >Text: {{notificationText}}</p>
		</div>
		<div class="modal-footer">
            <a href="#" id="OkBtn" class="btn btn-primary" aria-hidden="false">Ok</a>
		</div>
	</div>
</div>