.applet-toolbar {
    display: none;
    position: relative;
    .btn-toolbar {
        box-shadow: 5px 0px 10px -1px $grey-darker;
        position: absolute;
        top: -25px;
        z-index: 2;
        > .btn-group {
            background-color: $pure-white;
            display: inline-flex;
            .btn {
                border: 1px solid $pure-white;
                border-right-width: 0;
                border-radius: 0;
                height: 25px;
                margin: auto;
                padding: 3px;
                width: 25px;
                &:last-child {
                    border-right-width: 1px;
                }
            }
        }
    }
}