.applet-chrome {
    margin: 0;
    background: $pure-white;
}
.applet-chrome-header.panel-heading {
    border-bottom: 2px solid $primary-lighter;
    height: 24px;
    padding: 0;
    .panel-title-label {
        color: $primary-dark;
        font-size: 14px;
        margin: 0;
        overflow: hidden;
        padding: 4px 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    // header icons
    .btn {
        box-shadow: none;
        &.btn-icon {
            margin: 3px 3px 2px 0;
            padding: 0 4px;
        }
    }
    &.panel-heading-filtered {
        background-color: $primary-dark;
        .panel-title-label {
            color: $pure-white;
        }
        .btn-icon {
            color: $pure-white;
            &:hover {
                color: $grey-light;
            }
        }
    }
    .applet-chrome-title-notification {
        overflow-y: visible;
        .applet-chrome-notification > .badge {
            background: $pure-white;
            border: 1px solid $primary-dark;
            color: $primary-dark;
            font-size: 11px;
            margin-left: 4px;
            padding: 4px;
        }
    }
}
.applet-chrome-body {
    height: 80%;
    height: calc(100% - 24px);
    height: -webkit-calc(100% - 24px);
    > div {
        height: 100%;
    }
}
.applet-chrome-footer {
    padding: 0;
}