// backgrid faux-table
// for sticky headers
.applet-div-chrome-container .gridContainer {
    // for meds review applet *** could be moved to applet
    > .gridster {
        .panel-body {
            padding: 0;
        }
        .grid-container {
            padding: 5px 0;
            .panel-group {
                height: 100%;
                margin: 0 !important;
                overflow-y: auto;
            }
        }
    }
    // for applets using backgrid
    .grid-container {
        height: 100%;
        > div {
            height: 100%;
            .data-grid {
                table, thead, tbody {
                    display: block;
                }
                table.backgrid {
                    height: 100%;
                    // for orders applet *** could be moved to applet
                    &#data-grid-orders {
                        height: calc(100% - 2px);
                    }
                    tr {
                        display: flex;
                        margin: 0;
                        width: 100%;
                        border-bottom: 1px solid $grey-lighter;
                        padding-right: 15px;
                        td, th {
                            align-items: center;
                            display: block;
                            flex: 1;
                            height: auto;
                            max-width: none;
                            padding: 2px 5px;
                            word-wrap: break-word;
                            &.flex-width-date {
                                flex: none;
                                width: 115px;
                            }
                            &.flex-width-date-time {
                                flex: none;
                                width: 115px;
                            }
                            &.flex-width-comment {
                                flex: none;
                                width: 30px;
                                min-width: 20px;
                            }
                        }
                        &.active {
                            td, th {
                                background-color: initial;
                            }
                        }
                        td:only-child {
                            border-right: none;
                            width: 100%;
                        }
                    }
                    thead {
                        border-bottom: 2px solid $grey-light;
                        height: 20px;
                        th {
                            border-bottom: none;
                            text-align: left;
                        }
                        tr {
                            border-bottom: none;
                            &:hover {
                                background: none;
                            }
                        }
                    }
                    tbody {
                        height: calc(100% - 20px);
                        overflow-y: auto;
                        -ms-overflow-style: -ms-autohiding-scrollbar;
                        tr {
                            cursor: pointer;
                            &.empty{
                                cursor: default;
                            }
                        }
                    }
                }
            }
        }
    }
}