//  backgrid
.backgrid-filter {
    &.form-search {
        height: auto;
        width: 100%;
        margin: 0;
    }
    input[type="search"] {
        z-index: 0;
        position: inherit;
        width: 100%;
        height: 30px;
        padding: 4px 20px 4px 10px;
        box-sizing: border-box;
        &:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }
        &.pixel-height-20 {
            box-sizing: content-box;
            &.defined {
                padding: 2px 20px;
                width: 100%;
                box-sizing: border-box;
                height: 25px;
            }
            &:-ms-input-placeholder {
                color: #999999;
            }
            +.clear-input {
                top: -1px;
                right: 32px;
                &.default {
                    top: -2px;
                    right: 5px;
                }
            }
        }
    }
    .clear-input {
        display: none;
        position: absolute;
        top: 3px;
        right: 10px;
    }
    .search {
        top: 14px;
    }
    .clear {
        top: 14px;
        left: 228px;
    }
}

.backgrid { 
    background-color: $pure-white;
    border-radius: 0;
    th {
        text-align: left;
    }
    td {
        white-space: normal;
        border-bottom: none;
    }
    &.table {
        tr.empty td {
            display: block;
            line-height: 20px;
            min-height: 40px;
            padding: 10px;
            text-align: left;
            border: none;
        }
    }
    thead {
        background: $pure-white;
        th {
            background: none;
            color: $grey-darkest;
            &.sortable {
                a {
                    color: $grey-darkest;
                    font-weight: bold;
                    .sort-caret {
                        border: none;
                        font-family: FontAwesome;
                        vertical-align: baseline;
                        &::before {
                            color: $primary;
                            font-size: 10px;
                        }
                    }
                }
                &.ascending {
                    .sort-caret::before {
                        content: "\f0d8";
                    }
                }
                &.descending {
                    .sort-caret::before {
                        content: "\f0d7";
                    }
                }
            }
        }
    }
    tbody {
        td.group-by-header a {
            color: $grey-darkest;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
        tr.empty {
            color: $grey-darker;
            font-style: normal;
        }
    }
}