.badge {
    background-color: $grey-darkest;
    color: $pure-white;
    //Displayed in applet accordions
    &--number-of-results {
        background-color: $primary;
        font-size: 14px;
        margin-top: 3px;
        min-width: 50px;
    }
    //Displayed in global navigation
    &--notification {
        background-color: $tertiary-darker;
        border-radius: 4px;
        color: $pure-black;
        font-size: 11px;
        padding: 1px 2px;
        position: relative;
        left: -8px;
        margin-right: -10px;
    }
    //Displayed in pill applets
    &--pills {
        border-radius: 10px;
        display: inline;
        margin: 0px 1px 0px 3px;
        padding: 0px 5px 1px 5px;
    }
}