// disabled btn and fieldset elements
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    background-color: $grey-light;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: $grey-darkest;
    cursor: not-allowed;
    filter: alpha(opacity=50);
    opacity: .5;
    pointer-events: auto;
}
// base btn styles
.btn {
    background: none;
    background-image: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .30);
    color: $pure-white;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    padding: 6px 12px;
    text-shadow: none;
    &:focus,
    &.active:focus,
    &:active,
    &:active:focus {
        outline: 1px dotted;
    }
}
// sizing
.btn-lg {
    font-size: 14px;
    line-height: 1.33333;
    padding: 10px 16px;
}
.btn-sm {
    font-size: 11px;
    line-height: 1.5;
    padding: 5px 10px;
}
.btn-xs {
    border-radius: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.8;
    padding: 0 10px;
    text-transform: capitalize;
}
// default styling
.btn-default {
    background: $primary-light;
    border: none;
    color: $primary;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &:active,
    &.active,
    &:active:focus {
        background: darken($primary-light, 10%);
        border: none;
        color: $primary-dark;
    }
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled]:active {
        background-color: $primary-light-alt;
        color: $primary;
    }
}
// color variations
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-link {
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled]:active {
        background-color: $grey-light;
        color: inherit;
    }
}
.btn-primary {
    background-color: $primary;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        background-color: $primary-dark;
    }
}
.btn-success {
    background-color: $secondary;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        background-color: $secondary-dark;
    }
}
.btn-info {
    background-color: $grey-darker;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        background-color: $grey-darkest;
    }
}
.btn-warning {
    background-color: $tertiary;
    color: $grey-darkest;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        background-color: $tertiary-dark;
    }
}
.btn-danger {
    background-color: $red;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        background-color: $red-dark;
    }
}
.btn-link {
    box-shadow: none;
    color: $primary;
}
// icons
.btn-icon {
    background: none;
    box-shadow: none;
    color: $primary;
    font-size: 11px;
    padding: 4px;
    &:hover {
        color: $primary-dark;
    }
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled]:active {
        background: none;
    }
    &.close {
        padding: 4px;
    }
}
// background colors to determine custom button styles
.bgc-primary-dark {
    color: $pure-white;
    &:hover {
        color: $primary-light;
    }
}
.bgc-primary-light {
    color: $primary;
    &:hover {
        color: $primary-dark;
    }
}
.bgc-pure-white {
    color: $primary;
    &:hover {
        color: $primary-dark;
    }
}
.clear-udaf-tag {
    background-color: $grey-darker;
    color: $pure-white;
    text-transform: capitalize;
    margin: 0 5px 5px 0;
    padding: 1px 6px;
    &:hover,
    &:focus {
        background-color: $grey-darkest;
    }
}
.remove-all {
    background-color: $pure-white;
    color: $red;
    font-size: 11px;
    float: right;
    &:hover,
    &:focus {
        background-color: $red-lightest;
        color: $red-dark;
    }
    &.sr-only {
        padding: 0;
    }
}
// button drop down
.btn-group {
    &.btn-group-xs {
        border-radius: 3px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .30);
        > .btn {
            border-left: 1px solid $pure-white;
            box-shadow: none;
            margin-left: 0;
            padding: 6px 9px;
            &:first-child {
                border-left: none;
            }
            &.btn-default {
                &:active:focus {
                    border-left: 1px solid $pure-white;
                }
            }
        }
    }
    > .btn {
        &:focus {
            outline: 1px dotted;
        }
        &.active-range {
            background-color: $primary-dark;
            color: $pure-white;
        }
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
        &.dropdown-toggle {
            background-color: $primary;
            color: $pure-white;
            font-weight: 600;
            &:focus {
                outline: 1px dotted;
            }
        }
    }
    &.btn-group--date-range {
        box-shadow: 0 3px 5px rgba(0,0,0,.125);
        height: 100%;
        .btn {
            border-radius: 0;
            box-shadow: none;
            &.active {
                background: $primary-dark;
                color: $pure-white;
            }
        }
        > .btn, .button-control {
            &:first-child, &:first-child .btn {
                border-bottom-left-radius: 2px;
                border-top-left-radius: 2px;
            }
            &:last-child, &:last-child .btn {
                border-bottom-right-radius: 2px;
                border-top-right-radius: 2px;
            }
        }
    }
}
// Date Ranger Filter buttons
.btn-date-range {
    margin-right: 20px;
    .btn-group-xs .btn {
        padding: 4px 6px;
        text-transform: none;
    }
    .btn {
        padding: 4px 6px;
    }
    label {
        margin: 0 3px 0 6px;
    }
    .input-group-addon {
        padding: 0px 6px;
        .fa-calendar {
            font-size: 13px;
        }
    }
    .input-group.date {
        input {
            &.input-sm {
                height: 25px;
                padding: 0 0 0 3px;
                width: 71px;
            }
        }
    }
}