.collapsible-container-component {
    .collapsible-container-header {
        /*Displayed in vitals writeback*/
        .btn-icon {
            min-width: 15px;
            &:before {
                content: "\f0d7";
                font-family: "FontAwesome";
            }
            &.collapsed:before {
                content: "\f0da";
                font-family: "FontAwesome";
            }
        }
    }

    .collapsible-container-collapse-region {
        select {
            height: 22px;
        }
        .input-group-addon {
            background-color: $grey-lighter;
            font-size: 11px;
            padding: 4px;
        }
    }
}
