// sub-header for filtered applets
.applet-chrome-body {
    div.sub-header {
        padding: 0 5px;
        background: $grey-lightest;
        border-bottom: 1px solid $grey-lighter;
        min-height: 18px;
        padding: 0 5px;
        .btn-icon {
            float: right;
            padding: 0;
        }
    }
}
// hide for applets that do not have filtering available
[class$="-full"],
[data-appletid="vista_health_summaries"], 
[data-appletid="allergy_grid"], 
[data-appletid="vitals"], 
[data-appletid="military_hist"] {
    .sub-header {
        display: none;
    }
}