footer {
    bottom: 0px;
    color: $pure-white;
    position: fixed;
    width: 100%;
    z-index: 1030;
    [class^="application-footer-items-"] {
        margin: 4px 0px;
    }
    .btn.btn-icon {
        color: $primary-light;
        &:hover,
        &:active,
        &:focus{
            color: darken($primary-light, 10%);
        }
    }
    .btn.btn-xs {
        font-size: 11px;
    }
    p {
        margin: 0;
    }
}