footer {
    background-color: $primary-dark;
    bottom: 0px;
    color: $pure-white;
    position: fixed;
    width: 100%;
    z-index: 1030;
    p {
        margin: 7px 0px 6px 0px;
    }
    ul {
        margin: 5px 0px 0px 0px;
        float: right;
        li {
            display: inline;
            padding-right: 10px;
            &.loading-muted {
                color: rgba(255, 255, 255, 0.5);
            }
            .btn {
                &:hover,
                &:active,
                &:focus {
                    color: $primary-lighter;
                }
            }
        }
    }
}
