.ready .gridster {
    .gs-w:not(.preview-holder), .resize-preview-holder {
        -webkit-transition: opacity .3s,left .3s,top .3s,width .3s,height 0s;
    }
}

/*--- gridster ---*/
.gridster {
    [data-appletid],
    .app-size {
        height: 100%;
    }
    .grid-applet-panel {
        height: 100%;
        display: flex;
        flex-direction: column;
        .grid-container {
            flex-grow: 1;
            flex-shrink: 1;
            position: relative;
            min-height: 200px;
            min-height: calc(2vh - 2vh);
            & > div {
                position: absolute;
                height: 100%;
                width: 100%;
            }
        }
    }
    span.center-block.text-center.panel-title {
        cursor: move;
        .panel-title-textbox {
            text-align: center;
            height: 23px;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .text-align-center {
        text-align: center;
    }
    .gridContainer {
        &,
        > div:first-child {
            height: 100%;
        }
    }
}

.editable-title {
    /*-- applet regular display i.e. not in settings mode --*/
    .panel-heading {
        .panel-title-label {
            padding: 2px 4px 2px 4px;
            cursor: pointer;
            &:hover {
                border: 1px solid #B9D0D5;
                padding: 1px 3px 1px 3px;
            }
        }
    }
}
.cover-sheet-gridster {
    #content-region .panel-body {
        height: 100%;
        overflow-y: scroll;
    }
    #center-region {
        overflow-x: scroll !important;
        overflow-y: hidden;
        width: auto;
    }
    .gridster {
        width: 3000px !important;
    }
}
.app-size-2 {
    height: 100%
}
.freeze-applets {
    span.center-block.text-center.panel-title,
    .applet-chrome-footer span {
        cursor: default !important;
    }
    .gs-resize-handle {
        display: none !important;
    }
}
.switchboard-container {
    height: 100%;
    background-color: white;
}

.grid {
    &-applet {
        &-panel {
            padding: 0;
            background-color: white;
            .header-bar {
                background: $pure-white;
                color: $primary;
            }
        }
        &-container-1 {
            height: 5px;
            position: relative;
            top: -5px;
            background: none;
            z-index: 9999;
        }
        &-container-2 {                                     
            position: absolute;
            height: 5px;
            width: 100%;
            top: 17px;     
            background: none;
            z-index: 9999;
        }
    }
    &-container {
        h5 {
            padding: 5px 10px;
        }
    }
}