.growl-alert {
    background-color: rgba(0, 0, 0, 0.8);
    color: $pure-white;
    font-size: 14px;
    [data-notify="icon"] {
        background-color: $pure-white;
        border-radius: 20px;
        display: block;
        float: left;
        font-family: FontAwesome;
        font-size: 38px;
        line-height: 30px;
        margin-right: 10px;
        padding: 0px;
        text-indent: -1px;
        width: 30px;
    }
    .notify-message {
        display: block;
        margin-left: 45px;
        [data-notify="title"] {
        	font-size: 13px;
            font-weight: 700;
        }
        [data-notify="message"] {
            display: block;
            font-size: 13px;
            margin-top: 3px;
        }
    }
    &.success {
        [data-notify="icon"] {
            color: $secondary-dark;
            &::before {
                content: "\f058";
            }
        }
    }
    &.danger {
        [data-notify="icon"] {
            color: $red;
            &::before {
                content: "\f057";
            }
        }
    }
    &.warning {
        [data-notify="icon"] {
        	background-color: transparent;
            color: $tertiary;
            font-size: 32px;
            &::before {
                content: "\f071";
            }
        }
    }
    &.info {
        [data-notify="icon"] {
            color: $red;
            &::before {
                content: "\f06a";
            }
        }
    }
    [data-notify="dismiss"] {
    	color: rgba(255, 255, 255, 0.5);
        position: absolute;
        right: 10px;
        top: 5px;
    }
}