//Displayed in Actions and Notes summary view
.multi-select-list {
    p {
        margin: 0;
    }
    > ul > li {
        background-color: $pure-white;
        border-top: 1px solid $grey-light;
        padding: 0;
        a {
            color: $primary;
            display: inline-flex;
            padding: 10px 0;
            text-decoration: none;
            width: 100%;
            &:hover,
            &:focus {
                color: $primary-dark;
                text-decoration: none;
                
            }
        }
        &:hover {
            background-color: $primary-lighter;
        }
    }
}