.popover {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: inherit;
    min-width: 400px;
    .popover-title {
        font-size: 14px;
        padding: 10px;
    }
    .popover-content {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px;
    }
    //Displayed in Quicklook
    &--gist-popover {
    	background-clip: border-box;
        border-radius: 2px;
        border: 5px solid $grey-lighter;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
        min-width: 326px;
        padding: 0px;
        z-index: 10;
        .popover-title-container {
            background-color: $grey-light;
            border-bottom: 1px solid $grey-lighter;
            color: $primary;
            display: table;
            font-size: 14px;
            font-weight: bold;
            .popover-title {
                background-color: $grey-light;
                border-bottom: none;
                border-radius: 0;
                color: $primary;
                display: table-cell;
                font-weight: bold;
                padding-left: 0px;
            }
        }
        .popover-content {
            th {
                color: rgb(49, 103, 118);
            }
        }
    }
    //Displayed in tray write backs
    &--confirmation {
        background-color: $yellow-light;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        max-width: 160px;
        min-width: 0;
        &.top,
        &.bottom {
            & > .arrow::after {
                border-top-color: $yellow-light;
            }
        }
        .popover--confirmation-header {
            padding: 10px;
            .popover-title {
                background-color: transparent;
                border-bottom: none;
                display: inline;
                padding: 0;
            }
        }
        .popover-content {
        	font-size: 12px;
            padding: 0;
            .popover-confirmation-footer {
                padding: 5px 10px 10px;
                text-align: right;
                .close {
                    float: none;
                    opacity: 1;
                    &:hover {
                        outline: none;
                    }
                }
                .btn-sm {
                    padding: 5px 10px;
                }
            }
        }
    }
}