// I was not able to find these styles being used anywhere. I will remove them entirely before pushing to master
// Before that, I'd like to wait for another round of testing to doublecheck that they're not being used.

// .graph-container {
// 	height: 21px;
// 	.normal-value {
// 		stroke: $secondary;
// 		fill: $secondary;
// 	}
// 	.abnormal-value {
// 		stroke: $red;
// 		fill: $red;
// 	}
// 	.previous-value {
// 		stroke: $pure-white;
// 		fill: $pure-black;
// 	}
// 	.critical-value {
// 		stroke: $red;
// 		fill: $red;
// 	}
// 	.abnormal-range, .texture-hashed rect {
// 		stroke: $grey-lighter;
// 		fill: $grey-lighter;
// 	}
// }

$sparkline-red:         #CC0000;
$sparkline-orange:      #FF9900;
$sparkline-blue:        #0099FF;

.graph-container {
    height: 23px;
    line-height: 13px;
    min-height: 23px;
    min-width: 70px;
    .highcharts-container {
        background-color: #f2f2f2;
        max-height: 23px;
    }
}

.gist-trend-graph {
    background-color: transparent;
    overflow: visible;
    display: inline;
    height: 21px;
    margin-left: -2px;
    min-width: calc(100% - 2px);
    .outer-border {
        stroke: $grey-light;
        fill: transparent;
    }
    .abnormal-range {
        stroke: $grey-light;
        fill: $grey-light;
    }
    .normal-range {
        stroke: $pure-white;
        fill: $pure-white;
    }
    .trend-line {
        stroke: $pure-black;
    }
    .previous-value {
        stroke: $pure-black;
        fill: $pure-black;
    }
    .critical-value {
        stroke: $sparkline-red;
        fill: $sparkline-red;
    }
    .abnormal-value {
        stroke: $sparkline-orange;
        fill: $sparkline-orange;
    }
    .normal-value {
        stroke: $sparkline-blue;
        fill: $sparkline-blue;
    }
    .texture-hashed {
        path {
            stroke: $grey-dark;
            stroke-width: 1;
            fill: none;
        }
        rect {
            @extend .abnormal-range;
        }
    }
    .value-marker {
        overflow: visible;
    }
}