.tooltip {
    &.top &-arrow {
        border-top-color: $primary-dark;
    }
    &.bottom &-arrow {
        border-bottom-color: $primary-dark;
    }
    &.right &-arrow {
        border-right-color: $primary-dark;
    }
    &.left &-arrow {
        border-left-color: $primary-dark;
    }
    & &-inner {
        background-color: $primary-dark;
        color: $pure-white;
        opacity: 1;
        max-width: 250px;
    }
}