// Applies to both workflows inside and outside the tray
.workflow-controller {
    position: static;
    .modal-body {
        margin-bottom: 0px;
        padding: 5px 0px;
        h5 {
            padding: 5px 0px;
            margin: 0px;
        }
        .col-xs-6 {
            .col-xs-6 {
                .control.form-group {
                    margin-left: -10px;
                }
            }
        }
    }
}

// Applies to only workflows outside the tray
.workflow-container {
    .modal-body {
        max-height: 470px;
        min-height: 200px;
    }
    .modal-header {
        border-radius: 6px 6px 0px 0px;
        .header-btns {
            .btn.btn-icon {
                color: inherit;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

///////////*These styles are for Mercury specific*///////
.tray-region {
    width: 450px;
    > .workflow-container > .modal-dialog {
        margin: 0;
        width: 100%;
    }
}

///////////*These styles are for Mercury specific*///////
