.patient-info-bar {
    .patient-demographic-help {
        padding-left: 10px;
        position: absolute;
        top: 29px;
        z-index: 100;
        .help-icon-link {
            color: $pure-white;
        }
    }
    .section-content {
        cursor: pointer;
        padding: 0px 15px;
        .info {
            margin: 10px 0 0 4px;
            word-wrap: break-word;
        }
    }
    dl {
        margin-bottom: 0px;
        dt {
            color: $grey-darkest;
        }
    }
    p {
        margin: 0 0 0 0;
    }
    hr {
        margin: 0 15px;
    }
    h2 {
        margin: 0;
        word-break: break-all;
        word-break: break-word;
    }
    h5 {
        display: inline;
        margin: 0px 0px 10px;
        padding: 0px;
        text-transform: capitalize;
        &.cwad-title {
            color: $grey-darkest;
            font-size: 14px;
            strong {
                color: $primary;
            }
        }
    }
    .sidebar-tray {
        .panel .panel-body {
            background-color: $primary-light;
            overflow-y: auto;
            padding: 0px 5px;
            [class*="col-"]:not(.demographic-group-wrapper) {
                padding-right: 10px;
                padding-left: 10px
            }
            .row {
                margin-right: -10px;
                margin-left: -10px;
            }
            .container-fluid {
                padding-right: 10px;
                padding-left: 10px
            }
        }
    }
    @import "../../app/applets/patient_information/assets/sass/imported/demographics";
    @import "../../app/applets/patient_information/assets/sass/imported/demographicsDetails";
    @import "../../app/applets/patient_information/assets/sass/imported/postings";
}