[data-appletid="activities"] {
    .grid-toolbar {
        .toolbar-item {
            border-radius: 0;
            padding: 2px 5px;
            border: 0;
            border-bottom: 1px solid $grey-light;
            .divider-vertical {
                border-left: 1px solid $grey-darkest;
            }
        }
    }
    .form-group {
        margin-bottom: 0;
    }
    .grid-container > div > p:first-child {
        height: 71vh;
        overflow: auto;
        margin: 0;
    }
}
