<h3>Navigation</h3>
<div class="description">
    <p><strong><i class="fa fa-leanpub"></i> Description:</strong> The navigation allows the user to control the follow of the site. In the examples below, a user is able to access: </p>
    <p><strong><i class="fa fa-wheelchair"></i> 508 Guidelines:</strong> The navigation contains links; therefore, to pass 508, all links must be keyboard accessible, and the screen reader should read each link. Users can navigate to the links in the drop down menu by tabbing to the menu and then pressing the up and down arrow keys.</p>
    <p><strong><i class="fa fa-lightbulb-o"></i> TIP:</strong> To fix the navbar to the top of the viewport, wrap the navbar in a <strong>diev</strong> with the class attribute <strong>navbar-fixed-top</strong>.</p>
</div>
<h4><em>Patient Selection</em> Navbar</h4>
<div class="description">
    <p><strong><i class="fa fa-leanpub"></i> Description:</strong> This navigation bar contains text for Patient Selection, help icons, My Workspace button, and a dropdown with login information and a sign out button.</p>
</div>
<div id="header-region">
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="navbar-text">Patient Selection</li>
                    <li class="top-margin-xs">
                        <div class="help-icon ">
                            <a id="linkHelp-patient_search_button" class="help-icon-link" href="help/eHMP_User Guide for Release 1.3_v1.1_12012015.htm#_Toc435776076" target="helpIconUniqueWindow" tooltip-data-key="Help" tooltip-data-placement="" title="Press enter to access the help content. You will be redirected to a new browser window.">
                                <i class="fa fa-question-circle fa-lg"><span class="sr-only">Help</span></i>
                            </a>
                        </div>
                    </li>
                    <li><a href="#" id="provider-centric-view-nav-header-tab" route-id="provider-centric-view" class="navigation-tab" title="Press enter to navigate to the My Workspace View">My Workspace</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="top-margin-xs">
                        <div class="help-icon ">
                            <a id="linkHelp-user_info" class="help-icon-link" href="help/eHMP_User Guide for Release 1.3_v1.1_12012015.htm#_Toc435776078" target="helpIconUniqueWindow" tooltip-data-key="Help" tooltip-data-placement="" title="Press enter to access the help content. You will be redirected to a new browser window.">
                                <i class="fa fa-question-circle fa-lg"><span class="sr-only">Help</span></i>
                            </a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="eHMPCurrentUser" class="dropdown-toggle" data-toggle="dropdown" data-target="#" aria-expanded="false" title="Press enter to open user menu">
                            <span class="fa fa-user"></span> USER, PANORAMA <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu right-padding-sm">
                            <li class="color-grey-darkest">PANORAMA</li>
                            <li>Clinician</li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" id="logoutButton" title="Press enter to sign out and return to sign in page."><span class="fa fa-power-off"></span> Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<hr />
<h4><em>eHMP UI</em> Navbar</h4>
<div class="description">
    <p><strong><i class="fa fa-leanpub"></i> Description:</strong> This navigation bar contains a link back to Patient Selection, help icons, the current patient button, My Workspace button and a dropdown with login information and a sign out button.</p>
</div>
<div id="header-region">
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="right-padding-sm">
                        <a id="patientSearchButton" href="#" title="Press enter to return to patient search and choose another patient"><i class="fa fa-search"></i> Patient Selection</a>
                    </li>
                    <li class="top-margin-xs">
                        <div class="help-icon ">
                            <a id="linkHelp-patient_search_button" class="help-icon-link" href="help/eHMP_User Guide for Release 1.3_v1.1_12012015.htm#_Toc435776076" target="helpIconUniqueWindow" tooltip-data-key="Help" tooltip-data-placement="" title="Press enter to access the help content. You will be redirected to a new browser window.">
                                <i class="fa fa-question-circle fa-lg"><span class="sr-only">Help</span></i>
                            </a>
                        </div>
                    </li>
                    <li><a href="#" title="Press enter to navigate to the Eight, Patient Overview Screen Navigation Tab">Eight, Patient</a></li>
                    <li><a href="#" class="navigation-tab" title="Press enter to navigate to the My Workspace View view">My Workspace</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="top-margin-xs">
                        <div class="help-icon ">
                            <a id="linkHelp-user_info" class="help-icon-link" href="help/eHMP_User Guide for Release 1.3_v1.1_12012015.htm#_Toc435776078" target="helpIconUniqueWindow" tooltip-data-key="Help" tooltip-data-placement="" title="Press enter to access the help content. You will be redirected to a new browser window.">
                                <i class="fa fa-question-circle fa-lg"><span class="sr-only">Help</span></i>
                            </a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="eHMPCurrentUser" class="dropdown-toggle" data-toggle="dropdown" data-target="#" aria-expanded="false" title="Press enter to open user menu" aria-haspopup="true">
                            <span class="fa fa-user"></span> USER, PANORAMA <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu right-padding-sm" role="menu">
                            <li class="color-grey-darkest" role="presentation">PANORAMA</li>
                            <li role="presentation">Clinician</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a href="#" id="logoutButton" title="Press enter to sign out and return to sign in page." role="menuitem" tabindex="-1"><span class="fa fa-power-off"></span> Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<hr />
<div role="tabpanel" class="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#patient-selection-navbar" aria-controls="simple-table-col" role="tab" data-toggle="tab">Patient Selection Navbar</a></li>
        <li><a href="#ehmp-ui-navbar" aria-controls="simple-table-col-row" role="tab" data-toggle="tab">eHMP UI Navbar</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="patient-selection-navbar">
            <div class="copy-clipboard">
                <a onclick="copyToClipboard('navigationCopy1')" role="button" tabindex="0" class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" data-content="Copied" data-template='<div class="popover popover-sm" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'>Copy</a>
            </div>
            <pre>
&lt;div id="header-region"&gt;
    &lt;div&gt;
        &lt;nav class="navbar navbar-default"&gt;
            &lt;div class="container-fluid"&gt;
                &lt;ul class="nav navbar-nav"&gt;
                    &lt;li class="navbar-text"&gt;Patient Selection&lt;/li&gt;
                    &lt;li class="top-margin-xs"&gt;
                        &lt;div class="help-icon "&gt;
                            &lt;a id="linkHelp-patient_search_button" class="help-icon-link" href="help/eHMP_User Guide for Release 1.3_v1.1_12012015.htm#_Toc435776076" target="helpIconUniqueWindow" tooltip-data-key="Help" tooltip-data-placement="" title="Press enter to access the help content. You will be redirected to a new browser window."&gt;
                                &lt;i class="fa fa-question-circle fa-lg"&gt;&lt;span class="sr-only"&gt;Help&lt;/span&gt;&lt;/i&gt;
                            &lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li&gt;&lt;a href="#" id="provider-centric-view-nav-header-tab" route-id="provider-centric-view" class="navigation-tab" title="Press enter to navigate to the My Workspace View"&gt;My Workspace&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
                &lt;ul class="nav navbar-nav navbar-right"&gt;
                    &lt;li class="top-margin-xs"&gt;
                        &lt;div class="help-icon "&gt;
                            &lt;a id="linkHelp-user_info" class="help-icon-link" href="help/eHMP_User Guide for Release 1.3_v1.1_12012015.htm#_Toc435776078" target="helpIconUniqueWindow" tooltip-data-key="Help" tooltip-data-placement="" title="Press enter to access the help content. You will be redirected to a new browser window."&gt;
                                &lt;i class="fa fa-question-circle fa-lg"&gt;&lt;span class="sr-only"&gt;Help&lt;/span&gt;&lt;/i&gt;
                            &lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class="dropdown"&gt;
                        &lt;a href="#" id="eHMPCurrentUser" class="dropdown-toggle" data-toggle="dropdown" data-target="#" aria-expanded="false" title="Press enter to open user menu"&gt;
                            &lt;span class="fa fa-user"&gt;&lt;/span&gt; USER, PANORAMA &lt;i class="fa fa-caret-down"&gt;&lt;/i&gt;&lt;/a&gt;
                        &lt;ul class="dropdown-menu right-padding-sm"&gt;
                            &lt;li class="color-grey-darkest"&gt;PANORAMA&lt;/li&gt;
                            &lt;li&gt;Clinician&lt;/li&gt;
                            &lt;li role="separator" class="divider"&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href="#" id="logoutButton" title="Press enter to sign out and return to sign in page."&gt;&lt;span class="fa fa-power-off"&gt;&lt;/span&gt; Sign Out&lt;/a&gt;&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/nav&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </pre>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="ehmp-ui-navbar">
            <div class="copy-clipboard">
                <a onclick="copyToClipboard('navigationCopy2')" role="button" tabindex="0" class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" data-content="Copied" data-template='<div class="popover popover-sm" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'>Copy</a>
            </div>
            <pre>
&lt;div id="header-region"&gt;
    &lt;div&gt;
        &lt;nav class="navbar navbar-default"&gt;
            &lt;div class="container-fluid"&gt;
                &lt;ul class="nav navbar-nav"&gt;
                    &lt;li class="right-padding-sm"&gt;
                        &lt;a id="patientSearchButton" href="#" title="Press enter to return to patient search and choose another patient"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt; Patient Selection&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class="top-margin-xs"&gt;
                        &lt;div class="help-icon "&gt;
                            &lt;a id="linkHelp-patient_search_button" class="help-icon-link" href="help/eHMP_User Guide for Release 1.3_v1.1_12012015.htm#_Toc435776076" target="helpIconUniqueWindow" tooltip-data-key="Help" tooltip-data-placement="" title="Press enter to access the help content. You will be redirected to a new browser window."&gt;
                                &lt;i class="fa fa-question-circle fa-lg"&gt;&lt;span class="sr-only"&gt;Help&lt;/span&gt;&lt;/i&gt;
                            &lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li&gt;&lt;a href="#" title="Press enter to navigate to the Eight, Patient Overview Screen Navigation Tab"&gt;Eight, Patient&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="#" class="navigation-tab" title="Press enter to navigate to the My Workspace View view"&gt;My Workspace&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
                &lt;ul class="nav navbar-nav navbar-right"&gt;
                    &lt;li class="top-margin-xs"&gt;
                        &lt;div class="help-icon "&gt;
                            &lt;a id="linkHelp-user_info" class="help-icon-link" href="help/eHMP_User Guide for Release 1.3_v1.1_12012015.htm#_Toc435776078" target="helpIconUniqueWindow" tooltip-data-key="Help" tooltip-data-placement="" title="Press enter to access the help content. You will be redirected to a new browser window."&gt;
                                &lt;i class="fa fa-question-circle fa-lg"&gt;&lt;span class="sr-only"&gt;Help&lt;/span&gt;&lt;/i&gt;
                            &lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class="dropdown"&gt;
                        &lt;a href="#" id="eHMPCurrentUser" class="dropdown-toggle" data-toggle="dropdown" data-target="#" aria-expanded="false" title="Press enter to open user menu" aria-haspopup="true"&gt;
                            &lt;span class="fa fa-user"&gt;&lt;/span&gt; USER, PANORAMA &lt;i class="fa fa-caret-down"&gt;&lt;/i&gt;&lt;/a&gt;
                        &lt;ul class="dropdown-menu right-padding-sm" role="menu"&gt;
                            &lt;li class="color-grey-darkest" role="presentation"&gt;PANORAMA&lt;/li&gt;
                            &lt;li role="presentation"&gt;Clinician&lt;/li&gt;
                            &lt;li role="presentation" class="divider"&gt;&lt;/li&gt;
                            &lt;li role="presentation"&gt;&lt;a href="#" id="logoutButton" title="Press enter to sign out and return to sign in page." role="menuitem" tabindex="-1"&gt;&lt;span class="fa fa-power-off"&gt;&lt;/span&gt; Sign Out&lt;/a&gt;&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/nav&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </pre>
        </div>
    </div>
</div>
