<div class="dropdown-header">
    <form>
        <label for="dropdownSearchElement" class="sr-only">Filter Workspaces</label>
        <i class="fa fa-filter"></i>
        <input type="text" id="dropdownSearchElement" class="form-control input-sm" placeholder="Filter workspaces" maxlength="25" title="Enter text to filter workspaces below" autocomplete="off">
        <button class="hidden btn btn-icon btn-sm" type="button" title="Press enter to clear text">
            <i class="fa fa-times color-grey-darkest"></i>
        </button>
    </form>
</div>
<ul role="menu" class="dropdown-body list-group"></ul>
<div class="dropdown-footer">
    <button class="btn btn-primary btn-block" title="Press enter to open the workspace manager." type="button" id="workspaceNavigationManagerButton">
        <i class="fa fa-th-large right-padding-xs"></i>Manage Workspaces
    </button>
</div>
