{{#if showFilter}}
<div class="dropdown-header">
    <form>
        <label for="dropdownSearchElement" class="sr-only">Filter {{currentContextTitle}} Workspaces</label>
        <div id="dropdownSearchElementDescription" class="sr-only">Enter text to filter workspaces below. Use down arrow key to access the menu options</div>
        <i class="fa fa-filter"></i>
        <input type="text" id="dropdownSearchElement" class="form-control input-sm" placeholder="Filter {{currentContextTitle}} Workspaces" maxlength="25" autocomplete="off" aria-describedby="dropdownSearchElementDescription">
        <button class="hidden btn btn-icon btn-sm" type="button" title="Clear filter text">
            <i class="fa fa-times color-grey-darkest"></i>
        </button>
    </form>
</div>
{{/if}}
<ul role="menu" class="dropdown-body list-group"></ul>
