<?xml version="1.0" encoding="UTF-8"?>
<!--
LOGBACK Configuration File for HMP with embedded Tomcat

http://logback.qos.ch/manual/configuration.html
-->
<configuration>
    <contextName>hmp</contextName>
    <jmxConfigurator/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} [%logger{20}] : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-CATALINA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/catalina.log</file>
        <append>true</append>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} [%logger{40}] : %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/catalina-%d{yyyyMMdd}-%i.log.zip</fileNamePattern>
            <maxHistory>60<!-- days --></maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="FILE-LOCALHOST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/localhost.log</file>
        <append>true</append>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %logger{0} {%thread} %level : %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/localhost-%d{yyyyMMdd}-%i.log.zip</fileNamePattern>
            <maxHistory>60<!-- days --></maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="FILE-MANAGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/manager.log</file>
        <append>true</append>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %logger{0} {%thread} %level : %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/manager-%d{yyyyMMdd}-%i.log.zip</fileNamePattern>
            <maxHistory>60<!-- days --></maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="FILE-HOST-MANAGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/host-manager.log</file>
        <append>true</append>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %logger{0} {%thread} %level : %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/host-manager-%d{yyyyMMdd}-%i.log.zip</fileNamePattern>
            <maxHistory>60<!-- days --></maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="HMP-ERRORS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/hmp.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} [%logger{20}] : %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${catalina.base}/logs/hmp.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60<!-- days --></maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="HMP-DATASTREAM-ERRORS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/datastream.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} [%logger{20}] : %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${catalina.base}/logs/datastream.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60<!-- days --></maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="HMP-USER-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/audit.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${catalina.base}/logs/audit.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30<!-- days --></maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Tomcat defaults -->
    <logger name="org.apache.catalina" level="INFO" additivity="false">
        <appender-ref ref="FILE-CATALINA"/>
    </logger>

    <logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost]" level="INFO" additivity="false">
        <appender-ref ref="FILE-LOCALHOST"/>
    </logger>

    <logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/manager]" level="INFO"
            additivity="false">
        <appender-ref ref="FILE-MANAGER"/>
    </logger>

    <logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/host-manager]" level="INFO"
            additivity="false">
        <appender-ref ref="FILE-HOST-MANAGER"/>
    </logger>

    <!-- HMP -->
    <logger name="gov.va.hmp" level="DEBUG" additivity="false">
        <appender-ref ref="HMP-ERRORS"/>
    </logger>
    <logger name="gov.va.cpe" level="DEBUG" additivity="false">
        <appender-ref ref="HMP-ERRORS"/>
    </logger>
    <logger name="gov.va.cpe.vpr.sync" level="ERROR" additivity="false">
        <appender-ref ref="HMP-DATASTREAM-ERRORS"/>
    <logger name="gov.va.jmeadows" level="DEBUG" additivity="false">
        <appender-ref ref="HMP-ERRORS"/>
    </logger>
    <logger name="gov.va.hmp.Bootstrap" level="DEBUG"/>

    <logger name="org.springframework.web.client.RestTemplate" level="ERROR"/>

    <!-- user audit -->
    <logger name="audit" level="INFO" additivity="false">
        <appender-ref ref="HMP-USER-AUDIT"/>
    </logger>

    <!-- metrics -->
    <logger name="metrics" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
