<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>eHMP Bootstrap UI Library - Details View</title>
    <link rel="stylesheet" href="../../../_assets/css/vendor.css" />
    <link rel="stylesheet" href="../../../_assets/css/adk.css" />
    <link rel="stylesheet" href="../../app/css/applets.css">
    <link rel="stylesheet" href="../../css/main-styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700" />
    <script src="../../js/jquery-1.11.2.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../_assets/libs/bower/highcharts/highcharts.js"></script>
</head>

<body class="library">
    <!-- Begin Navigation -->
    <div id="navigation" class="navbar-fixed-top"></div>
    <!-- End Navigation -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="../../index.html">eHMP UI Bootstrap Library</a></li>
            <li><a href="../../views.html">Views</a></li>
            <li class="active">Patient Selection 1.2 - v5</li>
        </ol>
        <h1>Patient Selection 1.2 - v5</h1>
        <div class="description">
            <p><strong><i class="fa fa-leanpub"></i> Description:</strong> This is the 508 compliant static HTML/CSS mock up of the Patient Selection View.</p>
            <p><strong><i class="fa fa-lightbulb-o"></i> Documents:</strong> Please also view <a href="http://wakirc.axshare.com/#p=v5-_patient_selection_1_2">Patient Selection View Wireframe</a>,
                <!-- <a href="#">Workflow Diagram</a> <small>[PDF, 464KB]</small>, and <a href="#">Use Scenario Case Documentation</a> <small>[PDF, 165KB]</small> for full details on implementation. -->
            </p>
            <p><strong><a href="patient-selection-V5-screen.html">Go to full screen view</a></strong></p>
        </div>
    </div>
    <!-- Begin Footer -->
    <div id="bottom-region"></div>
    <!-- End Footer -->
    <script>
    $("#navigation").load("../../library-modules/navigation.html");
    $("#bottom-region").load("library-modules/footer.html");
    </script>
</body>

</html>
