.document-detail {
    .result-doc {
        border: 1px solid $grey;
        border-radius: 4px;
        padding: 8px;
    }

    .dod-content {
        background-color: #f5f5f5;
        border: 1px solid $grey;
        border-radius: 4px;
        padding: 10px;
        width:100%;
        overflow-x: auto;
        &.pdf {
            height: 450px;
        }

        iframe {
            width:100%;
        }
    }

}
