<div class="row">
    <div class="col-xs-12">
        <h5 class="bottom-border-grey top-margin-lg">History of {{highlightText domain}}</h5>
    </div>
</div>
{{#if taskHistory}}
{{#each taskHistory}}
<div class="row">
    <div class="col-xs-2 text-right">
        <p class="bottom-margin-sm"><strong>{{highlightText signalOwnerName}}</strong><br />
        {{formattedStatusTimestamp}}</p>
    </div>
    <div class="col-xs-9">
        <div class="well well-sm background-color-primary-lightest all-padding-xs bottom-margin-sm">
            <p class="all-margin-no"><strong>
                {{#if taskName}} {{#if signalAction}}
                    {{highlightText taskName}}: {{highlightText signalAction}}
                {{else}}
                    {{highlightText taskName}}
                {{/if}}
                {{else if signalAction}}
                {{highlightText signalAction}}
                {{/if}}
            </strong><br />
            {{highlightText signalHistory}}</p>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<p>N/A</p>
{{/if}}
