<div class="sr-only">This table represents tasks for this activity categorized by priority, due status, and title.</div>
<div class="faux-table">
    <div class="header table-row bottom-border-grey">
        <div class="table-cell flex-width-1 right-border-no left-border-grey">
            <div><span class="sr-only">Status</span></div>
        </div>
        <div class="table-cell flex-width-6 left-border-no right-border-grey">
            <div><span class="color-primary font-size-12"><strong>Priority</strong></span></div>
        </div>
        <div class="table-cell flex-width-3 right-border-grey">
            <div><span class="color-primary font-size-12"><strong>Due</strong></span></div>
        </div>
        <div class="table-cell flex-width-6 right-border-grey">
            <div><span class="color-primary font-size-12"><strong>Title</strong></span></div>
        </div>
    </div>
    <div class="body"></div>
</div>
