<div class="table-cell flex-width-1 left-border-grey">
    <span>{{#unless ../readOnly}}{{#ifExp dueTextValue "!==" 1}} {{#ifExp ACTIVE "&&" hasPermissions}}<i class="icon-action-arrow color-primary-dark"><span class="sr-only">This activity has an action</span></i> {{/ifExp}} {{/ifExp}}{{/unless}}</span>
</div>
<div class="table-cell flex-width-6">
    <span>{{priorityFormatted}}</span>
</div>
<div class="table-cell flex-width-3">
    <span>{{dueText}}</span>
</div>
<div class="table-cell flex-width-6 right-border-grey">
    <span>{{TASKNAME}}</span>
</div>
