// visit encounter in the workspace navigation
// will fix the specifity in this selector once button sass updates have been merged into the feature branch
.btn.btn-xs.encounter-info-button {
    background: $primary-lighter;
    box-shadow: none;
    border-radius: 3px;
    float: right;
    text-align: left;
    font-size: 11px;
    line-height: 14px;
    padding: 2px 25px 2px 10px;
    word-break: break-all;
    min-width: 300px;
    max-width: 400px;
    color: inherit;
    &:hover {
        background: darken($primary-light, 10%);
        color: $primary-dark;
    }
    h5 {
        color: inherit;
    }
    .encounter-location-provider {
        overflow: hidden;
        span {
            max-width: 100%;
            white-space: normal;
        }
    }
    .fa {
        position: absolute;
        right: 6px;
        top: 34%;
        color: $primary;
    }
}