// visit encounter in the workspace navigation
// will fix the specifity in this selector once button sass updates have been merged into the feature branch
.btn.encounter-info-button {
    box-shadow: none;
    float: right;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    word-break: break-all;
    min-width: 300px;
    max-width: 400px;
    border-radius: 0;
    color: initial;
    &:hover {
        &,
        .fa {
            background: $primary-lightest;
            color: $primary-dark;
        }
    }
    .encounter-location-provider {
        overflow: hidden;
        span {
            max-width: 100%;
            white-space: normal;
        }
    }
    .fa {
        position: absolute;
        right: 6px;
        top: 34%;
        color: $primary;
    }
}
