<div class="dropdown-header left-padding-sm">
    <p class="transform-text-uppercase"><strong>Recent Patients</strong></p>
</div>
<p class="loading all-padding-xs bottom-padding-no bottom-margin-xs font-size-11">
    <i class="fa fa-spinner fa-spin right-margin-xs" aria-hidden="true"></i>Loading<span aria-hidden="true">...</span>
</p>
<ul class="dropdown-body list-group" role="menu" tabindex="-1">
    <li id="noRecentPatients" class="list-group-item bottom-margin-no">
        <div class="row right-margin-no left-margin-no">
            <div class="col-xs-12 left-padding-md pre-wrap word-wrap-break-word"><p class="all-margin-no bottom-margin-xs top-margin-xs" aria-live="assertive">No recent patients found</p></div>
        </div>
    </li>
</ul>