<h3>Well</h3>
<div class="description">
    <p><strong><i class="fa fa-leanpub"></i> Description:</strong> Wells are visual indicators to draw users focus to specific content.</p>
    <p><strong><i class="fa fa-wheelchair"></i> 508 Guidelines:</strong> Wells are visual indicators, the screen reader and keyboard accessibility should function as expected depending on what type of content is inside of the well.</p>
</div>
<h4>Default Well</h4>
<div id="wellCopy">
    <div class="well">Default Well</div>
</div>
<hr />
<h4>Large Well</h4>
<div id="wellLargeCopy">
    <div class="well well-lg">Large Well</div>
</div>
<hr />
<h4>Small Well</h4>
<div id="wellSmallCopy">
    <div class="well well-sm">Small Well</div>
</div>
<hr />
<h4>Flex Well</h4>
<div id="wellFlexCopy">
    <div class="well flex-display">Flex Well</div>
</div>
<hr />
<div role="tabpanel" class="tabpanel">
    <ul role="tablist" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" role="tab" aria-controls="well" href="#well">Well</a></li>
        <li><a data-toggle="tab" role="tab" aria-controls="well-large" href="#well-large">Large Well</a></li>
        <li><a data-toggle="tab" role="tab" aria-controls="well-small" href="#well-small">Small Well</a></li>
        <li><a data-toggle="tab" role="tab" aria-controls="well-flex" href="#well-flex">Flex Well</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="well">
            <div class="copy-clipboard">
                <a onclick="copyToClipboard('wellCopy')" role="button" tabindex="0" class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" data-content="Copied" data-template='<div class="popover popover-sm" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'>Copy</a>
            </div>
            <pre>
&lt;div class=&quot;well&quot;&gt;Default Well&lt;/div&gt;
            </pre>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="well-large">
            <div class="copy-clipboard">
                <a onclick="copyToClipboard('wellLargeCopy')" role="button" tabindex="0" class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" data-content="Copied" data-template='<div class="popover popover-sm" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'>Copy</a></div>
            <pre>
&lt;div class=&quot;well well-lg&quot;&gt;Large Well&lt;/div&gt;
            </pre>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="well-small">
            <div class="copy-clipboard">
                <a onclick="copyToClipboard('wellSmallCopy')" role="button" tabindex="0" class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" data-content="Copied" data-template='<div class="popover popover-sm" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'>Copy</a>
            </div>
            <pre>
&lt;div class=&quot;well well-sm&quot;&gt;Small Well&lt;/div&gt;
            </pre>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="well-flex">
            <div class="copy-clipboard">
                <a onclick="copyToClipboard('wellFlexCopy')" role="button" tabindex="0" class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" data-content="Copied" data-template='<div class="popover popover-sm" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'>Copy</a>
            </div>
            <pre>
&lt;div class=&quot;well flex-display&quot;&gt;Flex Well&lt;/div&gt;
            </pre>
        </div>
    </div>
</div>
