.comment-box {
    .comment-box-enter-comment {
        margin-top: 10px;
        overflow: hidden;
        .form-group {
            padding: 0;
            margin: 0;
        }
    }
    .comment-box-comment-region {
        .table-row:first-child {
            border-top: 1px solid $grey-light;
        }
        .comment-text-region {
            word-wrap: break-word;
            span {
                font-size: 12px;
            }
        }
    }
    .comment-box--comment-required {
        margin-left: 5px;
        font-weight: bold;
        input {
            height: 20px;
            width: 0px;
            opacity: 0;
            margin-left: -20px;
        }
    }
    // editing a comment container drop shadow 
    .table-row {
        &.non-muted {
            box-shadow: 0px 2px 12px rgba(0,0,0,0.35);
        }
    }
    // even number rows, background color while editing comment
    .table-row:nth-child(2n) {
        &.non-muted {
            .cancel-edit-comment-button {
                background-color: $pure-white;
            }
        }
    }
}