//style checkboxes that are inside another form control
.control[class*="-control"] {
    .checkbox-control {
        .checkbox {
            margin: 0 auto;
        }
    }
}
.form-inline .checkbox input[type=checkbox], .form-inline .radio input[type=radio] {
    top: 2px;
    margin: 1px 3px 0 2px;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox],
.radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: -17px;
    margin-top: 2px;
}
