.control {
    [class*=offset-btn] {
        position: relative;
        right: 10px;
    }
    // creates class definitions for "offset-btn-sm", "offset-btn-md", "offset-btn-lg" to set offset from top
    .offset-btn-sm {
        top: calc((5 * 15px) + 2px);
    }
    .offset-btn-md {
        top: calc((10 * 15px) + 2px);
    }
    .offset-btn-lg {
        top: calc((15 * 15px) + 2px);
    }
}
