.faux-label + fieldset.radio label {
    font-weight: normal;
}
label.radio-inline {
    &+.radio-inline {
        margin-left: 0px;
    }
    input[type="radio"] {
        margin-top: 2px;
        margin-left: -15px;
    }
}
// Used for both radio control and input control with radio units
.control {
    .radio label {
        padding-left: 18px;
    }
}
.control.radio-control {
    &.radio-col-2 {
        p,
        .radio {
            float: none;
        }
        .radio {
            label {
                margin-left: 0;
                vertical-align: text-top;
                width: calc(50% - 2px);
            }
        }
    }
}
.well {
    .form-group {
        &.radio-control { /*Encoutners, line 398*/
            margin: 0px;
            overflow-x: hidden;
            .faux-label {
                /* Used in encounters, line 378 */
                float: left;
                margin-top: 2px;
                width: 50%;
            }
            .radio {
                float: right;
            }
        }
    }
}