// fieldset legend, labels, faux label, textarea
fieldset {
    legend {
        border: none;
        color: $pure-black;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}
.faux-label {
    color: $pure-black;
    font-weight: 600;
}
label {
    color: $pure-black;
    font-size: 12px;
    font-weight: 600;
}
textarea,
textarea.form-control {
    font-size: 12px;
}
// checkbox and radio buttons
.checkbox label,
.radio label {
    font-weight: 600;
}
// form related buttons
.btn-form-control {
    border-left: 0;
    border-radius: 0;
    min-width: 100px;
}
// edge case where two dropdown controls are placed next to each other in a form
form.form-container [class^="col-"],
form .form-container [class^="col-"] {
  .button-control+.button-control,
  .button-control+.dropdown-control,
  .dropdown-control+.button-control,
  .dropdown-control+.dropdown-control {
        margin-left: 5px
    }
}