.accordion-container {
    &.panel-group {
        &.small {
            .panel {
                .panel-heading {
                    background-color: $primary-lightest;
                    padding: 0px;
                    .row.all-margin-no {
                        &:hover {
                            background-color: $primary-lightest;
                        }
                    }
                    button,
                    a {
                        &.accordion-toggle:before {
                            content: "\f078";
                            color: $primary;
                            font-family: 'FontAwesome';
                            padding-right: 2px;
                        }
                        &.accordion-toggle.collapsed:before {
                            content: "\f054";
                        }
                        &:hover,
                        &:focus {
                            color: $primary-dark;
                            text-decoration: none;
                        }
                        &.accordion-toggle:hover{
                            color: $primary-dark;
                        }
                    }
                    .panel-title {
                        font-weight: normal;
                        line-height: 1.4em;
                        text-transform: capitalize;
                    }
                }
                ul {
                    padding-left: 0px;
                }
            }
        }
    }
}