html {
    #center-region,
    #center-region .more-info,
    #bottom-region footer,
    #header-region .application-header-items-left,
    #header-region .navbar-right > :not(.application-user-icons),
    #header-region .application-user-icons ul li:not(.blur-none),
    #center-region .sidebar-tray > *,
    #modal-region .modal-content {
        -webkit-transition: 250ms -webkit-opacity linear;
        transition: 250ms opacity linear;
    }
    body, nav.navbar.navbar-default {
        -webkit-transition: 250ms background-color linear;
        transition: 250ms background-color linear;
    }
    &.page-blur {
        #center-region,
        #center-region .more-info,
        #bottom-region footer,
        #header-region .application-header-items-left,
        #header-region .navbar-right > :not(.application-user-icons),
        #header-region .application-user-icons ul li:not(.blur-none),
        #center-region .sidebar-tray > *,
        #modal-region .modal-content > * {
            opacity: 0.15;
            -webkit-opacity: 0.15;
            -ms-opacity: 0.15;
        }
        body, nav.navbar.navbar-default, #modal-region .modal-content, #center-region .sidebar-tray  {
            background-color: #eee;
        }
        #modal-region .modal-content {
            border-color: #eee;
        }
        .modal, #center-region .sidebar-tray {
            box-shadow: 0 5px 15px rgba(0,0,0,.15);
        }
    }
}
.alert-dropdown-menu {
    width: 300px;
    z-index: 1030;
    li.list-group-item a.dd-link {
        display: block;
        line-height: 1.3;
        &:hover, &:focus {
            color: $primary-dark;
        }
        .fa.fa-arrow-right {
            position: absolute;
            margin-top: 2px;
        }
    }
}
.alert-dropdown > [data-toggle=alert-dropdown] {
    box-shadow: none;
    button {
        line-height: 14px;
    }
    .badge {
        background: $pure-white;
        border: 1px solid $primary-dark;
        color: $primary-dark;
        font-size: 9px;
        left: -10px;
        padding: 2px 4px;
        position: relative;
    }
}