/* modal alerts */
.alert-modal {
    .modal-body {
        h5 {
            &:first-of-type {
                margin-top: 0;
                padding-top: 0;
            }
            &::first-letter {
                text-transform: capitalize;
            }
        }
    }
}
/* bootstrap alerts */
.alert.alert-user {
    padding: 10px;
    display: block;
    float: left;
    width: 100%;
    .alert-content {
        float: left;
        width: calc(100% - 25px);
        p:last-child {
            margin-bottom: 0;
        }
    }
    button.close {
    	right: 0px;
    }
}
.alert.alert-danger{
    color: $red-dark;
}

/* growl alerts */
.alert.growl-alert-user {
	display: block;
    float: left;
    .alert-content {
        float: left;
        width: calc(100% - 25px);
    }
    button.close {
    	float: left;
    	width: 20px;
    }
}
