// button drop down
.btn-group {
    &.btn-group-xs {
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
        border-radius: 3px;
        > .btn {
            padding: 6px 9px;
            box-shadow: none;
            border-left: 1px solid $pure-white;
            margin-left: 0;
            &:first-child {
                border-left: none;
            }
            &.btn-default {
                &:active:focus {
                    border-left: 1px solid $pure-white;
                }
            }
        }
    }
    > .btn {
        &:focus {
            outline: 1px dotted;
        }
        &.active-range {
            background-color: $primary-dark;
            color: $pure-white;
        }
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
        &.dropdown-toggle {
            background-color: $primary;
            color: $pure-white;
            font-weight: 600;
            &:focus {
                outline: 1px dotted;
            }
        }
    }
}

// labels, could be moved out into a component?
.posting {
    .label {
        border: none;
        border-radius: 4px;
        box-shadow: none;
        color: $pure-white;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        margin: 1px 0px;
        padding: 4px 6px;
        width: 25px;
    }
}

// I want to move these over to the form sass file - CSS
.btn-form-control {
    border-left: 0;
    border-radius: 0;
    min-width: 100px;
}

.form-group {
    .input-group-btn {
        vertical-align: bottom;
    }
}

// buttons for triggering accordion - adjusting styles
.btn.btn-accordion {
    // needed bc of the rows having font awesome font family
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    text-transform: capitalize;
    color: $grey-darkest;
    font-size: 11px;
    text-align: left;
    box-shadow: none;
    width: initial;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.panel-group {
    .btn.btn-accordion {
        width: 100%;
    }
}

// Date Ranger Filter buttons
.btn-date-range {
    margin-right: 20px;

    .btn-group-xs .btn {
        padding: 4px 6px;
        text-transform: none;
    }
    .btn {
        padding: 4px 6px;
    }
    label {
        margin: 0 3px 0 6px
    }
    .input-group-addon {
        padding: 0px 6px;
        .fa-calendar {
            font-size: 13px;
        }
    }
    .input-group.date {
        input {
            &.input-sm {
                height: 25px;
                padding: 0 0 0 3px;
                width: 71px;
            }
        }
    }
}