.datepicker {
    font-size: 11px;
    .datepicker-days {
        table {
            tbody {
                tr {
                    display: block;
                }
            }
        }
    }
    table {
        width: 200px;
        thead {
            tr {
                display: inline-flex;
                &:first-child th:hover {
                    background: $pure-white;
                    color: $primary-dark;
                }
                &:last-child {
                    padding-left: 5px;
                }
                th {
                    width: 27px;
                }
            }
            .prev,
            .next {
                color: $primary;
            }
        }
        tbody {
            tr {
                border-bottom: none;
                padding-left: 5px;
                td {
                    &.day {
                        border-radius: 50%;
                        display: inline-block;
                        height: 23px;
                        padding: 2px 0px 0px 0px;
                        margin: 2px;
                        width: 23px;
                        &.today {
                            background-color: $pure-white;
                            border: 1px solid $primary;
                            &:hover:hover {
                                background: $primary;
                                border: 1px solid $primary;
                                color: $pure-white;
                            }
                        }
                        &.active {
                            background-color: $primary;
                            border: 1px solid $primary;
                            color: $pure-white;
                            &:hover:hover {
                                background-color: $primary-dark;
                                border: 1px solid $primary-dark;
                            }
                        }
                        &:hover:hover {
                            background: $primary;
                            border: 1px solid $primary-dark;
                            color: $pure-white;
                        }
                    }
                    span {
                        height: 40px;
                        line-height: 40px;
                        &.active.active {
                            background-color: $primary;
                            border-radius: 50%;
                        }
                        &:hover {
                            background: $primary;
                            border-radius: 50%;
                            color: $pure-white;
                        }
                    }
                }
            }
        }
        tfoot {
            tr th {
                color: $primary;
                &:hover {
                    background: $grey-lightest;
                    color: $primary-dark;
                }
            }
        }
    }
}
form.form-container .form-group.datepicker-control .input-group .form-control:not(:first-child):not(:last-child){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.gdt-input {
    &#filterFromDateGlobal, &#filterToDateGlobal {
        border-radius: 0 3px 3px 0;
    }
    padding-left: 0px;
    padding-right: 0px;
    width: 86px;
}
input.datepicker-input::-ms-clear {
    display: none;
}
form.form-inline {
    fieldset .input-group.date input.form-control:first-child {
        border-radius: 4px 0px 0px 4px;
    }
    #dateRangeHeader {
        border-bottom: 2px solid $primary-lighter;
    }
}
.input-group.date .input-group-addon {
  color: $primary;
  &:hover {
    color: $primary-dark;
  }
}