.collapsibleContainerHeader {
    /*These styles are for a button that toogles, an example can be found in the vitals tray,
    eventually we need to standarize the expand and collapse and then move these specific write back styles into the writeback scss*/
    .btn-icon {
        min-width: 15px;
        &:before {
            content: "\f0d7";
            font-family: "FontAwesome";
        }
        &.collapsed:before {
            content: "\f0da";
            font-family: "FontAwesome";
        }
    }
}

.collapsibleContainerCollapseRegion {
    select {
        height: 22px;
    }
    .input-group-addon {
        background-color: $grey-lighter;
        font-size: 11px;
        padding: 4px;
    }
}

#openAllBtn {
    /*This is the stlying of the expand all button in vitals tray, line 78*/
    margin-top: 27px;
}
