.list-inline {
	list-style-type: none;
	li {
		margin-right: 0px;
	}
}
.list-block {
	display:block;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    li{
        display: block;
        line-height: 1em;
        padding: 0.25em 0.35em;
        &:hover,
        &:focus,
        &.selected {
            background-color: $primary-lighter;
            outline: 0;
        }
    }
}