.modal-backdrop {
    background-color: $pure-white;
}

.modal {
    outline: none;
    &.ui-draggable {
        bottom: inherit;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        border-radius: 6px;
        .draggable-handle {
            cursor: move;
            background-color: $grey-lightest;
            border-radius: 6px 6px 0 0;
        }
    }
    &.autologoff {
        z-index: 1112;
    }
    .modal-dialog {
        margin: calc(28px + 58px) auto 0;
        &.draggable {
            margin: 0px;
        }
        &.modal-sm {
            width: 365px;
        }
        &.modal-lg {
            width: 900px;
        }
        &.modal-xl {
            width: 85%; // phantomjs fallback
            width: calc(100vw - 191px);
        }
        &.liquid-modal{
            .modal-content{
                display: flex;
                flex-direction: column;
                height: 90vh;
            }
            #modal-footer{
                flex-shrink: 0;
            }
        }
        .modal-body {
            height: 100%;
            max-height: calc(100vh - 160px);
            margin-bottom: 0;
            word-wrap: break-word;
        }
    }
}

.modal-open .modal {
    overflow-y: hidden;
}

//  leave this outside of .modal since some components only have .modal-content
.modal-content {
    background-color: $grey-lightest;
    .modal-header {
        padding: 0px;
        margin-bottom: 0px;
        border-radius: 6px 6px 0px 0px;
        .modal-title {
            color: $grey-darkest;
            font-weight: 600;
            text-transform: capitalize;
            word-wrap: break-word;
        }
        .close {
            color: inherit;
            opacity: 1;
            &:hover {
                color: $primary;
                outline: none;
            }
        }
    }
    .modal-body {
        padding-bottom: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 12px;
        background-color: $pure-white;
        .detail-modal-content {
            word-wrap: break-word;
            h5 {
                text-transform: uppercase;
                padding: 0px 0px 5px;
                margin: 0px 0px 10px;
                &.bottom-border-grey-dark {
                    border-bottom: 1px solid $grey-dark;
                }
            }
            h6 {
                text-transform: uppercase;
                padding: 0px 0px 5px;
                margin: 0px 0px 10px;
                &.bottom-border-grey-dark {
                    border-bottom: 1px solid $grey-dark;
                }
                color: $grey-darkest;
                font-weight: bold;
            }
            hr {
                border-color: $grey-dark;
            }
            pre {
                font-size: 12px;
                margin: 5px;
                text-transform: none;
            }
            strong {
                color: $grey-darkest;
            }
            .detail-modal-text-transform-none {
                text-transform: none;
            }
            .detail-modal-comment {
                text-transform: none;
                margin: 0px 10px;
            }
        }
    }
    .modal-footer {
        padding: 7px;
        border-radius: 0 0 6px 6px;
        background-color: $grey-lightest;
        .btn {
            &.btn-primary, &.btn-danger, &.btn-default {
                background: $pure-white;
                color: $primary;
                &:hover,
                &:focus,
                &:active {
                    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
                    color: $primary-dark;
                }
                &[disabled],
                &[disabled]:hover,
                &[disabled]:focus,
                &[disabled]:active {
                    color: $primary;
                    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.15),0px 1px 2px 0px rgba(0,0,0,0.15);
                }
            }
        }
        p {
            text-align: left;
            margin: 0px;
        }
        &.footer-extended {
            height: 55px;
        }
    }
}

/* used for the workspace manager overlay */
body.overlay-open {
    #top-region, #center-region, #bottom-region {
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
    }
}
#modal-region {
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1050;
    }
}

/* Miscellaneous */
#mainOverlayRegion {
    height: 100%;
}