// overwriting bootstrap navbar dropdown
.navbar-nav > li > .dropdown-menu {
    border-radius: 4px;
}
// base dropdown
.dropdown-menu {
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.3);
    box-shadow: 0 6px 12px rgba(0,0,0,.3);
    padding: 3px;
    li.list-group-item {
        border: none;
        border-bottom: 1px solid $grey;
        padding: 0;
        a {
            display: inline-block;
            font-size: 11px;
            padding: 5px 10px;
            text-decoration: none;
            width: 100%;
            &:hover,
            &:focus {
                background-color: $primary-lighter;
                color: $primary-dark;
            }
        }
    }
}
// base complex dropdown
.dropdown-complex {
    padding: 0;
    .dropdown-header {
        background-color: $grey-lightest;
        border-bottom: 2px solid $primary-light;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        padding-left: 10px;
        p {
            color: $primary-dark;
            margin: 0px;
            text-transform: uppercase;
        }
    }
    .dropdown-body {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        min-height: .5px;
        max-height: 550px;
        margin: 0px;
        overflow-x: auto;
    }
    .dropdown-footer {
        background-color: $primary-lighter;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        border-top: 2px solid $primary-light;
        padding: 3px;
        text-align: center;
    }
}
// base navbar
.navbar {
    &.navbar-default {
        background-color: $secondary-light;
        border: 0px;
        border-radius: 0px;
        box-shadow: inset 0 -5px 5px -5px $grey-dark;
        min-height: 20px;
        margin-bottom: 0px;
        .container-fluid {
            ul,
            li {
                &.divider-left {
                    border-left: 1px solid $grey;
                }
                &.divider-right {
                    border-right: 1px solid $grey;
                }
            }
            ul.nav {
                &.navbar-nav {
                    margin: 3px 2px;
                    li {
                        font-size: 14px;
                        height: 20px;
                        #eHMPCurrentUser {
                            font-size: 96%;
                            margin-top: -2px;
                            &:focus {
                                background-color: transparent;
                            }
                        }
                        ul {
                            &.dropdown-menu {
                                margin-top: 2px;
                                li a {
                                    width: 100%;
                                    &:hover,
                                    &:focus {
                                        background-color: $grey-lightest;
                                    }
                                }
                            }
                        }
                        // Patient Search Icon
                        .fa-user + .fa-search {
                            bottom: 4px;
                            font-size: 7px;
                            position: relative;
                            right: 1px;
                        }
                        // Patient Context Icon
                        .fa-question-circle {
                            &.fa-lg {
                                font-size: 16px;
                                vertical-align: 0;
                            }
                        }
                        .context-navigation-link {
                            .fa-stack {
                                height: 12px;
                                line-height: 12px;
                                margin-top: -6px;
                                width: 15px;
                            }
                            .fa-circle {
                                font-size: 16px;
                            }
                            .fa-user {
                                margin-top: 2px;
                            }
                            .nav-ccow {
                                border-radius: 20px;
                                padding: 1px 9px 1px 6px;
                                position: relative;
                                top: -2px;
                                .fa-stack {
                                    margin-top: -7px;
                                }
                            }
                            .vault-unavailable {
                                cursor: inherit !important;
                            }
                            .icon-ccow-connected,
                            .icon-ccow-disconnected {
                                cursor: pointer;
                                position: relative;
                                top: 1px;
                            }
                        }
                        // Dropdown menu divider
                        &.divider {
                            height: 1px;
                        }
                        button,
                        a,
                        p {
                            color: $primary;
                            margin-top: -3px;
                            padding: 4px 10px;
                            padding-bottom: 2px;
                            &:hover {
                                background-color: transparent;
                                color: $primary-dark;
                                outline: none;
                            }
                            &:focus {
                                color: $primary-dark;
                                outline: $primary-dark dotted thin;
                            }
                            // overwriting bootstrap default
                            &.btn-link:hover {
                                text-decoration: none;
                            }
                            &.context-navigation-link {
                                height: 26px;
                                &.active {
                                    background: white;
                                    border-color: $grey;
                                    border-style: none solid;
                                    border-width: medium 1px;
                                    color: $primary-dark;
                                    margin-bottom: 0;
                                    outline: none;
                                }
                            }
                        }
                        p {
                            color: $grey-darkest;
                            &:hover {
                                color: $grey-darkest;
                            }
                        }
                        //Shortcuts and Notifications
                        &.alert-dropdown {
                            .badge {
                                background-color: $tertiary-darker;
                                border-radius: 4px;
                                color: $pure-black;
                                font-weight: 600;
                                padding: 1px 2px 2px 2px;
                                position: relative;
                                left: -8px;
                                top: -3px;
                                margin-right: -10px;
                            }
                            &.open {
                                button,
                                a {
                                    background: $primary;
                                    border-radius: 0;
                                    color: $pure-white;
                                    padding-bottom: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
