.popover {
	min-width: 400px;
	font-size: inherit;
	font-family: 'Source Sans Pro', sans-serif;
    &.popover-sm {
        min-width: 100px;
        text-align: center;
    }
	.popover-title {
		font-size: 14px;
		padding: 10px;
	}
	.popover-content {
		max-height: 300px;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 10px;
	}
	&.popover-confirmation {
		padding: 0;
		box-shadow: 0 5px 10px rgba(0,0,0,0.4);
		min-width: 0;
		max-width: 160px;
		background-color: $yellow-light;
		&.top, &.bottom {
			& > .arrow::after {
				border-top-color: $yellow-light;
			}
		}
		.popover-confirmation-header {
			padding: 10px;
		}
		.popover-title {
			padding: 0;
			background-color: transparent;
			border-bottom: none;
			display: inline;
		}
		.popover-content {
			padding: 0;
			font-size: 12px;
		}
		.popover-confirmation-footer {
			padding: 5px 10px 10px;
			text-align: right;
			border-radius: 0 0 5px 5px;
			.close{
				float: none;
				opacity: 1;
				&:hover{
					outline: none;
				}
			}
		}
	}
}
.sidebar .sidebar-tray .modal-footer {
	.popover-confirmation{
		.btn.btn-sm{
			padding: 5px 10px;
		}
		.btn-icon{
			background: none;
			box-shadow: none;
			padding: 0;
		}
	}
}