.dropdown-search-bar-container {
	margin-bottom: 20px;
		.dropdown-search-bar-right {
			.search-bar-right {
				display: none;
				margin: -1px 0px 0px 0px;
				input {
					border-radius: 0px 4px 4px 4px;
				}
				.dropdown-search-bar-right-close {
					margin: -27px 7px 0px 0px;
				}
			}
		}
		.dropdown-search-bar-left {
			.search-bar-left {
				display: none;
				margin-top: 34px;
				width: 100%;
			input {
				border-radius: 4px 0px 4px 4px;
			}
			.dropdown-search-bar-left-close {
				margin: -27px 7px 0px 0px;
			}
		}
	}
}

.searchbar-control {
	.input-group {
		width: 100%;
		.form-control {
			border-radius: 4px !important; //Should find a way around these
			padding-right: 50px !important;
			&::-ms-clear {
				display: none;
			}
		}
		.clear-input-btn {
			position: absolute;
			display: none;
		    right: 33px;
		    top: 2px;
		    z-index: 2;
		}
		.input-group-btn {
			position: absolute;
			right: 26px;
			.text-search {
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}
		}
	}
}