.sidebar {
    padding: 0;
    width: auto;
    .sidebar-tray {
        position: fixed;
        background: #FFF;
        width: 450px;
        border-radius: 0;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 100;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        visibility: hidden;
        box-shadow: -2px 0px 1px rgba(0, 0, 0, 0.12);
        overflow: visible;
        &.right {
            left: 100%;
            left: 100vw;
            transform: translateX(0);
            -webkit-transform: translateX(0);
        }
        &.left {
            left: 0;
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
        }
    }
    &.open > .sidebar-tray {
        visibility: visible;
        &.right {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
        &.left {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    .action-list-header-container {
        .back-button {
            vertical-align: baseline;
        }
    }
    .workflow-controller .modal-footer,
    .modal-header,
    .modal-content {
        border-radius: 0;
    }
    .modal-content {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
    }
}
//2.0 Reset
$primary: #0D68A1;
$primary-dark: #132F50;
$primary-light: #DCE4EF;
$primary-lighter: #E2F3F8;
$primary-lightest: #F3F5F7;
$secondary: #328443;
$secondary-dark: #256632;
$tertiary: #F8C54F;
$tertiary-dark: #E6B131;

/*--- supporting colors  ---*/

$pure-black: #000000;
$pure-white: #FFFFFF;
$grey: #CCCCCC;
$grey-dark: #BBBBBB;
$grey-darker: #767676;
$grey-darkest: #555555;
$grey-light: #DDDDDD;
$grey-lighter: #E6E6E6;
$red: #EB1700;
$red-dark: #C31300;
$red-lightest: #FFF1F1;
//2.0 Reset
.sidebar {
    .sidebar-tray {
        .modal-content {
            .workflow-header {
                .modal-header {
                    background-color: $primary-dark;
                    min-height: 30px;
                    padding: 6px 15px;
                    h4 {
                        color: $pure-white;
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
            .workflow-controller {
                .modal-footer {
                    .btn.btn-default,
                    .btn.btn-default:hover {
                        border: none;
                    }
                    #cancel-btn {
                        background-color: $pure-white;
                        border: none;
                        color: $grey-darker;
                        &:hover {
                            background-color: $primary-lighter;
                            color: $grey-darkest;
                        }
                    }#preview-form-btn {
                        color: $primary;
                        background-color: $pure-white;
                        &:hover {
                            background-color: $primary-lighter;
                            color: $grey-darkest;
                        }
                    }
                    #delete-form-btn {
                        color: $red;
                        background-color: $pure-white;
                        &:hover {
                            background-color: $red-lightest;
                            color: $grey-darkest;
                        }
                    }
                    #close-form-btn {
                        color: $primary;
                        background-color: $pure-white;
                        &:hover {
                            background-color: $primary-lighter;
                            color: $grey-darkest;
                        }
                    }
                    #sign-form-btn {
                        color: $primary;
                        background-color: $pure-white;
                        &:hover {
                            background-color: $primary-lighter;
                            color: $grey-darkest;
                        }
                    }
                    .btn-sm {
                        font-size: 11px;
                        padding: 3px 4px;
                    }
                }
            }
        }
        .panel {
            .panel-heading {
                background-color: $primary-dark;
                border-radius: 0;
                h4 {
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }
        .container-fluid {
            .header-container {
                min-height: 30px;
                h4 {
                    padding: 4px 0;
                }
            }
            .action-list-container {
                .btn-group {
                    .btn {
                        border: none;
                        color: $grey-darkest;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                    .btn-default {
                        background-color: $primary-light;
                    }
                    .btn-default:hover {
                        background-color: darken( $primary-light, 10%);
                    }
                    .dropdown-menu {
                        li a:hover,
                        li a:focus {
                            background-color: $primary-lighter;
                            color: $grey-darkest;
                        }
                    }
                    .fa.pull-right {
                        padding-top: 2px;
                    }
                }
            }
            .summary-list-container {
                .accordion-container {
                    .panel {
                        .panel-heading {
                            background-color: $primary-lightest;
                        }
                        .panel-body {
                            h5 {
                                color: $primary;
                            }
                        }
                    }
                }
            }
            .modal-footer {
                #order-search-cancel-btn {
                    background-color: $pure-white;
                    border: none;
                    color: $grey-darker;
                    font-size: 11px;
                    &:hover {
                        background-color: $primary-lighter;
                        color: $grey-darkest;
                    }
                }
            }
        }
        .panel-body.multi-select-list>ul>li:hover {
            background-color: $primary-lighter;
            h5 {
                color: $primary-dark;
            }
        }
    }
}