<div class='applet-carousel'>
    <button type='button' title='Previous set' class='previous-carousel-page-button btn btn-icon left-margin-xl right-margin-md bgc-primary-dark'>
        <i class='fa fa-arrow-left fa-2x'></i>
    </button>
    <div class='applet-items-container' tabindex='0' data-flex-width='1' aria-label='Set of Applets. To move through items press left or right arrow. Use enter to add to the workspace'></div>
    <button type='button' title='Next set' class='next-carousel-page-button btn btn-icon left-margin-md right-margin-xl bgc-primary-dark'>
        <i class='fa fa-arrow-right fa-2x'></i>
    </button>
</div>