//Search record input in the workspace navigation
.cancelTextSearchButtonBorder {
    border: 25px solid #E6E6E6 !important;   
}
.form-control-placeholder-icon {
    font-family: Source Sans Pro, 'FontAwesome', sans-serif !important;
}
.text-search-input-container {
    flex: 1 3 30%;
    max-width: 270px;
    padding-left: 5px;
    &--full-width {
        max-width: 100%;
        padding-left: 0;
    }
    .dropdown-menu,
    .suggest-list-container {
        display: none;
        max-height: 300px;
        min-width: 469px;
        z-index: 4;
        .suggest-list {
            margin: 0px;
            li {
                a {
                    border-bottom: 1px solid $grey-lighter;
                    text-decoration: none;
                }
                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }
    .form-group {
        margin-bottom: 0px;
        .fa-search {
            position: absolute;
            top: 4px;
            right: 8px;
        }
        .form-control {
            border-radius: 20px;
            height: 25px;
            min-width: 80px;
        }
    }
}
//Search record applet
.search-applet-main {
    background-color: $pure-white;
    box-shadow: 0 1px 4px 1px $grey;
    display: flex;
    flex-direction: column;
    height: calc(90vh - 78px);
    padding-bottom: 10px;
    .panel-group {
        .panel {
            border: none;
            box-shadow: none;
        }
        .btn {
            &.btn-accordion {
                background-color: $primary-lightest;
                border: 1px solid $grey-light;
                &:hover {
                    background-color: $primary-lighter;
                }
            }
        }
        .panel-collapse {
            >.list-group {
                border-top: none !important;
                margin-top: 5px;
                .search-group {
                    margin-left: 15px;
                    padding-bottom: 5px;
                }
                > div > div:last-of-type {
                    .search-group {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    .search-result-header {
        flex-grow: 0;
        flex-shrink: 0;
        > .col-xs-2 {
            max-width: 13%;
        }
    }
    .synonyms-button.popover-shown {
        background-color: $primary-dark;
    }
    .search-results .search-group {
        padding-bottom: 5px;
        .search-result-item {
            border-bottom: 1px solid $grey-lighter;
            cursor: pointer;
            &:hover,
            &:focus {
                background-color: $primary-lightest;
            }
            .datetime-highlights {
                padding-left: 50px;
            }
        }
    }
}