<div data-infobutton="{{name}}" data-infobutton-class="info-button-pill" tabindex="0" role="button"
     {{#if tooltip}}
        data-content="{{tooltip}}" data-toggle="popover"
     {{/if}}
     class="gist-item selectable
     	{{#if severe}}
			severe
		{{else if moderate}}
 	 		moderate
 		{{else if mild}}
			mild
 	 	{{/if}}
 	 ">
    <span class="sr-only toolbar-instructions">Press enter to open the toolbar menu.</span>
    <p>{{name}}{{#if severe}} *{{/if}}</p>
    <span class="sr-only">{{#if severe}} severe {{else if moderate}} moderate {{else if mild}} mild {{else}} unspecified {{/if}} severity.</span>
    {{#if seriesNorm}}
    <strong class="badge">{{seriesNorm}}</strong>
    {{else}}
    <span class="left-padding-xs"></span>
    {{/if}}
    {{#if age}}
    <span class="age">{{formatTimeSince age}}</span>
    {{/if}}
</div>