[data-appletid="vitals"] {
    .a-table table {
        float: left;
        width: 49%;
        margin: 2px;
        margin-left: 5px;
        border-right: 1px solid $grey-dark;
    }
    .b-table table {
        float: left;
        width: 48%;
        margin-top: 2px;
    }
    .a-table, .b-table {
        tr:not(.no-records) {
            cursor: pointer;
            &:focus, &:hover {
                background-color: $primary-lightest;
            }
        }
        td {
            padding: 2px 5px
        }
    }
}

.vitals-writeback {
    .temperatureInputValue {
        .col-xs-4 {
            padding: 0px 6px !important;
        }
    }
    .pain-value-po {
        .help-block {
            width: 187px;
        }
        .radio-inline:nth-child(3) {
            padding-left: 12px;
        }
    }
    .circumValue {
        label {
            text-transform: capitalize;
        }
    }
    .checkbox-inline + .checkbox-inline, 
    .radio-inline + .radio-inline {
        margin-left: 8px;
        padding-left: 12px;
    }
    .radio input[type="radio"], 
    .radio-inline input[type="radio"], 
    .checkbox input[type="checkbox"], 
    .checkbox-inline input[type="checkbox"] {
        position: absolute;
        margin-left: -16px;
        top: -2px;
    }
}