<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
			http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
			http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    
    <context:annotation-config/>
    
    <bean id="requestIdInInterceptor" class="com.cognitive.cds.utils.log.RequestIdIncomingInterceptor"/>
	<bean id="requestIdOutInterceptor" class="com.cognitive.cds.utils.log.RequestIdOutgoingInterceptor"/>
	<bean id="cxfInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
	<bean id="cxfOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
	
	<cxf:bus>
		<cxf:inInterceptors>
			<ref bean="requestIdInInterceptor" />
			<ref bean="cxfInInterceptor" />
		</cxf:inInterceptors>
		<cxf:outInterceptors>
			<ref bean="requestIdOutInterceptor" />
			<ref bean="cxfOutInterceptor" />
		</cxf:outInterceptors>
	</cxf:bus>
	
    
    <task:scheduler id="taskScheduler" pool-size="5" />

    <bean
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true" />
        <property name="locations">
            <list>
                <value>classpath:cds-metrics-service.properties</value>
            </list>
        </property>
    </bean>

    <bean id="healthCheck" class="com.cognitive.cds.HealthCheck">
        <property name="mongoDb" ref="mongoDbDao" />
    </bean>
    
    <jaxrs:server id="services" address="/">
        <jaxrs:serviceBeans>
            <bean class="com.cognitive.cds.services.metrics.MetricsCollectionService">
                <property name="mongoDbDao" ref="mongoDbDao" />
                <property name="healthCheck" ref="healthCheck" />
            </bean>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
        </jaxrs:providers>
    </jaxrs:server>
    
    <bean class="com.cognitive.cds.services.jmx.JMXPollingService">
		<property name="port" value="19988" />
		<property name="period" value="60000" />
		<property name="mongoDbDao" ref="mongoDbDao" />
		<property name="engineInfoDao" ref="engineLookup" />
		
		<!-- The line below is mostly intended for development and testing and should 
		not be needed in practice. -->
		<!--property name="dynamicRegistryEnabled" value="false" /-->
		<!--
		<property name="engines">
			<list>
				<ref bean="hardwiredEngineExample"/>
			</list>
		</property>
		-->
    </bean>
    
    <!-- Example in case we need to hardwire any engines for polling, etc. -->
    <!--
    <bean id="hardwiredEngineExample" class="com.cognitive.cds.invocation.model.EngineInstanceState">
		<property name="name" value="Example" />
		<property name="type" value="OpenCDS" />
		<property name="status" value="true" />
		<property name="host" value="10.2.2.47" />
		<property name="port" value="8080" />
	</bean>
	-->


	<!-- Add as a bean reference for Mongo DB access -->
     <bean id="mongoDbDao" class="com.cognitive.cds.invocation.mongo.MongoDbDao" >
		<property name="mongo_host" value="${mongo_host}" />
		<property name="mongo_port" value="${mongo_port}" />
		<property name="mongo_username" value="${mongo_username}" />
		<property name="mongo_password" value="${mongo_password}" />
		<property name="mongo_connectionsPerHost" value="${mongo_connectionsPerHost}" />
    </bean>

    <bean class="com.cognitive.cds.services.metrics.MetricsCollectionService">
        <property name="mongoDbDao" ref="mongoDbDao" />
    </bean>
    
	<bean id="engineLookup" class="com.cognitive.cds.invocation.mongo.EngineInfoDao">
		<property name="mongoDbDao" ref="mongoDbDao" />
	</bean>
    
</beans>
