<div class="row panel-heading header-content-container"></div>
<div data-flex-width="1" class="row panel-body">
    <div class="col-xs-12 group-wrapper">
        <div class="row flex-items">
            <div class="col-xs-6" id="pt-header-pt-phone"></div>
            <div class="col-xs-6" id="pt-header-pt-address"></div>
        </div>
    </div>
    <div class="col-xs-12 group-wrapper">
        <div class="row flex-items">
            <div class="col-xs-6" id="pt-header-email"></div>
            <div class="col-xs-6" id="pt-header-em-contact"></div>
            <div class="col-xs-6" id="pt-header-nok-contact"></div>
            <div class="col-xs-6" id="pt-header-em-ins"></div>
        </div>
    </div>
    <div class="col-xs-12 group-wrapper">
        <div class="row flex-items">
            <div class="col-xs-6" id="pt-header-em-misc"></div>
        </div>
    </div>
    {{#if useCcow}}
    <div class="col-xs-12 group-wrapper">
        <div class="wrapper-grouping">
            <div class="group-header">Patient Context</div>
            {{#compare ccowStatus 'Connected'}}
            <button id="leaveContext" class="btn btn-default" type="button" title="Press enter to leave context.">Leave Context</button>
            {{/compare}} {{#compare ccowStatus 'Suspended'}}
            <button id="joinContext" class="btn btn-default" type="button" title="Press enter to rejoin context.">Rejoin Context</button>
            {{/compare}}
        </div>
    </div>
     {{/if}}
</div>
