<div id="patientDemographic">
    <div class="patient-demographic-help"></div>
    <div class="toggle-details profile-img{{#if ccowConnected}} ccow-connected{{else}} warning{{/if}}" aria-hidden="true">
        {{#if patientImage}}
        <img src='{{patientImage}}' width="120" height="120" alt="Patient Image" title="{{displayName}} Image" /> {{else}}
        <div class="loading"><i class='fa fa-spinner fa-spin'></i> <span class="sr-only"> Retrieving patient image...</span></div>
        {{/if}}
    </div>
    <button id="ccowStatus" type="button" class="btn btn-icon pull-right {{#if ccowConnected}} icon-ccow-connected icon-ccow-connected-border{{else}} icon-ccow-disconnected icon-ccow-disconnected-border  {{vaultAvailable}}{{/if}}" title="{{ccowTooltip}}" data-toggle="tooltip" data-html="true" data-placement="auto top" data-container="body">
        <span class="sr-only">{{ccowSrOnlyMessage}}</span>
        <span class="fa {{#if ccowConnected}}fa-link{{else}}fa-chain-broken{{/if}} color-pure-white font-size-18"></span>
    </button>
    <div class="patient-info toggle-details">
        <p>
            {{#if sensitive}}
            <span class="small background-color-pure-white color-red all-padding-xs inline-block-display top-margin-xs bottom-margin-sm sensitive-patient">*SENSITIVE*</span><br />
            {{/if}}
            <strong aria-hidden="true">DOB: </strong>
            <span class="sr-only">Patient's date of birth</span><span data-instanceid='patientDemographic-patientInfo-dob'>{{formatDate birthDate}}</span> (<span data-description="patients-age">{{getAge birthDate}}</span><span aria-hidden="true">y</span><span class="sr-only">years old</span>)
            <br />
            <strong aria-hidden="true">SSN: </strong>
            <span class="sr-only">Social Security Number</span>{{formatSSN ssn false}}
            <br />
            <strong>Gender:</strong> {{genderName}}
            {{#if roomBed}}
            <br /><strong>Room-Bed:</strong> {{roomBed}}
            {{/if}}
            <br /><span class="sr-only">Type of care: </span><span>{{getPatientStatusClassInfo}}</span>
        </p>
    </div>
    <div id="patient-header-demographic-details"></div>
</div>
