<div class="group-header">
	<h5>Phone</h5>
</div>
<div class="group-content">
    <dl>
		<!-- Home -->
	    <dt>Home
	    {{#if hPhone.phone.diff}}
    		<button class="btn btn-icon" type="button" data-toggle="collapse" data-target="#discrepanciesCollapseHPhone" aria-expanded="false" aria-controls="discrepanciesCollapseHPhone" tooltip-data-key="patient_information_deatils_discrepancies" aria-label="View different data found at other sites">
    			<i class="fa fa-exclamation-circle subgroup-icon"></i>
			</button>
		{{/if}}
		</dt>
	    <dd data-diff="{{hPhone.phone.diff}}">
		    <div class="left-padding-xs group-data">{{formatPhone hPhone.phone.value}}</div>
	    </dd>
	    {{#if hPhone.phone.diff}}
		<dd class="collapse" id="discrepanciesCollapseHPhone">
            <div class="well">
            	<p>Other Sites</p>
		    	<dl data-diff="{{hPhone.phone.diff}}" class="discrepancy-group">
		    	{{#each items}}
					{{#if hPhone.phone.diff}}
					<dt>{{facilityName}}</dt>
					<dd class="group-data">{{formatPhone hPhone.phone.value}}</dd>
					{{/if}}
		    	{{/each}}
		    	</dl>
	    	</div>
        </dd>
	    {{/if}}
	    <!-- Cell -->
	    <dt>Cell
	    {{#if cPhone.phone.diff}}
    		<button class="btn btn-icon" type="button" data-toggle="collapse" data-target="#discrepanciesCollapseCPhone" aria-expanded="false" aria-controls="discrepanciesCollapseCPhone" tooltip-data-key="patient_information_deatils_discrepancies" aria-label="View different data found at other sites">
    			<i class="fa fa-exclamation-circle subgroup-icon"></i>
			</button>
		{{/if}}
		</dt>
	    <dd data-diff="{{cPhone.phone.diff}}">
		    <div class="left-padding-xs group-data">{{formatPhone cPhone.phone.value}}</div>
	    </dd>
	    {{#if cPhone.phone.diff}}
	    <dd class="collapse" id="discrepanciesCollapseCPhone">
            <div class="well">
            	<p>Other Sites</p>
				<dl data-diff="{{cPhone.phone.diff}}" class="discrepancy-group">
		    	{{#each items}}
					{{#if cPhone.phone.diff}}
					<dt>{{facilityName}}</dt>
					<dl class="group-data">{{formatPhone cPhone.phone.value}}</dl>
					{{/if}}
		    	{{/each}}
	    		</dl>
	    	</div>
        </dd>
	    {{/if}}
	    <!-- Work -->
	    <dt>Work
	    {{#if wPhone.phone.diff}}
    		<button class="btn btn-icon" type="button" data-toggle="collapse" data-target="#discrepanciesCollapseWPhone" aria-expanded="false" aria-controls="discrepanciesCollapseWPhone" tooltip-data-key="patient_information_deatils_discrepancies" aria-label="View different data found at other sites">
    			<i class="fa fa-exclamation-circle subgroup-icon"></i>
			</button>
		{{/if}}
		</dt>
	    <dd data-diff="{{wPhone.phone.diff}}">
		    <div class="left-padding-xs group-data">{{formatPhone wPhone.phone.value}}</div>
	    </dd>
	    {{#if wPhone.phone.diff}}
	    <dd class="collapse" id="discrepanciesCollapseWPhone">
            <div class="well">
            	<p>Other Sites</p>
				<dl data-diff="{{wPhone.phone.diff}}" class="discrepancy-group">
	    		{{#each items}}
					{{#if wPhone.phone.diff}}
					<dt>{{facilityName}}</dt>
					<dd class="group-data">{{formatPhone wPhone.phone.value}}</dd>
	    			{{/if}}
	    		{{/each}}
				</dl>
	    	</div>
        </dd>
	    {{/if}}
	</dl>
</div>