<div class="demographic-group-header">
	<h5>Service and Social History</h5>
</div>
<div class="demographic-group-content">
    <dl>
		<dt id="demo-vet-status">Veteran Status</dt>
		{{#if veteran}}
		<dd id="demo-vet-status-val" class="left-padding-xs">Yes</dd>
		{{else}}
		<dd id="demo-vet-status-val" class="left-padding-xs">No</dd>
		{{/if}}
		<dt id="demo-marital-status">Marital Status</dt>
		{{#if maritalStatusName}}
		<dd id="demo-marital-status-val" class="left-padding-xs">{{toLowerCase maritalStatusName}}</dd>
		{{else}}
		<dd id="demo-marital-status-val" class="left-padding-xs">No Record Found</dd>
		{{/if}}
		<dt id="demo-religion-status">Religion</dt>
		{{#if religionName}}
		<dd id="demo-religion-status-val" class="left-padding-xs">{{toLowerCase religionName}}</dd>
		{{else}}
		<dd id="demo-religion-status-val" class="left-padding-xs">No Record Found</dd>
		{{/if}}
	</dl>
</div>