<div class="demographic-group-header">
	<h5>Health Benefits and Insurance</h5>
</div>
<div class="demographic-group-content">
	<dl>
		<dt id="demo-svc-connected">Service Connected</dt>
		{{#if serviceConnected}}
		<dd id="demo-svc-connected-status-val" class="left-padding-xs">Yes</dd>
		{{else}}
		<dd id="demo-svc-connected-status-val" class="left-padding-xs">No</dd>
		{{/if}}
		<dt id="demo-svc-conditions">Service Connected Conditions</dt>
		{{#if scCondition.length}}
			{{#each scCondition}}
		<dd id="demo-svc-conditions-values" class="left-padding-xs">{{name}} ({{scPercent}}%)</dd>
			{{/each}}
		{{else}}
		<dd class="left-padding-xs">No Record Found</dd>
		{{/if}}
		<dt id="demo-insurance">Insurance</dt>
		{{#if getInsurance}}
		<dd class="demographic-sub-group-content">
			<span class="sr-only">Patient Insurance Information.</span>
			<dl>
			{{#with getInsurance}}
				{{#if companyName}}
				<dt id="demo-insurance-name">Name</dt>
				<dd id="demo-insurance-name-val" class="left-padding-xs">{{companyName}}</dd>
				{{/if}}
				{{#if groupNumber}}
				<dt id="demo-insurance-gp">Group</dt>
				<dd id="demo-insurance-gp-val" class="left-padding-xs">{{groupNumber}}</dd>
				{{/if}}
				{{#if policyHolder}}
				<dt id="demo-insurance-holder">Holder</dt>
				<dd id="demo-insurance-holder-val" class="left-padding-xs">{{toLowerCase policyHolder}}</dd>
				{{/if}}
				{{#if effectiveDate}}
				<dt id="demo-insurance-eff-date">Effective Date</dt>
				<dd id="demo-insurance-eff-date-val" class="left-padding-xs">{{formatDate effectiveDate}}</dd>
				{{/if}}
				{{#if expirationDate}}
				<dt id="demo-insurance-exp-date">Expiration Date</dt>
				<dd id="demo-insurance-exp-date-val" class="left-padding-xs">{{formatDate expirationDate}}</dd>
				{{/if}}
			{{/with}}
			</dl>
		</dd>
		{{else}}
		<dd class="left-padding-xs">No Record Found</dd>
		{{/if}}
	</dl>
</div>