<div class="demographic-group-header">
	<h5>Health Benefits and Insurance</h5>
</div>
<div class="demographic-group-content">
	<dl>
		<dt id="demo-svc-connected">Service Connected</dt>
		{{#if serviceConnected}}
		<dd id="demo-svc-connected-status-val">Yes</dd>
		{{else}}
		<dd id="demo-svc-connected-status-val">No</dd>
		{{/if}}
		<dt id="demo-svc-conditions">Service Connected Conditions</dt>
		{{#if scCondition.length}}
			{{#each scCondition}}
		<dd id="demo-svc-conditions-values">{{name}} ({{scPercent}}%)</dd>
			{{/each}}
		{{else}}
		<dd>No Record Found</dd>
		{{/if}}
		<dt id="demo-insurance">Insurance</dt>
		{{#if insurance}}
		<dd>
			<table class="ehmp-table-default table">
			<caption class="sr-only">Patient Insurance Information.</caption>
			<tbody>
			{{#with insurance}}
				<tr><th scope="row" id="demo-insurance-name">Insurance Name</th><td id="demo-insurance-name-val">{{companyName}}</td></tr>
				<tr><th scope="row" id="demo-insurance-gp">Group</th><td id="demo-insurance-gp-val">{{groupNumber}}</td></tr>
				<tr><th scope="row" id="demo-insurance-holder">Holder</th><td id="demo-insurance-holder-val">{{toLowerCase policyHolder}}</td></tr>
				<tr><th scope="row" id="demo-insurance-eff-date">Effective Date</th><td id="demo-insurance-eff-date-val">{{formatDate effectiveDate}}</td></tr>
				<tr><th scope="row" id="demo-insurance-exp-date">Expiration Date</th><td id="demo-insurance-exp-date-val">{{formatDate expirationDate}}</td></tr>
			{{/with}}
			</tbody>
			</table>
		</dd>
		{{else}}
		<dd>No Record Found</dd>
		{{/if}}
	</dl>
</div>