.patient-search-tray-list {
	table.table-view--patient-selection {
		&.adjust-table-container {
			margin: 0 -20px -20px -20px;
			thead {
				padding: 0 20px;
			}
			tbody {
				tr {
					padding: 0 20px;
					td {
						padding: 10px 5px;
					}
				}
				&.no-scroll tr {
					padding-right: 35px;
				}
			}
		}
		tbody {
			tr:last-child {
				border: none;
			}
		}
	}
	form.adk-form {
		fieldset legend {
			font-weight: normal;
    		margin-bottom: 15px;
		}
		legend, label {
			text-transform: initial;
		}
	}
}
@import "../../app/applets/patient_selection/assets/sass/imported/confirmation";
@import "../../app/applets/patient_selection/assets/sass/imported/recentPatientsSummary";
@import "../../app/applets/patient_selection/assets/sass/imported/mySiteSearchInput";