.comment-box {
    .muted {
        opacity: 0.5;
    }
    .table-row {
        &.non-muted {
            box-shadow: 0px 2px 12px rgba(0,0,0,0.35);
        }
    }
    .table-row:nth-child(2n) {
        &.non-muted {
            .cancel-edit-comment-button {
                background-color: $pure-white;
            }
        }
    }
    .comment-region {
        .table-row:first-child {
            border-top: 1px solid $grey-light;
            padding-top: 8px;
            .comment-edit-region {
                padding-top: 2px !important; // This is overriding a helper class //
            }
        }
    }
    .comment {
        margin-top: 10px;
        overflow: hidden;
        .form-group {
            padding-left: 0;
            margin: 0;
        }
        > div {
            padding: 0;
            &.col-xs-9 {
                padding: 0 10px 0 0;
            }
            &.col-xs-3 {
                > div > div {
                    padding: 0 0 0 10px;
                    &:first-child {
                        padding: 0;
                    }
                }
            }
        }
    }
    .comment-text-region {
        word-wrap: break-word;
        span {
            font-size: 12px;
        }
    }
    .comment-required {
        margin-left: 5px;
        font-weight: bold;

        input {
            height: 20px;
            width: 0px;
            opacity: 0;
            margin-left: -20px;
        }
    }
}