form.form-container,
form .form-container {
    .control.has-error {
        .form-control {
            border-color: $red-dark;
        }
        .help-block {
            font-weight: bold;
            color: $red-dark;
        }
    }
    .form-group {
        margin-bottom: 5px; //bootstrap override of margin-bottom: 15px;
        textarea {
            max-width: 100%;
            resize: none;
            &:invalid {
                outline: none;
            }
        }
        .faux-label {
            color: $grey-darkest;
            font-weight: 700;
            width: 100%;
        }
        &.input-control .input-group {
            .form-control {
                &:not(:first-child):not(:last-child) {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            }
            .input-group-btn {
                label {
                    &.sr-only {
                        overflow: inherit;
                    }
                }
                select {
                    &.form-control {
                        height: 27px;
                        -webkit-appearance: none;
                        border-radius: 0px 4px 4px 0px;
                    }
                }
            }
        }
        select:not([size]) {
            height: 27px;
        }
        input {
            &[type="text"],
            &[type="password"],
            &[type="email"],
            &[type="number"],
            &[type="url"] {
                height: 27px;
                padding: 3px 6px;
                &:invalid {
                    outline: none;
                }
            }
            &[type=radio][disabled] {
                opacity: .75;
            }
            &.clone-input {
                opacity: 0;
                position: absolute;
                left: 24px;
                height: 100%;
            }
        }
        input.input-sm {
            height: 22px;
        }
        .input-group-addon {
            background-color: $grey-lighter;
            font-size: 11px;
            padding: 2px 6px;
            &.disabled {
                cursor: no-drop;
            }
        }
    }
    .form-control {
        font-size: 11px;
        &[disabled] {
            background-color: $grey-lighter;
        }
    }
    fieldset {
        legend{
            border: none;
            color: $grey-darkest;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }


    .radio input[type="radio"],
    .radio-inline input[type="radio"],
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"] {
        position: relative;
    }
    .form-control .radio,
    .checkbox,
    label, p.faux-label {
        &.disabled,
        &.disabled label {
            color: $grey-dark;
        }
    }
    .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
        margin-left: 8px;
    }
    [class^="col-"] {
        .button-control,
        .dropdown-control {
            +.button-control,
            +.dropdown-control {
                margin-left: 5px;
            }
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    form.form-container,
    form .form-container {
        .form-group {
            .input-group-btn {
                label {
                    position: relative;
                    z-index: 10;
                }
                label:after {
                    content: '\f0dc';
                    font-family: "FontAwesome";
                    font-size: 12px;
                    color: #555555;
                    -webkit-transform: scale(.6, 1);
                    transform: scale(.6, 1);
                    right: 6px;
                    top: 6.4px;
                    padding: 0 0 2px;
                    position: absolute;
                    pointer-events: none;
                }
                label:before {
                    content: '';
                    right: 4px;
                    top: 8px;
                    width: 23px;
                    height: 18px;
                    background: none;
                    position: absolute;
                    pointer-events: none;
                    display: block;
                }
            }
        }
    }
}
