// [data-appletid="global-datepicker"] {}
.global-date-picker {
    .global-date-picker-open-popover--button {
        .fa-calendar {
            border: 5px solid $primary-lightest;
            background-color: $primary-lightest;
            border-radius: 50%;
            font-size: 14px;
        }
    }
    // graph link to trigger popover
    .global-date-picker-open-popover--graph {
        background-color: $grey-lightest;
        cursor: pointer;
        padding: 5px 0px;
    }
    // highcharts importants needed for overwriting highcharts stlyes
    .highcharts-container {
        overflow: visible !important;
    }
    .highcharts-legend-item text {
        color: $primary-dark !important;
        fill: $primary-dark !important;
        font-weight: normal !important;
    }
    // main popover container
    .global-date-picker-popover-container {
        position: absolute;
        height: 100%;
        z-index: 1060;
        right: 0px;
        // region container
        .global-date-picker-popover-region {
            overflow: hidden;
            height: 70vh;
            border-radius: 6px;
            box-shadow: 0 1px 6px 1px rgba(0,0,0,.30);
            background: $pure-white;
            max-width: 686px;
        }
    }
    // controls at the top
    .global-date-picker-controls {
        padding: 5px;
        display: inline-block;
        width: 100%;
        .btn {
            box-shadow: none;
        }
    }
    // graph and result container
    .global-date-picker-graph-results {
        height: calc(100% - 11px);
        // timeline summary results
        > div:nth-of-type(2) {
            height: calc(100% - 193px);
        }
    }
    // making sure the content height is set to 100%
    .global-date-picker-popover-subregion,
    .global-date-picker-popover-subregion > .container-fluid,
    .center-block,
    .timelineSummary-scrollable,
    .timelineSummary-scrollable > div,
    .applet-chrome-body .panel-body,
    .applet-chrome-body .grid-container,
    .applet-chrome-body .grid-container > div,
    .applet-chrome-body .data-grid {
        height: 100%;
    }
    // removes default box-shadow
    .panel-primary {
        box-shadow: none;
    }
    // error tooltip
    .tooltip.top {
        position: fixed;
        .tooltip-inner {
            background-color: $pure-white;
            color: $pure-black;
            font-size: 11px;
            font-weight: bold;
            margin: 5px 5px 0 5px;
            max-width: 190px;
            padding: 0 8px 0 0;
        }
        .tooltip-arrow {
            border-color: transparent;
            border-style: solid;
            border-top-color: $red;
        }
    }
}