[data-appletid="notes"] {}

.workflow-controller #note-preview-body {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-sub-tray {
    .modal-header {
        .container-fluid {
            padding-left: 15px;
        }
    }
    .container-fluid {
        padding-left: 0px;
        .modal-body {
            padding: 0 10px 0 0;
        }
    }
    .note-object-container,
    .consult-container {
        .well-sm {
            .right-border-grey-light {
                min-height: 50px;
            }
            &.active-note-object {
                border: 1px solid $primary;
            }
            .btn-xs {
                width: 96%;
                &:active {
                    color: $pure-white;
                }
            }
        }
    }
}

.panel-title {
    .col-xs-11 {
        &.percent-width-85 {
            .col-xs-12 {
                margin-left: 0px !important; //Done by TT
                padding-left: 0px;
            }
        }
    }
}

.panel-body {
    .accordion-indented-more {
        padding-left: 40px !important; //Done by TT
    }
}

.notes-textarea-wrapper{
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    textarea.form-control {
        height: 100%;
    }
}
