.tooltip {
    &.top .tooltip-arrow {
        border-top-color: $primary-dark;
    }
    &.bottom .tooltip-arrow {
        border-bottom-color: $primary-dark;
    }
    &.right .tooltip-arrow {
        border-right-color: $primary-dark;
    }
    &.left .tooltip-arrow {
        border-left-color: $primary-dark;
    }
    .tooltip-inner {
        background-color: $primary-dark;
        color: $pure-white;
        opacity: 1;
        max-width: 250px;
    }
}