<b>{{ PROCESSNAME }} Details</b><span id="{{ PROCESSNAME }}-urgency" class="left-padding-sm font-size-18">
{{#if showUrgency}}
<span class="label {{ urgencyTag }}">{{ taskVariables.urgency }}</span>
{{/if}}
</span>

<hr>
<div class="row block-display left-padding-xs bottom-margin-lg">
    <div class="col-md-3 font-size-12">
        <span class="color-grey-darker bold-font block-display">Ordering Provider</span>
        <span>{{ CREATEDBYNAME }}</span>
    </div>
    <div class="col-md-3 font-size-12">
        <span class="color-grey-darker bold-font block-display">Location Requested</span>
        <span>{{ taskVariables.location }}</span>
    </div>
    <div class="col-md-3 font-size-12">
        <span class="color-grey-darker bold-font block-display">Earliest Date</span>
        <span>{{ taskVariables.earliestDate }}</span>
    </div>
    <div class="col-md-3 font-size-12">
        <span class="color-grey-darker bold-font block-display">Latest Date</span>
        <span>{{ taskVariables.latestDate }}</span>
    </div>
</div>

<div class="bottom-padding-md">
    <b>Reason for request</b>
    <hr>
    <div class="bottom-padding-md left-padding-xs right-padding-xs">
        <span class="block-display bold-font">Comment</span>
        <span class="block-display">{{ taskVariables.requestComment }}</span>
    </div>
    <div class="bottom-padding-md left-padding-xs right-padding-xs">
        <span class="block-display bold-font">Question</span>
        <span class="block-display">{{taskVariables.requestQuestion}}</span>
    </div>
</div>
