<div class="row bottom-margin-lg">
    <div class="col-xs-12 col-sm-6 col-md-7 font-size-18 left-padding-md"><b>{{ taskVariables.specialty }}</b> ({{ taskVariables.urgency }})</div>
        <div class="col-xs-6 col-md-5 text-right font-size-18 right-padding-md">
            <i class="fa fa-info-circle"></i> {{ taskVariables.orderState }}
            <br>
            <div class="text-right font-size-12 right-padding-md">{{ taskVariables.subOrderState }}</div>
        </div>
</div>

<b>Consult Details</b>
<hr>
<div class="row block-display left-padding-xs bottom-margin-lg">
    <div class="col-md-3 font-size-12">
        <span class="color-grey-darker bold-font block-display">Ordering Provider</span>
        <span>{{ taskVariables.orderingProviderId }}</span>
    </div>
    <div class="col-md-3 font-size-12">
        <span class="color-grey-darker bold-font block-display">Location Request</span>
        <span>{{ taskVariables.location }}</span>
    </div>
    <div class="col-md-3 font-size-12">
        <span class="color-grey-darker bold-font block-display">Earliest Date</span>
        <span>{{ taskVariables.earliestDate }}</span>
    </div>
    <div class="col-md-3 font-size-12">
        <span class="color-grey-darker bold-font block-display">Latest Date</span>
        <span>{{ taskVariables.latestDate }}</span>
    </div>
</div>
<div class="bottom-margin-md">
    <b>Reason for request</b><br>
    <hr>
    <span>{{ taskVariables.requestReason }}</span>
</div>

<div>
    <b>History of consult</b>
    <hr>
    <div class="row left-padding-xs bottom-margin-sm">
        <div class="col-md-2 text-right">
            <span class="bold-font block-display">A. Provider</span>
            <span>12/12/2014 11:12</span>
        </div>
        <div class="col-md-10">
            <span class="bold-font block-display">SCHEDULE REQUEST - Patient did not respond</span>
            <span>The patient is lorem ipsum dolor sit amet.</span>
        </div>
    </div>
</div>
