<div class="form-top-section"></div>
<hr>
<div>
    <div class="row bottom-margin-xl">
        <div class="col-xs-12 col-sm-6 col-md-7 font-size-18 left-padding-md"><b>{{ taskVariables.specialty }}</b></div>
    </div>
    <div class="form-elements"></div>
</div>
<hr>
<div class="bottom-finalize row light-grey-background">
    <p class="non-functional-fields"><strong>Note Object Preview</strong><br>
        I ordered a routine physical therapy lorem ipsum
    </p>
    <div class="form-bottom-section"></div>
    <br><hr><br>
</div>
