<div class="row light-grey-background">
    <div class="btn-toolbar pull-right">
    	<button type="button" data-dismiss="modal" id="modal-delete-button" title="To delete this Consult, select the Delete button." class="btn btn-default">Delete</button>
    	<button type="button" data-dismiss="modal" id="modal-save-button" title="To save and close this Consult, select the Save & Close button." class="btn btn-default">Save &amp; Close</button>
        <button type="button" data-dismiss="modal" id="modal-accept-button" disabled title="To sign the Consult, select the Accept button." class="btn btn-default">Accept</button>
    </div>
</div>