<div class="container-fluid">
    <div class="gdt-padding">
        <div class="pull-left">
            <button id="all-range-global" name="all-range-global" type="button" class="gdt-btn daterange btn btn-primary btn-sm" title="Press enter to select all" accesskey="f">All</button>
            <!-- TODO 5y feature for 7F sprint -->
            <!--<button id="5yr-range-global" name="5yr-range-global" type="button" class="gdt-btn daterange btn btn-sm" title="5 years range">-->
                <!--<span class="sr-only">5 years global date range.</span>5y</button>-->
            <button id="2yr-range-global" name="2yr-range-global" type="button" class="gdt-btn daterange btn btn-primary btn-sm default-range" title="Press enter to select 2 years">
                <span class="sr-only">2 years global date range.</span><span aria-hidden="true">2y</span></button>
            <button id="1yr-range-global" name="1yr-range-global" type="button" class="gdt-btn daterange btn btn-primary btn-sm default-range" title="Press enter to select 1 year">
                <span class="sr-only">1 year global date range.</span>1y</button>
            <button id="3mo-range-global" name="3mo-range-global" type="button" class="gdt-btn daterange btn btn-primary btn-sm" title="Press enter to select 3 months">
                <span class="sr-only">3 months global date range.</span>3m</button>
            <button id="1mo-range-global" name="1mo-range-global" type="button" class="gdt-btn daterange btn btn-primary btn-sm" title="Press enter to select 1 month">
                <span class="sr-only">1 month global date range.</span>1m</button>
            <button id="7d-range-global" name="7d-range-global" type="button" class="gdt-btn daterange btn btn-primary btn-sm" title="Press enter to select 7 days">
                <span class="sr-only">7 days global date range.</span>7d</button>
            <button id="72hr-range-global" name="72hr-range-global" type="button" class="gdt-btn daterange btn btn-primary btn-sm" title="Press enter to select 72 hours">
                <span class="sr-only">72 hours global date range.</span>72h</button>
            <button id="24hr-range-global" name="24hr-range-global" type="button" class="gdt-btn daterange btn btn-primary btn-sm" title="Press enter to select 24 hours">
                <span class="sr-only">24 hours global date range.</span>24h</button>
        </div>
        <div class="form-inline pull-right">
            <div class="input-group date" id="custom-date-from-global">
                <label for="filter-from-date-global" class="sr-only">Start Date</label>
                <input type="text" class="form-control input-sm gdt-input" id="filter-from-date-global" name="filter-from-date-global" size="10" title="Please enter start of date range" />
                <span class="input-group-addon"><i class="fa fa-calendar color-primary"></i></span>
            </div>
            <span class="inputHelperText">to</span>

            <div class="input-group date" id="custom-date-to-global">
                <label for="filter-to-date-global" class="sr-only">End Date</label>
                <input type="text" class="form-control input-sm gdt-input" id="filter-to-date-global" name="filter-to-date-global" size="11" title="Please enter end of date range" />
                <span class="input-group-addon"><i class="fa fa-calendar color-primary"></i></span>
            </div>
            <p class="sr-only">Press tab to cancel or apply date range, or press ALT + K to view the timeline summary.</p>
            <button id="cancel-global" name="cancel-global" type="button" class="gdt-btn btn btn-default btn-sm left-margin-md" title="Press enter to cancel">CANCEL</button>
            <button id="custom-range-apply-global" name="custom-range-apply-global" type="button" class="gdt-btn btn btn-default btn-sm left-margin-xs" title="Press enter to apply" disabled>APPLY</button>
        </div>
    </div>
    <div class="container-fluid scroll-no-padding">
        <div class="row">
            <div class="col-md-12 center-block">
                <div id="trend-history-chart" aria-hidden="true"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 center-block">
                <div id="timeline-summary" class="timeline-summary-scrollable" accesskey="k"></div>
            </div>
        </div>
    </div>
</div>
