<div class="popover gist-popover" role="tooltip" aria-live="assertive">
    {{#if header}}<div class="col-md-12 popover-title-container">
        <div class="col-md-11 popover-title"></div>
        <div class="col-md-1 applet-title-button popover-close-button">
            <button type="button" class="applet-filter-button btn pull-right btn-link" title="Press enter to close.">
                <i class="applet-title-button popover-close-button-icon fa fa-times"></i>
            </button>
        </div>
    </div>
    {{/if}}
    <div class="col-md-12 popover-content">
        <div class="data-content"></div>
    </div>
</div>