<div data-infobutton="{{name}}" data-infobutton-class="info-button-pill"
     {{#if tooltip}}
        data-content="{{tooltip}}" data-toggle="popover"
     {{/if}}
     class="gist-item selectable
     	{{#if severe}}
			severe
		{{else if moderate}}
 	 		moderate
 		{{else if mild}}
			mild
 	 	{{/if}}
 	 ">
    <div class="pill-item-info" role="listitem">
        <p>{{name}}{{#if severe}} *{{/if}}</p>
        <span class="sr-only">{{#if severe}} severe {{else if moderate}} moderate {{else if mild}} mild {{else}} unspecified {{/if}} severity.</span>
        {{#if seriesNorm}}
        <strong class="badge badge--pills">{{seriesNorm}}</strong>
        {{else}}
        <span class="left-padding-xs"></span>
        {{/if}}
        {{#if age}}
        <span class="age right-padding-xs">{{formatTimeSince age}}</span>
        {{/if}}
    </div>
</div>