<li>
    <form>
    	<label for="dropdownSearchElement" class="sr-only">Workspace Filter</label>
        <input type="text" name="searchDropdownScreens" id="dropdownSearchElement" placeholder="Filter workspace by keyword" maxlength="25" title="Enter text to Filter workspaces">
        <button class="hidden btn btn-icon btn-sm" type="button" title="Press enter to clear filter text">
            <i class="fa fa-times"></i>
            <span class="sr-only">Clear Filter</span>
        </button>
    </form>
</li>
<div class="dropdown-menu-items-container"></div>
