{
    "resourceType": "AllergyIntolerance",
#if ($source.summary || $source.comments)
    "text": {
        "status": "generated",
        "div": "<div>$!{source.summary.textValue()}#if ($source.comments)${source.comments.textValue()}#end</div>"
    },
#end
## TODO: perhaps identifier
#if ($source.severity == 1)
    "criticality": "fatal",
#elseif ($source.severity == 3)
    "criticality": "medium",
#else
    "criticality": "high",
#end
    "sensitivityType": "allergy",
    "recordedDate": "$util.vistaDateToFhir($source.entered.toString())",
    "status": "confirmed",## TODO is there some way to calculate this?
    "subject": {
        "reference": "Patient/$patient.identifier",
        "display": "$patient.name"
    },
#if ($source.originatorIen)
    "recorder": {
        "reference": "$util.reference('Practitioner', $source.originatorIen.textValue())"
    },
#elseif ($source.facilityCode)
    "recorder": {
        "reference": "$util.reference('Organization', $source.facilityCode.textValue())"
#if ($source.facilityName),
        "display": "$source.facilityName.textValue()"
#end
    },
#end
#if ($source.products)## TODO: handle product repeats
    "substance": {
        "reference": "$util.reference('Substance', $source.products[0].vuid.textValue())",
        "display": "$source.products[0].name.textValue()"
    },
#end
#if ($source.reactions)
    "reaction": [#foreach ($reaction in $source.reactions){
        "reference": "$util.reference('AdverseReaction', $reaction.vuid.textValue())",
        "display": "$reaction.name.textValue()"
    }#if ($foreach.hasNext),#end#end]
#end
}