<div class="confirmHeader">
    <div class="help-icon-div">
        {{{helpIconLink 'patient_search_confirm'}}}
    </div>
    <button type="button" class="close btn btn-icon btn-xs left-margin-sm" data-dismiss="modal" title="Press enter to close.">
        <i class="fa fa-times fa-lg"></i>
    </button>
</div>
<div class="fixedHeightZone confirmation">
    <div class="patientInfo">
        <div id="patient-image-container" class="patient-detail-head">
            {{#if patientImage}}
            <div aria-hidden="true" class="patient-image" style="background-image:url('{{patientImage}}')"></div>
            {{else}}
            <div aria-hidden="true" class="patient-image" id="patient-image"></div>
            {{/if}}
        </div>
        <div class="patientName">{{formatName displayName ',' ', '}}</div>
        <div class="patient-detail-body">
            {{#if sensitive}}
            <div class="row">
                <div class="col-xs-offset-4 col-xs-4 text-center background-color-pure-white color-red bottom-margin-md font-size-14 sensitive-patient"><span class="sr-only">Sensitive info: </span>*SENSITIVE*</div>
            </div>
            {{/if}}
            <div class="row">
                <div class="col-xs-6 infoLabelStyle">DOB:</div>
                <div class="col-xs-6" id="confirm_birthDate">{{formatDate birthDate "MM/DD/YYYY"}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 infoLabelStyle">Age:</div>
                <div class="col-xs-6" id="confirm_age">{{getAge birthDate}}y</div>
            </div>
            <div class="row">
                <div class="col-xs-6 infoLabelStyle">Gender:</div>
                <div class="col-xs-6" id="confirm_gender">{{genderName}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 infoLabelStyle">SSN:</div>
                <div class="col-xs-6" id="confirm_ssn">{{formatSSN ssn false}}</div>
            </div>
            {{#if roomBed}}
            <div class="row top-margin-md">
                <div class="col-xs-6 infoLabelStyle">Room-Bed:</div>
                <div class="col-xs-6">{{roomBed}}</div>
            </div>
            {{/if}}
        </div>
    </div>
    {{#if navigationOn}}
    {{#if workspaceContext}}
    <div class="previous-workspace-confirmation">
        <div class="checkbox">
            <label for="previousWorkspace">
                <input type="checkbox" id="previousWorkspace" name="previousWorkspace" title="Press spacebar to toggle checkbox."> Resume most recent workspace for this patient
            </label>
        </div>
    </div>
    {{/if}}
    {{/if}}
    <div class="confirmation-div">
        <button type="button" id="confirmationButton" class="confirm btn btn-success btn-block btn-lg" data-loading-text="<i class='fa fa-spinner fa-spin'></i> <span aria-live='assertive' role='progressbar'> Loading Patient Data</span>" data-sync-text="<i class='fa fa-spinner fa-spin'></i> <span aria-live='assertive' role='progressbar'> Syncing Patient Data...</span>" title="Press enter to confirm selection">
            <span aria-hidden="true">Confirm Selection</span>
        </button>
    </div>
</div>
<div class="hidden" id="screenReaderSyncing">
    Syncing patient data...
</div>
<div class="hidden" id="screenReaderLoading">
    Loading patient data...
</div>
