<div class="confirmHeader row" accesskey="k">
    <div class="pull-right all-padding-sm">
        {{{helpIconLink 'patient_search_confirm'}}}
    </div>
    <div class="patientName">{{formatName displayName ',' ', '}}</div>
</div>
<div class="fixedHeightZone">
    <div class="patientInfo">
        <div id="patient-image-container" class="col-md-4 patient-detail-head">
            {{#if patientImage}}
                <img src='{{patientImage}}' alt="Patient Image"/>
            {{else}}
                <div id="patient-image"><i class='fa fa-spinner fa-spin'></i> <span class="sr-only"> Retrieving Patient Image...</span></div>
            {{/if}}
        </div>
        <div class="col-md-8 patient-detail-body">
            <div class="col-xs-5 col-md-5 infoLabelStyle">DOB:</div>
            <div class="col-xs-5 col-md-6" id="confirm_birthDate">{{formatDate birthDate "MM/DD/YYYY"}}</div>
            <br>
            <div class="col-xs-5 col-md-5 infoLabelStyle">Age:</div>
            <div class="col-xs-5 col-md-7" id="confirm_age">{{getAge birthDate}}y</div>
            <br>
            <div class="col-xs-5 col-md-5 infoLabelStyle">Gender:</div>
            <div class="col-xs-5 col-md-7" id="confirm_gender">{{genderName}}</div>
            <br>
            <div class="ccol-xs-5 col-md-5 infoLabelStyle">SSN:</div>
            <div class="col-xs-5 col-md-7" id="confirm_ssn">{{formatSSN ssn false}}</div>
            {{#if roomBed}}
            <br>
            <div class="col-xs-7 col-md-7 infoLabelStyle">Room-Bed:</div>
            <div class="col-xs-5 col-md-5">{{roomBed}}</div>
            {{/if}}
        </div>
    </div>
    <div class="col-md-12">
        <button type="button" id="confirmationButton" class="confirm btn btn-primary btn-block bottom-margin-sm top-margin-sm bottom-padding-sm top-padding-sm" data-loading-text="<i class='fa fa-spinner fa-spin'></i> <span> Loading Patient Data...</span>">Confirm Selection
            <span class="sr-only">Confirm patient {{displayName}}, with social security number {{formatSSN ssn false}}, date of birth {{formatDate birthDate "MM/DD/YYYY"}}, age {{getAge birthDate}}, and gender {{genderName}}? Press enter to select this patient. Confirm.</span>
        </button>
    </div>
    <div class="hidden" id="screenReaderSyncing">
        Syncing Patient.
    </div>
    <div class="hidden" id="screenReaderLoading">
        Loading Patient.
    </div>
