<p class="sr-only" accesskey="m" tabindex="-1">Patient Selection Main Menu</p>
<h3>Quick Lists</h3>
<ul class="list-unstyled flex-item-fixed">
    <li>
        <button id="recentPatients" type="button" class="btn btn-link selection-changer" title="Press enter to activate, then press ALT + P to view results">Recent Patients</button>
    </li>
    <li>
        <button id="myCprsList" type="button" class="btn btn-link selection-changer" title="Press enter to activate, then press ALT + P to view results">My CPRS List</button>
    </li>
</ul>
<h3>Patient Search</h3>
<ul class="list-unstyled">
    <li class="flex-item-fixed">
        <button id="mySite" type="button" class="btn btn-link selection-changer" title="Press enter to activate, then press ALT + E to begin searching">My Site</button>
    </li>
    <li class="clinics-wrapper sub">
        <button id="clinics" type="button" class="btn btn-link selection-changer" title="Press enter to activate, then press ALT + C to begin searching">Clinics</button>
        <div id="locationClinics" class="locations-list"></div>
    </li>
    <li class="wards-wrapper sub">
        <button id="wards" type="button" class="btn btn-link selection-changer" title="Press enter to activate, then press ALT + W to begin searching">Wards</button>
        <div id="locationWards" class="locations-list"></div>
        <li class="flex-item-fixed">
            <button id="global" type="button" class="btn btn-link selection-changer" title="Press enter to activate, then press ALT + E to begin searching">Nationwide</button>
        </li>
</ul>
