<li id='myCprsList' role='presentation'>
	<a role='tab' data-toggle='tab' href='' title='You are currently on the my cprs tab. Press enter to activate tab. Use the left and right arrow keys to navigate between tabs, and then press the tab key to view content.' accesskey="m">My CPRS List</a>
</li>
<li id='clinics' role='presentation'>
    <a role='tab' data-toggle='tab' href='' title='You are currently on the clinics tab. Press enter to activate tab. Use the left and right arrow keys to navigate between tabs, and then press the tab key to view content.'>Clinics</a>
</li>
<li id='wards' role='presentation'>
    <a role='tab' data-toggle='tab' href='' title='You are currently on the wards tab. Press enter to activate tab. Use the left and right arrow keys to navigate between tabs, and then press the tab key to view content.'>Wards</a>
</li>
<div class="pull-right all-padding-xs right-padding-sm">
{{{helpIconLink 'mySite'}}}
</div>