<span class="sr-only">Clinics Results</span>
<div class="columnHeader row">
	<div class="col0 columnName right-padding-no left-margin-no col-xs-2 user_info-ps-th-datetime">
		<span class="visible-lg">Appt Date / Time</span>
		<span class="visible-xs visible-sm visible-md">Date / Time</span>
	</div>
	<div class="col1 columnName right-padding-no col-xs-2 user_info-ps-th-clinic">Clinic Name</div>
	<div class="col2 columnName right-padding-no col-xs-3 user_info-ps-th-name">Patient Name</div>
	<div class="col3 columnName right-padding-no col-xs-2 user_info-ps-th-ssn">SSN</div>
	<div class="col4 columnName right-padding-no col-xs-2 user_info-ps-th-dob">
		<span class="visible-xs visible-sm visible-md">DOB</span>
		<span class="visible-lg">Date of Birth</span>
	</div>
	<div class="col5 columnName right-padding-no col-xs-1 user_info-ps-th-gender">Gender</div>
</div>
<div class="list-group" role="listbox" aria-live="assertive"></div>