<div class="patient-search-wrapper">
    <div class="patient-search-sidebar" id="mainSidebar"></div>
    <div class="patient-search-output">
        <div class="patient-search-items-wrapper">
            <div id="patient-search-input"></div>
            <div id="resultsNum"></div>
            <div id="patient-search-main"></div>
        </div>
    </div>
    <div id="patient-search-confirmation" class="hidden"></div>
</div>
<div class="help-close">
    <div class="patient-search-help">
        {{{helpIconLink 'patient_search'}}}
    </div>
</div>