<div class="columnHeader row">
	<div class="col0 columnName right-padding-no col-xs-4">Patient Name</div>
	<div class="col1 columnName right-padding-no col-xs-2">SSN</div>
	<div class="col2 columnName right-padding-no col-xs-2">
		<span class="visible-lg">Date of Birth</span>
		<span class="visible-xs visible-sm visible-md">DOB</span>
	</div>
	<div class="col3 columnName right-padding-no col-xs-2">Gender</div>
	<div class="col4 columnName right-padding-no col-xs-2">Room-Bed</div>
</div>
<div class="list-group" role="listbox" aria-live="assertive"></div>