<span class="sr-only">My CPRS list</span>
<div class="columnHeader row">
	<div class="col0 columnName all-padding-no all-margin-no col-xs-2">
		<span class="visible-lg"><span class="sr-only">Appointment</span>
		<span aria-hidden="true">Appt</span> Date/Time</span>
		<span class="visible-xs visible-sm visible-md">Date/Time</span>
	</div>
	<div class="col1 columnName left-padding-no col-xs-1">Location</div>
	<div class="col2 columnName col-xs-3">Patient Name</div>
	<div class="col3 columnName left-padding-no col-xs-2">
		<span class="sr-only">Social security number</span>
		<span aria-hidden="true">SSN</span>
	</div>
	<div class="col4 columnName left-padding-no col-xs-1">
		<span class="visible-xs visible-sm visible-md">
		<span class="sr-only">Date of birth</span>
		<span aria-hidden="true">DOB</span></span>
		<span class="visible-lg">Date of Birth</span>
	</div>
	<div class="col5 columnName left-padding-sm col-xs-1">Gender</div>
	<div class="col6 columnName col-xs-2">
		<span class="sr-only">Room and Bed</span>
		<span aria-hidden="true">Rm-Bd</span>
	</div>
</div>
<div class="list-group" role="listbox" aria-live="assertive"></div>