<span class="sr-only">Press tab to view results.</span>	
<div class="columnHeader row">
	<div class="col0 columnName no-padding-right col-md-2 user_info-ps-th-datetime hide-large">Date/Time</div>
	<div class="col0 columnName no-padding-right col-md-2 user_info-ps-th-datetime hide-small">Appt Date/Time</div>
	<div class="col1 columnName no-padding-right col-md-2 user_info-ps-th-clinic">Clinic Name</div>
	<div class="col2 columnName no-padding-right col-md-3 user_info-ps-th-name">Patient Name</div>
	<div class="col3 columnName no-padding-right col-md-2 user_info-ps-th-ssn">SSN</div>
	<div class="col4 columnName no-padding-right col-md-2 user_info-ps-th-dob visible-xs visible-sm visible-md">DOB</div>
	<div class="col4 columnName no-padding-right col-md-2 user_info-ps-th-dob visible-lg">Date of Birth</div>
	<div class="col5 columnName no-padding-right col-md-1 user_info-ps-th-gender">Gender</div>
</div>
<div class="list-group"></div>