<span class="sr-only">Press tab to view results.</span>
<div class="columnHeader row">
	<div class="col0 columnName no-padding-right col-md-2 visible-xs visible-sm visible-md">Date/Time</div>
	<div class="col0 columnName no-padding-right col-md-2 visible-lg">Appt Date/Time</div>
	<div class="col1 columnName no-padding-right col-md-2">Location</div>
	<div class="col2 columnName no-padding-right col-md-2">Patient Name</div>
	<div class="col3 columnName no-padding-right col-md-2">SSN</div>
	<div class="col4 columnName no-padding-right col-md-2 visible-xs visible-sm visible-md">DOB</div>
	<div class="col4 columnName no-padding-right col-md-2 visible-lg">Date of Birth</div>
	<div class="col5 columnName no-padding-right col-md-1 ">Gender</div>
	<div class="col6 columnName no-padding-right col-md-1 hide-large">Rm-Bd</div>
	<div class="col6 columnName no-padding-right col-md-1 hide-small">Room-Bed</div>
</div>
<div class="list-group"></div>