<div class="list-group-item-text row cursor-hand">
		<div class="col-xs-4 right-padding-no patientDisplayName">
		<span class="sr-only">. Patient record, name</span>
		{{displayName}}
	</div>
	<div class="col-xs-2 left-padding-no ssn">
		<span class="sr-only">. Social security number</span>
		{{ssn}}
	</div>
	<div class="col-xs-2 all-padding-no dob">
		<span class="sr-only">. Date of birth</span>
		{{birthDate}}
		{{#if age }}
		<span class="sr-only">. Age</span>
		({{age}}y)
		{{/if}}
	</div>
	<div class="col-xs-2">
		<span class="sr-only">. Gender</span>
		{{genderName}}
	</div>
	<div class="col-xs-2">
		{{#if roomBed}}
		<span class="sr-only">. Room-Bed</span>
		{{roomBed}}
		{{else}}
		&nbsp;
		{{/if}}
	</div>
	<span class="sr-only">Press enter to activate patient, then tab to the patient confirmation. To search for a new patient press ALT + E.</span>
</div>