<div class="list-group-item-text row cursor-hand">
	<div class="col0 data all-padding-no all-margin-no col-xs-2">
		<span class="sr-only">. Appointment Date and Time</span>
		{{formatDate appointment "MM/DD/YYYY HH:mm"}}
	</div>
	<div class="col1 data left-padding-no col-xs-1">
		<span class="sr-only">. Location</span>
		{{locationName}}
	</div>
	<div class="col2 data col-xs-3 patientDisplayName">
		<span class="sr-only">. Patient record, name</span>
		{{displayName}}
	</div>
	<div class="col3 data left-padding-no col-xs-2 ssn">
		<span class="sr-only">. Social security number</span>
		{{ssn}}
	</div>
	<div class="col4 data left-padding-no col-xs-1 dob">
		<span class="sr-only">. Date of birth</span>
		{{birthDate}}
		{{#if age }}
		<span class="sr-only">. Age</span>
		({{age}}y)
		{{/if}}
	</div>
	<div class="col5 data left-padding-xl col-xs-1">
		<span class="sr-only">. Gender</span>
		{{genderName}}
	</div>
	<div class="col6 data left-padding-xl col-xs-2">
		<span class="sr-only">. Room-Bed</span>
		{{roomBed}}
	</div>
	<span class="sr-only">Press enter to activate patient, then tab to the patient confirmation. To search for a new patient press ALT + E.</span>
</div>