<div class="list-group-item-text row cursor-hand">
		<div class="col-xs-2 all-padding-no left-padding-xs user_info-ps-td-datetime">
			<span aria-hidden="true" class="hidden user_info-ps-sm-th">Appt Date/Time:</span>
			<span class="sr-only">. Appointment date and time</span>
			{{#if appointmentTime}}
				{{formatDate appointmentTime "MM/DD/YYYY HH:mm"}}
			{{else}}
				No Appointment Date
			{{/if}}
		</div>
		<div class="col-xs-2">
			<span aria-hidden="true" class="hidden user_info-ps-sm-th">Clinic Name:</span>
			<span class="sr-only">. Clinic Name</span>
			{{clinicName}}
		</div>
		<div class="col-xs-3 right-padding-no patientDisplayName user_info-ps-td-name">
			<span aria-hidden="true" class="hidden user_info-ps-sm-th">Patient Name:</span>
			<span class="sr-only">. Patient record, name</span>
			{{displayName}}
		</div>
		<div class="col-xs-2 left-padding-no user_info-ps-td-ssn ssn">
			<span aria-hidden="true" class="hidden user_info-ps-sm-th">SSN:</span>
			<span class="sr-only">. Social security number</span>
			{{ssn}}
		</div>
		<div class="col-xs-2 all-padding-no user_info-ps-td-adob dob">
			<span aria-hidden="true" class="hidden user_info-ps-sm-th">DOB:</span>
			<span class="sr-only">. Date of birth</span>
			{{birthDate}}
			{{#if age }}
			<span class="sr-only">. Age</span>
			({{age}}y)
			{{/if}}
		</div>
		<div class="col-xs-1 left-padding-no user_info-ps-td-gender">
			<span aria-hidden="true" class="hidden user_info-ps-sm-th">Gender:</span>
			<span class="sr-only">. Gender</span>
			{{genderName}}
		</div>
		<span class="sr-only">Press enter to activate patient, then tab to the patient confirmation. To search for a new patient press ALT + E.</span>
</div>