<li href="#mySite" id="mySite">
    <a role="tab" data-toggle="tab" href="">My Site<span class="sr-only">You are currently on the my site tab. Press enter to activate tab. Use the left and right arrow keys to navigate between tabs, and then press the tab key to view content.</span></a>
</li>
<li href="#global" id="global">
    <a role="tab" data-toggle="tab" href="">Nationwide<span class="sr-only">You are currently on the nationwide tab. Press enter to activate tab. Use the left and right arrow keys to navigate between tabs, and then press the tab key to view content.</span></a>
</li>