[data-appletid="orders"] {
    .grid-toolbar {
        height: 25px;
        .toolbar-item {
            border-radius: 0;
            padding: 2px 5px;
            border: 0;
            border-bottom: 1px solid $grey-light;
            select {
                min-width: 160px;
                background-color: $pure-white;
                background-clip: padding-box;
                border: 1px solid $grey;
            }
        }
    }
    .appletDiv_ChromeContainer .gridContainer .grid-container {
        height: calc(100% - 25px);
    }
}
// [Edison] Do not remove unless you have alternative, this is to supress eye icon for signature field in IE 11. (US10826)
#signatureCode input::-ms-clear,
input::-ms-reveal {
    display: none !important;
}
