<div class="row">
	<div class="col-sm-8">
		<h3 class="capitalize">{{service}} - {{tasktype}} - {{taskname}}</h2>
	</div>
	<div class="col-sm-4 text-right">
		Due Date
		<br />
		{{duedate}} - {{duetime}}
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<p>To Do Notes</p>
		<hr />
		<div class="col-sm-8">
			<p>{{todonote}}</p>
		</div>
		<div class="col-sm-4 text-right">
			{{ui-button "More Details" classes="btn-default" title="Press enter to view additional note details." state="disabled"}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 notes">
	</div>
</div>