<div class="row">
    <div class="col-xs-12">
        <p><strong>CAUTION!</strong><br/>
            Once you deprecate the following Permission Set, it will no longer be available for assignment to users and
            assigned Permissions to this Set will no longer be granted to users at login.</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>To temporarily turn off a Permission Set, use the EDIT function and set the status to inactive</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>You are about to deprecate the following permission set: <br/>
            <strong>{{label}}</strong>
        </p>
    </div>
</div>