<div id="nameStatusRegion" class="row">
    <div class="col-xs-10">
        <h5 class='font-size-16 bottom-margin-no bottom-padding-no'>{{label}}</h5>
    </div>
    <div class="col-xs-2 text-right">
        <h5 class='font-size-16 text-uppercase bottom-margin-no bottom-padding-no'> {{status}}</h5>
    </div>
</div>

<div class="detail-modal-content">
    <div class="row">
        <div class="col-xs-12">
            <h5 class="bottom-border-grey">PERMISSION SET DETAILS</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <p>
                <span data-detail-label="category"><strong>Category</strong></span><br/>
                <span data-detail="category"> {{category}}</span>
            </p>
        </div>
        <div class="col-xs-3">
            <p>
                <span data-detail-label="introduced"><strong>Introduced in eHMP version</strong></span><br/>
                <span data-detail="introduced"> {{introduced}}</span>
            </p>
        </div>
        <div class="col-xs-3">
            <p>
                <span data-detail-label="deprecated"><strong>Deprecated in eHMP version</strong></span><br/>
                <span data-detail="deprecated">{{deprecated}}</span>
            </p>
        </div>
        <div class="col-xs-3">
            <p>
                <span data-detail-label="national access"><strong>National Access</strong></span><br/>
                <span data-detail="national access"> {{nationalAccess}}</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <p>
                <span data-detail-label="created on"><strong>Created On</strong></span><br/>
                <span data-detail="created on"> {{createdOn}}</span>
            </p>
        </div>
        <div class="col-xs-3">
            <p>
                <span data-detail-label="created by"><strong>Created By</strong></span><br/>
                <span data-detail="created by"> {{createdBy}}</span>
            </p>
        </div>
        <div class="col-xs-3">
            <p>
                <span data-detail-label="edited on"><strong>Edited On</strong></span><br/>
                <span data-detail="edited on"> {{editedOn}}</span>
            </p>
        </div>
        <div class="col-xs-3">
            <p>
                <span data-detail-label="edited by"><strong>Edited By</strong></span><br/>
                <span data-detail="edited by"> {{editedBy}}</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <span data-detail-label="description"><strong>Description</strong></span><br/>
                <span data-detail="description"> {{description}}</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>
                <span data-detail-label="notes"><strong>Notes</strong></span><br/>
                <span data-detail="notes"> {{notes}}</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>
                <span data-detail-label="examples"><strong>Examples</strong></span><br/>
                <span data-detail="examples"> {{examples}}</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>
                <span data-detail-label="permissions"><strong>Individual Permission</strong></span><br/>
                <span data-detail="permissions"> {{permissions}}</span>
            </p>
        </div>
    </div>
</div>