// base navbar
.navbar {
    &.navbar-default {
        border: 0px;
        border-radius: 0px;
        border-bottom: 1px solid $grey;
        min-height: 20px;
        margin-bottom: 0px;
        .container-fluid {
            ul,
            li {
                &.divider-left {
                    border-left: 1px solid $grey;
                }
                &.divider-right {
                    border-right: 1px solid $grey;
                }
            }
            ul.nav {
                &.navbar-nav {
                    margin: 3px 2px;
                    li:not(.prevent-default-styling) {
                        font-size: 14px;
                        height: 20px;
                        ul {
                            &.dropdown-menu {
                                margin-top: 2px;
                            }
                        }
                        button,
                        a,
                        p {
                            color: $primary;
                            margin-top: -3px;
                            padding: 3px 10px;
                            &:hover {
                                color: $primary-dark;
                                outline: none;
                            }
                            &:focus {
                                color: $primary-dark;
                                outline: $primary-dark dotted thin;
                            }
                            // overwriting bootstrap default
                            &.btn-link:hover {
                                text-decoration: none;
                            }
                            &.context-navigation-link {
                                height: 27px;
                                &.active {
                                    background: white;
                                    border-color: $grey;
                                    border-style: none solid;
                                    border-width: medium 1px;
                                    color: $primary-dark;
                                    margin-bottom: 0;
                                    outline: none;
                                }
                            }
                        }
                        p {
                            color: $grey-darkest;
                            &:hover {
                                color: $grey-darkest;
                            }
                        }
                    }
                    li {
                        ul {
                            &.dropdown-menu {
                                li a {
                                    width: 100%;
                                    &:hover,
                                    &:focus {
                                        background-color: $grey-lightest;
                                    }
                                }
                            }
                        }
                        .context-navigation-link {
                            .fa-stack {
                                height: 12px;
                                line-height: 12px;
                                margin-top: -6px;
                                width: 15px;
                            }
                            .fa-circle {
                                font-size: 16px;
                            }
                            .fa-user {
                                margin-top: 2px;
                            }
                        }
                        // Dropdown menu divider
                        &.divider {
                            height: 1px;
                        }
                        //Shortcuts and Notifications
                        &.alert-dropdown {
                            &.open {
                                button,
                                a {
                                    background: $primary;
                                    border-radius: 0;
                                    color: $pure-white;
                                    padding-bottom: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
