<ul>
{{#if facility}}<li class="footer-facility">Logged into {{facility}}</li>{{/if}}
{{#if syncStatus}}
    {{#each syncStatus}}
        {{#if completed}}
            {{#compare completed true}}
               <li class="patient-status-icon" type="button" data-toggle="tooltip" data-html="true" data-placement="top" data-original-title="<div'>{{hoverTip}}</div><br>{{#if newDataSince}} New {{else}} No  new{{/if}} data since last upload {{#if timeStamp}} {{timeStamp}} ago{{/if}}">
                {{#if newDataSince}}
                    <i class="fa fa-clock-o text-warning"></i> <span aria-hidden="true">{{title}}</span>
                    <span class="sr-only">{{screenReaderTitle}}</span>
                    <span class="sr-only">New data available.</span>
                {{else}}
                    <i class="fa fa-check-circle success"></i> <span aria-hidden="true">{{title}}</span>
                    <span class="sr-only">{{screenReaderTitle}}</span>
                {{/if}}
                {{#if timeStamp}}
                    <span class="sr-only">
                        Last successful sync: {{timeStamp}} ago.
                    </span>
                {{else}}
                    <span class="sr-only">
                        Data is current.
                    </span>
                {{/if}}
                </li>
            {{/compare}}
            {{#compare completed 'error'}}
                <li class="patient-status-icon" data-toggle="tooltip" data-html="true" data-placement="top" data-original-title="<div'>{{hoverTip}}</div><br>Error loading new data. Report this error to your IT support" >
                    <i class="fa fa-minus-circle fail"></i> <span aria-hidden="true">{{title}}</span>
                    <span class="sr-only">{{screenReaderTitle}}</span>
                    <span class="sr-only">Sync error.</span>
                </li>
            {{/compare}}
        {{else}}
            <li class="patient-status-icon loading-muted" data-toggle="tooltip" type="button" data-html="true" data-placement="top" data-original-title="<div'>{{hoverTip}}</div> <br>Refreshing">
                <i class="fa fa-spinner fa-spin"></i> <span aria-hidden="true">{{title}}</span>
                <span class="sr-only">{{screenReaderTitle}}</span>
                <span class="sr-only">Sync in progress.</span>
            </li>
        {{/if}}
    {{/each}}
    <li class="footer-divider-right">
        <button type="button" class="btn btn-xs btn-default" id="refresh-patient-data" title="Press enter to refresh all of the data sites.">
            <i class="fa fa-refresh"></i> Refresh All Data
        </button>
    </li>
    <li class="footer-divider-left">
        <button type="button" class="btn btn-xs btn-default" id="open-sync-modal" title="Press enter to view details of eHMP data sources.">
            <i class="fa fa-server">
                <span class="sr-only">eHMP Data Sources</span>
            </i> View Details
        </button>
    </li>
    <li class="help-button-container"></li>
{{/if}}
</ul>




