<form action="#" id="nationwideSearchForm" class="form-container nationwide-search">
	<div title="Global Search Input">
		<div class="global-search-form-title">
			<h4 class="sr-only">Nationwide Search</h4>
			<p class="search-instructions">Enter the patient's first name, last name, and SSN to enable search.<span class="sr-only">Press Alt + M to view main menu</span></p>
		</div>
		<div id="globalSearchInputGroup" class="global-search-input-group">
			<div class="global-search-input-div">
				<label for="globalSearchLastName" class="sr-only">Last Name</label>
			    <input type="text" autocomplete="off" class="form-control input-lg" id="globalSearchLastName" placeholder="Last Name (req)" title="Enter in patient's last name" value="{{globalSearchParameters.name.last}}" aria-required="true" />
			</div>
			<div class="global-search-input-div">
				<label for="globalSearchFirstName" class="sr-only">First Name</label>
		    	<input type="text" autocomplete="off" class="form-control input-lg" id="globalSearchFirstName" onfocus="this.value = this.value;" placeholder="First Name (req)" title="Enter in patient's first name" value="{{globalSearchParameters.name.first}}"  aria-required="true"/>
		    </div>
		    <div class="global-search-input-div">
				<label for="globalSearchDob" class="sr-only">Date of Birth</label>
		    	<input type="text" autocomplete="off" class="form-control input-lg" id="globalSearchDob" placeholder="DOB: MM/DD/YYYY" value="{{globalSearchParameters.date.birth}}" title="Enter in patient's date of birth in the format of MM/DD/YYYY" />
		    </div>
		    <div class="global-search-input-div">
				<label for="globalSearchSsn" class="sr-only">SSN</label>
		    	<input type="text" autocomplete="off" class="form-control input-lg" id="globalSearchSsn" placeholder="SSN: ###-##-#### (req)" value="{{globalSearchParameters.ssn}}" title="Enter in patient's 9 digit social security number without dashes" aria-required="true"/>
		    </div>
		    <div class="global-search-input-button">
				<button type="button" id="globalSearchButton" class="btn btn-primary btn-lg" title="Press enter to search and then press ALT + U to view results" disabled="disabled">Search</button>
			</div>
		</div>
	</div>
</form>