<nav class="navbar navbar-default background-color-primary-light">
    <div class="container-fluid left-padding-no right-padding-no right-margin-sm">
        <div class="application-header-items-left"></div>
        <div class="application-patient-icons"></div>
        <div class="navbar-right pull-right flex-display">
            <div class="application-user-icons"></div>
            <div class="application-header-items-right"></div>
            <div class="application-user-actions"></div>
        </div>
    </div>
</nav>