<div class="bottom-padding-sm">
    <div class="solr-sync-status left-margin-xs right-margin-xs row"></div>
    <div class="patient-search-disclaimer left-margin-sm right-margin-xs top-padding-sm row">
    	<p role="note" class="bottom-margin-no">
	    	<em>
	    		Search is still under development and may not return all expected results.  Please review the patient record manually to ensure accuracy.
	    	</em>
    	</p>
    </div>
    <div class="left-margin-xs right-margin-xs row">
        <div class="number-of-results font-size-13 inline-block-display left-padding-xs right-padding-xs top-padding-sm"></div>
        <div class="synonyms-button inline-block-display top-padding-sm"></div>
    </div>
</div>
