<div class="search-applet-main container-fluid background-color-pure-white">
	<div class="row bottom-border-grey-light search-result-header top-padding-sm bottom-padding-sm">
    	<div class="search-date-range-filter col-xs-11"></div>
    	<div class="text-search-right-side-button-content col-xs-1 flex-display flex-align-center flex-justify-content-end"></div>
    </div>
    <div class="search-results-header row left-padding-sm right-padding-sm"></div>
    <div class="search-results-content row auto-overflow"></div>
</div>
