<div class="search-group panel panel-default {{#compare subGroup true}} searchResultItem-filterable topLevelItem documentSubgroup dataUnfetched{{/compare}}" {{#if subGroup}} sortText="{{groupName}}" date="{{datetime}}" count="{{count}}" subGroupType="{{subGroupType}}" groupOnText="{{groupOnText}}" docSearchText="{{docSearchText}}" {{/if}} groupId="{{groupId}}">
	<button type="button" class="btn btn-accordion all-padding-xs" data-toggle="collapse" data-target="#{{groupId}}" aria-expanded="false" title="Press enter to expand {{groupName}} accordion">
		<i class="fa fa-chevron-right left-padding-sm right-padding-sm"></i>
		<span class="badge-region right-margin-sm"></span>
		<span id="{{titleElemId}}" class="text-uppercase">{{highlightText groupName}}</span>
	</button>
	<div class="panel-collapse collapse" id="{{groupId}}">
		<div class="loading-region"></div>
		<div class="{{#if mainGroup}} {{mainGroup}} {{/if}} group-content list-group">
			<!-- group result content goes here -->
		</div>
	</div>
</div>