<div data-toggle="dropdown" class="providerInfo-container">
    <div role="button" tabindex="0" class="panel-padding" id="patientDemographic-providerInfoSummary" title="Press enter to display extended provider information">
        <h4 class="sr-only">Basic provider information</h4>
        <div class="provider-info-initial-data">
            <div class="primaryProvider-summary">
                <div id="primaryCareTeam">
                    <span>Primary Care:</span> {{toTitleCase teamInfo.team.name true 'Unassigned'}}
                </div>
                <div id="pimaryCareProviders">{{toTitleCase teamInfo.primaryProvider.name true 'Unassigned'}} / {{toTitleCase teamInfo.associateProvider.name true 'Unassigned'}}</div>
                <div id="primaryCarePhone">{{formatPhone teamInfo.team.phone 'Unassigned'}}</div>
            </div>
            {{#if isInpatient}}
            <div class="inpatient" id="inpatientProviders">
                <div id="inpatientHeading">
                    <span class="inpatientAttending-summary"><span>Inpatient Attending / Provider:</span></span>
                </div>
                <div>{{toTitleCase teamInfo.attendingProvider.name true 'Unassigned'}} / {{toTitleCase teamInfo.inpatientProvider.name true 'Unassigned'}}</div>
                <div></div>
            </div>
            {{/if}}
            {{#if hasMhInfo}}
            <div class="mhTreatment-summary row-display border-top-thin">
                <div id="mhTeam">
                    <span>Mental Health:</span> {{toTitleCase teamInfo.mhCoordinator.mhTeam true 'Unassigned'}}
                </div>
                <div id="mhProvider">{{toTitleCase teamInfo.mhCoordinator.name true 'Unassigned'}}</div>
                <div></div>
            </div>
            {{/if}}
        </div>
    </div>
    <i class="fa fa-caret-right text-muted"></i>
</div>
<div class="dropdown-menu well well-sm patient-info-dropdown" aria-labelledby="patientDemographic-providerInfoSummary">
    <form role="presentation">
        <div class="container-fluid" tabindex="0" role="menuitem">
            <div class="row">
                <table class="table renderable">
                    <caption class="sr-only">Extended provider information</caption>
                    <thead>
                        <tr>
                            <th class="renderable" scope="column">Provider Title</th>
                            <th class="renderable" scope="column">Name</th>
                            <th class="renderable" scope="column">Analog Pager</th>
                            <th class="renderable" scope="column">Digital Pager</th>
                            <th class="renderable" scope="column">Office Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="primary-provider">
                            <td class="renderable">Primary Care Provider</td>
                            <td class="renderable">{{toTitleCase teamInfo.primaryProvider.name true 'Unassigned'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.primaryProvider.analogPager 'not specified'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.primaryProvider.digitalPager 'not specified'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.primaryProvider.officePhone 'not specified'}}</td>
                        </tr>
                        <tr class="primary-assoc-provider">
                            <td class="renderable">Primary Care Assoc Provider</td>
                            <td class="renderable">{{toTitleCase teamInfo.associateProvider.name true 'Unassigned'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.associateProvider.analogPager 'not specified'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.associateProvider.digitalPager 'not specified'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.associateProvider.officePhone 'not specified'}}</td>
                        </tr>
                        {{#if isInpatient}}
                        <tr class="inpatient-attending-provider">
                            <td class="renderable">Inpatient Attending Provider</td>
                            <td class="renderable">{{toTitleCase teamInfo.attendingProvider.name true 'Unassigned'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.attendingProvider.analogPager 'not specified'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.attendingProvider.digitalPager 'not specified'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.attendingProvider.officePhone 'not specified'}}</td>
                        </tr>
                        <tr class="inpatient-provider">
                            <td class="renderable">Inpatient Provider</td>
                            <td class="renderable">{{toTitleCase teamInfo.inpatientProvider.name true 'Unassigned'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.inpatientProvider.analogPager 'not specified'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.inpatientProvider.digitalPager 'not specified'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.inpatientProvider.officePhone 'not specified'}}</td>
                        </tr>
                        {{/if}}
                        <tr class="mh-treatment-team">
                            <td class="renderable">MH Treatment Team</td>
                            <td class="renderable">{{toTitleCase teamInfo.mhCoordinator.mhTeam true 'Unassigned'}}</td>
                            <!-- Mh teams don't have pagers-->
                            <td class="renderable">not specified</td>
                            <td class="renderable">not specified</td>
                            <td class="renderable">{{formatPhone teamInfo.mhCoordinator.mhTeamOfficePhone 'not specified'}}</td>
                        </tr>
                        <tr class="mh-coordinator">
                            <td class="renderable">MH Treatment Coordinator</td>
                            <td class="renderable">{{toTitleCase teamInfo.mhCoordinator.name true 'Unassigned'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.mhCoordinator.analogPager 'not specified'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.mhCoordinator.digitalPager 'not specified'}}</td>
                            <td class="renderable">{{formatPhone teamInfo.mhCoordinator.officePhone 'not specified'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
