<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="logo"><img src="../../../_assets/img/ehmp-logo.png"></div>
        {{#if patientName}}
        <ul class="nav navbar-nav pull-left">
            <li>
                <a href="#" id="current-patient-nav-header-tab" title="Press enter to navigate to the {{toTitleCase patientNavTabTitle}}">
                    <i class="fa fa-circle"></i><i class="fa fa-user"></i> {{toTitleCase patientName}}
                </a>
            </li>
        </ul>
        {{/if}}
        <ul class="nav navbar-nav navbar-right">
            <li>
                {{#hasPermission 'read-patient-record'}}
                <a id="patientSearchButton" href="#" title="Press enter to return to patient search and choose another patient">
                    <i class="fa fa-user" aria-hidden="true"></i><i class="fa fa-search" aria-hidden="true"></i> Patient Selection
                </a> {{/hasPermission}}
            </li>
            <!-- <li class="top-margin-xs">
                <div>{{{helpIconLink 'patient_search_button' 'color-pure-white'}}}</div>
            </li> -->
            {{#each navTabs}}
            <li>
                <a href="#{{routeName}}" id="{{toLowerCase finalID}}" class="navigation-tab" title="Press enter to navigate to the {{toTitleCase finalTitle}} view">
                    <i class="fa fa-user-md"></i> {{toTitleCase title}}
                </a>
            </li>
            {{/each}}
            <li>
                <a href="#" id="myNotificationsButton" title="Press to see notifications.">
                    <i class="fa fa-bell"></i> My Notifications
                </a>
            </li>
            <!-- <li class="top-margin-xs">
                <div>{{{helpIconLink 'user_info' 'color-pure-white'}}}</div>
            </li> -->
            <li class="dropdown">
                <a href="#" id="eHMP-CurrentUser" class="dropdown-toggle" data-toggle="dropdown" data-target="#" aria-expanded="false" title="Press enter to open user menu">
                   <i class="fa fa-user"></i> {{lastname}}, {{firstname}} <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu right-padding-sm">
                    <li class="color-grey-darkest">{{facility}}</li>
                    <li>{{title}}</li>
                    <li role="separator" class="divider"></li>
                    {{#each pages}}
                    <li role="presentation">
                        <a href="#{{pageName}}">{{pageName}}</a>
                    </li>
                    {{/each}}
                    <li>
                        <a href="#" id="logoutButton" title="Press enter to sign out and return to sign in page."><span class="fa fa-power-off"></span> Sign Out</a>
                    </li>
                </ul>
            </li>
            <li class="divider-left">
                <div>{{{helpIconLink 'ehmp_header' 'color-primary'}}}</div>
            </li>
        </ul>
    </div>
</nav>
