[data-appletid="user_management"] {
	z-index: 100;
	position: relative;
    // do not remove this height *** required for resizeUtil.js to function (DE2928)
	.grid-toolbar {
		height: 55px;
		overflow: visible;
		padding-bottom: 0;
	}
	.data-grid {
		width: 100%;
		overflow-y: hidden;
		#data-grid-user_management td {
			word-break: normal;
		}
	}
}
.paginator-user-management-bulk-edit{
	margin-top: -17px;
}