[data-appletid="user_management"] {
    // do not remove this height *** required for resizeUtil.js to function (DE2928)
	.grid-toolbar {
		height: 55px;
	}
	.data-grid {
		width: 100%;
		overflow-y: hidden;
	}
}