.modal .modal-dialog.patient-confirmation-modal {
    margin: 40px auto 0;
    .modal-content {
        overflow: hidden;
        .modal-header {
            &.hasTitle {
                border-bottom: 2px solid $pure-white;
            }
        }
        .modal-body {
            outline: none;
        }
        .modal-footer {
            &:empty {
                border: none;
            }
            border-top: 2px solid $pure-white;
            outline: none;
        }
        #patient-image-container {
            width: 172px;
            height: 172px;
            overflow: hidden;
            border-radius: 86px;
            border: 1px solid $pure-white;
            margin: 0 auto;
            padding: 10px;
            background-color: $pure-white;
            .patient-image {
                width: 150px;
                height: 150px;
                border-radius: 75px;
                background: url('../../_assets/img/patient.png') center center;
                background-size: cover;
            }
        }
        .confirmation-body-container {
            .fixedHeightZone {
                padding: 0px 15px;
                .patientInfo {
                    margin-bottom: 20px;
                    .patient-detail-body {
                        font-size: 13px;
                        .sensitive-text-container {
                            .sensitive-patient {
                                border-radius: 3px;
                                padding: 2px 0;
                            }
                            h4.panel-title {
                                border-bottom: 1px solid $pure-white;
                                text-transform: uppercase;
                                font-size: 12px;
                                display: block;
                                margin-bottom: 5px;
                                padding: 0 0 10px 0;
                                button {
                                    padding: 0;
                                    color: $red-dark;
                                }
                                // TODO unsure what this is
                                > span {
                                    color: $grey-darkest;
                                    text-transform: none;
                                    display: block;
                                }
                            }
                            .panel-body {
                                padding: 0 0 10px 0;
                            }
                        }
                        .infoLabelStyle {
                            text-align: right;
                            font-weight: 600;
                        }
                    }
                }
                &.restricted {
                    .patientInfo {
                        #patient-image-container .patient-image {
                            background-image: url('../../_assets/img/spy.png');
                        }
                    }
                }
                &.flags {
                    .flags-wrapper {
                        > .panel {
                            margin-top: 15px;
                            border: none;
                            border-radius: 5px;
                            box-shadow: none;
                            word-wrap: break-word;
                            .panel-heading {
                                background-color: inherit;
                                border: none;
                                padding: 5px 10px 2px;
                                border-bottom: 1px solid $grey-light;
                                margin: 0;
                                .panel-title {
                                    padding: 0;
                                    color: $primary-dark;
                                    text-transform: uppercase;
                                    font-size: 14px;
                                    & > span {
                                        white-space: nowrap;
                                        margin-bottom: 4px;
                                    }
                                    .label {
                                        margin-top: 2px;
                                        box-shadow: none;
                                        padding: 3px 5px;
                                        font-size: 11px;
                                        font-weight: normal;
                                        color: $grey-darkest;
                                    }
                                }
                            }
                            .panel-body {
                                padding: 10px;
                                h5 {
                                    margin: 0 0 10px 0;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
