<div gistviewtype="interventions" role="presentation" class="faux-table">
    <div class="header table-row" role="row">
        <div class="flex-width-1" role="presentation">
            <div aria-sort="none" role="gridcell" class="table-cell">
                <div>
                    <a href="#" data-header-instanceid="name-header"
                         role="button"
                         class="{{#if gistHeaders.name.sortable}}selectable{{/if}}"
                         sortable="{{gistHeaders.name.sortable}}"
                         sortType="{{gistHeaders.name.sortType}}"
                         sortDirection="none"
                         sortKey="{{gistHeaders.name.key}}"
                         tooltip-data-key="{{gistHeaders.name.hoverTip}}">
                        {{gistHeaders.name.title}}
                        <i sortArrow="headerDirectionalIndicator" class="sort-caret fa color-primary"></i>
                        <span class="sr-only toolbar-508">{{gistHeaders.name.hoverTip}}</span>
                        <span class="sr-only sort-span">Press enter to sort</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex-width-1" role="presentation">
            <div aria-sort="none" role="gridcell" class="table-cell flex-width-0_5">
                <a href="#" data-header-instanceid="severity-header"
                     role="button"
                     class="{{#if gistHeaders.count.sortable}}selectable{{/if}}"
                     sortable="{{gistHeaders.count.sortable}}"
                     sortType="{{gistHeaders.count.sortType}}"
                     sortDirection="none"
                     sortKey="{{gistHeaders.count.key}}"
                     tooltip-data-key="{{gistHeaders.count.hoverTip}}">
                    {{gistHeaders.count.title}}
                    <i sortArrow="headerDirectionalIndicator" class="sort-caret fa color-primary"></i>
                    <span class="sr-only toolbar-508">{{gistHeaders.count.hoverTip}}</span>
                    <span class="sr-only sort-span">Press enter to sort</span>
                </a>
            </div>
            <div aria-sort="none" role="gridcell" class="table-cell">
                <a href="#" data-header-instanceid="fillable-header"
                     role="button"
                     class="{{#if gistHeaders.fillableStatus.sortable}}selectable{{/if}}"
                     sortable="{{gistHeaders.fillableStatus.sortable}}"
                     sortType="{{gistHeaders.fillableStatus.sortType}}"
                     sortDirection="none"
                     sortKey="{{gistHeaders.fillableStatus.key}}"
                     tooltip-data-key="{{gistHeaders.fillableStatus.hoverTip}}">
                    {{gistHeaders.fillableStatus.title}}
                    <i sortArrow="headerDirectionalIndicator" class="sort-caret fa color-primary"></i>
                    <span class="sr-only toolbar-508">{{gistHeaders.fillableStatus.hoverTip}}</span>
                    <span class="sr-only sort-span">Press enter to sort</span>
                </a>
            </div>
            {{#if isNotActiveMeds}}
            <div aria-sort="none" role="gridcell" class="table-cell">
                <a href="#" data-header-instanceid="age-header"
                     role="button"
                     class="{{#if gistHeaders.age.sortable}}selectable{{/if}}"
                     sortable="{{gistHeaders.age.sortable}}"
                     sortType="{{gistHeaders.age.sortType}}"
                     sortDirection="none"
                     sortKey="{{gistHeaders.age.key}}"
                     tooltip-data-key="{{gistHeaders.age.hoverTip}}">
                    {{gistHeaders.age.title}}
                    <i sortArrow="headerDirectionalIndicator" class="sort-caret fa color-primary"></i>
                    <span class="sr-only toolbar-508">{{gistHeaders.age.hoverTip}}</span>
                    <span class="sr-only sort-span">Press enter to sort</span>
                </a>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="gist-item-list body auto-overflow-y" role="rowgroup"></div>
</div>