<div role="row" class="table-row" {{#if userWorkspace}} draggable="true" {{/if}} data-content="{{tooltip}}" data-toggle="popover">
    <!-- tile button wrapped in a role="gridcell" div will be injected here -->
    <div data-cell-instanceid="name_desc_{{uid}}" role="gridcell" class="table-cell border-vertical" data-cell-tilesort="tilesort">
        <strong>{{modifiedName}}</strong>
        {{modifiedDescription}}
    </div>
    <div data-cell-instanceid="count_{{uid}}" role="gridcell" class="table-cell flex-width-0_5 text-center border-vertical">
        <span class="{{isfacilityLabel}}">{{count}}</span>
    </div>
    <div data-cell-instanceid="status_{{uid}}" role="gridcell" class="table-cell text-center valign-middle {{#if isNotActiveMeds}}border-vertical{{/if}}" title="{{isfacilityDesc}}">
        <span class="{{isfacilityLabel}}">{{fillableStatus}}</span>
    </div>
    {{#if isNotActiveMeds}}
    <div data-cell-instanceid="age_{{uid}}" role="gridcell" class="table-cell text-center">{{formatTimeSince age}}</div>
    {{/if}}
</div>
