<div role="presentation" class="toolbar-container"/>
    <div role="row" class="table-row" {{#if userWorkspace}} draggable="true" {{/if}}>
        <div role="presentation" class="selectable flex-width-2 border-vertical" aria-label="{{name}}, {{description}}">
            <span class="sr-only">Press enter to open or close the toolbar menu.</span>
            <div data-cell-instanceid="name_desc_{{uid}}" role="gridcell" class="table-cell border-vertical">
                <strong>{{name}}</strong>
                {{modifiedDescription}}
            </div>
        </div>
        <div role="presentation" class="selectable" title="{{name}}" data-content="{{tooltip}}" data-toggle="popover" tabindex="0" aria-label="Press enter to open or close the quicklook table. Button.">
            <div data-cell-instanceid="count_{{uid}}" role="gridcell" class="table-cell flex-width-0_5 text-center border-vertical">{{count}}</div>
            <div data-cell-instanceid="status_{{uid}}" role="gridcell" class="table-cell text-center valign-middle {{#if isNotActiveMeds}}border-vertical{{/if}}" title="{{isfacilityDesc}}">
                <span class="{{isfacilityLabel}}">{{fillableStatus}}</span>
            </div>
            {{#if isNotActiveMeds}}
            <div data-cell-instanceid="age_{{uid}}" role="gridcell" class="table-cell text-center">{{formatTimeSince age}}</div>
            {{/if}}
        </div>
    </div>
</div>