<form class="form-inline top-padding-xs bottom-padding-xs left-padding-xs" role="form">
    <fieldset>
        <legend class="sr-only">Date Range Filter</legend>
        <div class="top-padding-xs bottom-padding-xs">
            <div class="btn-group btn-group-xs">
                <button id="past-month-clinicDate" name="past-month-clinicDate" type="button" class="btn btn-default" title="Press enter to select last 30 Days.">Last 30d</button>
                <button id="past-week-clinicDate" name="past-week-clinicDate" type="button" class="btn btn-default" title="Press enter to select last 7 Days.">Last 7d</button>
                <button id="yesterday-clinicDate" name="yesterday-clinicDate" type="button" class="btn btn-default" title="Press enter to select Yesterday.">Yesterday</button>
                <button id="today-clinicDate" name="today-clinicDate" type="button" class="btn btn-default active-range" title="Press enter to select Today.">Today</button>
                <button id="tomorrow-clinicDate" name="tomorrow-clinicDate" type="button" class="btn btn-default" title="Press enter to select Tomorrow.">Tomorrow</button>
                <button id="next-week-clinicDate" name="next-week-clinicDate" type="button" class="btn btn-default" title="Press enter to select  Next 7 Days.">Next 7d</button>
            </div>
        </div>
        <div class="input-group date" id="custom-date-from-clinic">
            <label for="filter-from-date-clinic" class="sr-only">Start Date</label>
            <input type="text" class="form-control input-sm" placeholder="MM/DD/YYYY"  id="filter-from-date-clinic" name="filter-from-date-clinic" title="Please enter start of date range." />
            <span class="input-group-addon" aria-hidden="true" for="filter-from-date-clinic"><i class="fa fa-calendar color-primary"></i></span>
        </div>
        <span class="all-padding-xs">to</span>
        <div class="right-padding-xs input-group date" id="custom-date-to-clinic">
            <label for="filter-to-date-clinic" class="sr-only">End Date</label>
            <input type="text" placeholder="MM/DD/YYYY" class="form-control input-sm" id="filter-to-date-clinic" name="filter-to-date-clinic" title="Please enter end of date range." />
            <span class="input-group-addon" aria-hidden="true" for="filter-to-date-clinic"><i class="fa fa-calendar color-primary"></i></span>
        </div>
        <button id="custom-range-apply" name="custom-range-apply-location" type="submit" class="btn btn-primary" title="Press enter to apply search filters and then press tab to review results.">Apply</button>
    </fieldset>
</form>