<div class="filter col-md-12"></div>
<div class="col-md-12 row">
    <div class="col-md-3 smallColumn">
        <div id="{{locationType}}-location-list-filter-input"></div>
        <div id="{{locationType}}-location-list-results-loading"></div>
        <div id="{{locationType}}-location-list-error-message"></div>
        <div id="{{locationType}}-location-list-results" class="simple-list list-result-container"></div>
    </div>
    <div title="My Site Clinics Search Results" class="searchResults">
        <div class="patient-search-results col-md-12" accesskey="u"></div>
    </div>
</div>
