<div class="fixedHeightZone restricted">
    <div class="patientInfo">
        <div id="patient-image-container" class="patient-detail-head">
            <div aria-hidden="true" class="patient-image" id="patient-image"></div>
        </div>
        <div class="patientName font-size-20 color-primary-dark top-margin-md bottom-margin-md text-center">{{formatName displayName ',' ', '}}</div>
        <div class="patient-detail-body"><div class="sensitive-text-container"></div></div>
    </div>
</div>
