<div class="confirmHeader">
    <div class="help-icon-div"></div>
    {{#unless hideCloseX}}
    <button type="button" class="close btn btn-icon btn-xs left-margin-sm" data-dismiss="modal" title="Press enter to close.">
        <i class="fa fa-times fa-lg"></i>
    </button>
    {{/unless}}
</div>
<div class="fixedHeightZone flags" aria-live="assertive" aria-relevant="additions" style="{{inlineStyle}}">
    <div class="patientName">
        {{formatName displayName ',' ', '}}
    </div>
    <div class="flags-wrapper">
        {{#each patientRecordFlag}}
        <div class="sensitivePanel panel panel-danger bottom-margin-no">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="flex-grow-loose">{{name}}</span>
                    <span class="label label-warning{{#compare category 'I (NATIONAL)'}} label-danger{{/compare}} flex-grow-fixed color-pure-black">Category {{category}}</span>
                </h4>
            </div>
            <div class="panel-collapse collapse in ackMessagePanel">
                <div class="panel-body">
                    <h5>{{text}}</h5>
                    <div class="patientInfo row">
                        <div class="col-md-6 infoLabelStyle">Initial Assigned Date:</div>
                        <div class="col-md-6 no-padding-left">{{formatDate assignTS "MM/DD/YYYY HH:mm"}}</div>
                    </div>
                    <div class="patientInfo row">
                        <div class="col-md-6 infoLabelStyle">Approved by:</div>
                        <div class="col-md-6 no-padding-left">{{approved}}</div>
                    </div>
                    <div class="patientInfo row">
                        <div class="col-md-6 infoLabelStyle">Assignment Status:</div>
                        <div class="col-md-6 no-padding-left">{{assignmentStatus}}</div>
                    </div>
                    <div class="patientInfo row">
                        <div class="col-md-6 infoLabelStyle">Owner Site:</div>
                        <div class="col-md-6 no-padding-left">{{ownerSite}}</div>
                    </div>
                    <div class="patientInfo row">
                        <div class="col-md-6 infoLabelStyle">Originating Site:</div>
                        <div class="col-md-6 no-padding-left">{{originatingSite}}</div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="confirmation-div">
        <button type="button" id="confirmFlaggedPatinetButton" class="confirm btn btn-success btn-block btn-lg" title="Press enter to confirm this patient" data-loading-text="<i class='fa fa-spinner fa-spin'></i><span aria-live='assertive' role='progressbar'> Loading Patient Data </span>">
            <span aria-hidden="true">Confirm</span>
        </button>
    </div>
</div>
