<caption class="sr-only">{{caption}}</caption>
<thead>
    <tr>
        <th scope="col" class="flex-width-2">
            <span class="sr-only">Appointment Date and Time</span>
            <span aria-hidden="true">Appt</span> Date/Time
        </th>
        <th scope="col" class="flex-width-3">
            <span class="sr-only">Location, Room and Bed</span>
            <span aria-hidden="true">Location (Rm-Bd)</span>
        </th>
        <th scope="col" class="flex-width-3">Patient Name<span class="sr-only"> and first initial of last name, followed by last four of social security number</span></th>
        <th scope="col" class="flex-width-3">Date of Birth</th>
    </tr>
</thead>
<tbody></tbody>
