.patient-postings {
   .cwad-detail-list {
        .dl-horizontal {
            dt {
                width: 65px;
            }
            dd {
                margin-left: 70px;
            }
            dt, dd {
                text-overflow: inherit;
                white-space: normal;
                word-wrap: break-word;
                word-break: keep-all;
            }
        }
        .content {
            padding: 3px 10px;
            margin: 5px 0;
        }
    }
}