<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">

	<context:annotation-config />

	<task:scheduler id="taskScheduler" pool-size="1" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<!-- Load defaults from the normal classpath... -->
				<value>classpath:cds-engine-agent.properties</value>
			</list>
		</property>
	</bean>

	<bean id="jacksonJsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"></bean>

	<util:list id="webClientProviders">
		<ref bean="jacksonJsonProvider" />
	</util:list>

	<bean id="jsonWebClient" class="org.apache.cxf.jaxrs.client.WebClient"
		factory-method="create">
		<constructor-arg type="java.lang.String" value="${serviceUrl}" />
		<constructor-arg ref="webClientProviders" />
	</bean>

	<bean id="message" class="com.cognitive.cds.engine.agent.Message">
		<property name="name" value="${openCdsName}" />
		<property name="type" value="${openCdsType}" />
		<property name="host" value="${openCdsHost}" />
		<property name="port" value="${openCdsPort}" />
		<property name="status" value="true" />
	</bean>

	<bean id="engineAgent" class="com.cognitive.cds.engine.agent.EngineAgent">
		<property name="message" ref="message" />
		<property name="jsonWebClient" ref="jsonWebClient" />
	</bean>

	<bean class="com.cognitive.cds.engine.agent.EngineAgentEventListener">
		<property name="retryTime" value="180000" />
	</bean>


</beans>

