<div class="table-row selectable collapsed whole-row" title="{{#if futureTime}}Next{{else}}Recent{{/if}} {{kind}}" data-toggle="{{#if tooltip}}popover{{/if}}" data-content="{{tooltip}}">
    <div class="table-cell border-vertical all-margin-no all-padding-no flex-width-1_5">
        <button class="left-side btn btn-accordion all-padding-xs" aria-expanded="false" type="button">
            <i arrowPosition="right" class="fa fa-caret-right right-margin-xs"></i> {{kindPlural}}
        </button>
    </div>
    <div class="table-cell text-center border-vertical">
        {{timeSinceLast}}
    </div>
    <div class="table-cell text-center flex-width-0_5">
        {{count}}
    </div>
    <div class="table-cell flex-width-1_5">
        <span class="sr-only"> Graph.</span>
        <div class="graph-container" aria-hidden="true"></div>
    </div>
</div>
<div class="panel-collapse collapse" data-toggle="false" role="tabpanel"></div>
