<div class="header table-row">
    <div class="table-cell flex-width-1_5">
        <span data-header-instanceid="description-header">
            Encounter
        </span>
    </div>
    <div class="table-cell text-center">
        <span data-header-instanceid="age-header" tooltip-data-key="encounters_last">
            Last
        </span>
    </div>
    <div class="table-cell flex-width-2_5">
        <span data-header-instanceid="event-header" tooltip-data-key="encounters_hxoccurance">
            Hx Occurrence
        </span>
    </div>
    <div data-header-instanceid="graph-header" class="table-cell flex-width-0">
        <span class="sr-only">Graph</span>
    </div>
</div>
<div class="enc-gist-list body auto-overflow-y" role="tablist"></div>