<table id="{{id}}" data-toggle="popover" class="table table-condensed table-layout-fixed">
    <caption class="sr-only">Quicklook Table. This table represents a brief summary for the selected encounter.</caption>
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Service</th>
            <th scope="col">Provider</th>
            <th scope="col">Facility</th>
        </tr>
    </thead>
    <tbody>
    {{#if allGroupedEncounters}}
        {{#each allGroupedEncounters}}
            <tr>
                <td>{{showDate}}</td>
                <td class="word-wrap-break-word">{{Service}}</td>
                <td class="word-wrap-break-word">{{encProvider}}</td>
                <td>{{facilityMoniker}}</td>
            </tr>
        {{/each}}
    {{/if}}
    </tbody>
</table>